[2020-02-19 00:13] matteobruni opened #39 "mouse event not working"
Something in the project reorganize has broken the mouse events. The only version affected is the 1.5.0.

[2020-02-19 00:22] #39 closed, assigned to matteobruni

[2020-08-01 14:40] matteobruni opened #646 "Theme property in options"
Options should have a theme option that can be used to specify which options should be used, like the array index configuration.

This should help create particles themes creating a general preset that will be added to the `tsParticles` instance and the named options with customisations.

This is an example of how should work:

[code]

This is what I think this feature should be

[2020-08-07 14:46] erwanp opened #669 "change Line-Linked color based on Particles property"
Hello, and well done for this project !

I set up [tsparticles](https://github.com/matteobruni/tsparticles) on the new Github Page of my project. Works great ! https://radis.github.io/slack-invite/

What I'm looking for is a way to adjust the color of the Line-Linked based on the property of the two Particles it's connected to. Basically I want to mix the colors !

Is this something doable in the

[2020-08-07 14:57] matteobruni commented on #669
Hi @erwanp, this feature is already a thing so you can start using it now 😉!

I probably need to document it better

[code]

If you set links like this, those are the 3 properties required to be like that, you'll have links coloured like the particles they're connected.

The gradient length is calculated using particles sizes, so if you have two particles of different size the gradient won't be ce

[2020-08-07 16:11] erwanp commented on #669
Excellent news !

Regarding the implementation, currently I have
[code]
which itself is an attribute of `particles`. Should I understand that `links` is another property of the same level as `particles` ? Would you have a link to an example that already implements this ? (I tried to search through your repo with no luck)

[2020-08-07 16:23] matteobruni commented on #669
Links is just the new name of lineLinked or line_linked. I still support all of them but officially is links

[2020-08-07 16:25] erwanp commented on #669
Thanks, I actually [tried directly](https://github.com/radis/slack-invite/blob/master/main.js#L53) in the meantime and it worked. Result is great !!

[2020-08-07 16:32] erwanp commented on #669
In grab mode, however, the link ends up blinking with random colors although there is only one particle nearby. Do you have any idea [on how to set the color to be the 1 particle color in that case ] ? Example here:  https://radis.github.io/slack-invite/

Edit: trying by keeping it empty, we'll see! The documentation is not very explicit on this

[2020-08-07 17:27] matteobruni commented on #669
Probably `grab` has no support for that, this could be the missing feature!

Thanks for reporting, I'll include that in a future release, I don't know at the moment if it will be in the 1.17 milestone or 1.18.

When this will be fixed I'll let you know

[2020-08-07 22:55] #669 closed, assigned to matteobruni

[2020-08-07 22:57] matteobruni commented on #669
tsParticles 1.17.7 is released and has this feature! If you use `random` color in `grab` mode you can control it using `consent` and `blink` in the same spot.

[code]

this is enough to have grab links related to particles color

[2020-08-08 16:51] Himanshunitrr commented on #646
I will like to fix this issue with some help!!

[2020-08-08 16:53] matteobruni commented on #646
Hi @Himanshunitrr,

Welcome and thanks! If you want to discuss this issue or need help you can join Slack so we can talk more freely, otherwise we can discuss here if you don't want. No pressure 😉

[2020-08-08 16:54] Himanshunitrr commented on #646
What's your slack channel ?

[2020-08-08 16:55] Himanshunitrr commented on #646
Got it.

[2020-08-11 00:22] matteobruni commented on #646
@Himanshunitrr you can see it working here in the alpha 3 version: https://codepen.io/matteobruni/full/rNeOaWP

Thanks for the help!

[2020-08-12 14:22] darekaze opened #686 "TypeError: svgPathSeg is undefined when using Polygon in Next.js"
**Describe the bug**
When using tsparticles in Next.js, using polygon throws `TypeError: svgPathSeg is undefined`

My Typescript version is 3.9.7, the reproduction is made using js but still doesn't work either.
This [example codepen](https://codepen.io/matteobruni/pen/LYGMwyZ?editors=1010) is used to reproduce the bug.

Next.JS output:
[code]

**To Reproduce**
[Code sandbox](https://codesandbox.i

[2020-08-12 16:30] matteobruni commented on #686
Hi @darekaze,

You were missing the `pathseg` library, that is mandatory for the `polygon` options.

With Next.js is a little bit tricky but I found a solution:

[code]

This should fix the issue.

I forked your codesandox to find a solution: https://codesandbox.io/s/crazy-stonebraker-f67ms?file=/pages/index.js

Hope it helps

[2020-08-12 18:06] darekaze commented on #686
Ah, sorry I just notice the need of dependency for Polygon. Thanks for clarify!

[2020-08-12 18:06] #686 closed, assigned to nobody

[2020-08-14 08:29] matteobruni opened #691 "Link triangles frequency"
Link triangles could have a frequency of filling (0...1 values with 1 as default)

Using `Math.random()` if it's greater than the frequency the triangle will be filled.

The frequency option is missing and must be added

[2020-08-14 08:36] matteobruni opened #692 "Missing color features"
All the colours supports HEX string (short or long), RGB or HSL objects.

The missing options that should be added are:

- HSV

If you need other options let me know

Gradients can be an option too but will require probably some rework and could not be compatible with some options like color animation (it starts from H = 0 and will reach 360/0 using the speed value) or `connect` interactive mode t

[2020-08-16 09:43] lifeeric opened #700 "Property 'id' does not exist on type 'IntrinsicAttributes"
**Describe the bug**
I'm facing issue when I assign id to Particles component like `<Particles id="tsparticles" />`, there error is below

[code]

**Screenshots**
![image](https://i.ibb.co/LhpWYdL/Screenshot-from-2020-08-16-05-40-23.png)

[2020-08-16 10:45] #700 closed, assigned to nobody

[2020-08-16 10:45] matteobruni commented on #700
Fixed that in 1.17.8, it was a non breaking error but I'd like to have it fixed

[2020-08-18 19:26] 6vx opened #715 "Changing particle size without refreshing animation"
Hi,

Apologies if this isn't the place for this, I couldn't figure out how else to contact.

**Is your feature request related to a problem? Please describe.**
I want to increase the size of particles on the fly. I'm using Svelte and have a function that increases particlesConfig.particles.size.value by X every time it runs. However, the increase refreshes the entire animation resulting in a very

[2020-08-18 20:34] matteobruni commented on #715
Hi @6vx,

You can update the particles size value directly on the particles but it's a little bit tricky.
You need to retrieve the tsParticles `Container` instance. You can try using

[code]

This won't trigger the refresh

If this won't work, could you create a CodeSandbox with the issue? So I can support you much better

[2020-08-19 03:47] 6vx commented on #715
I appreciate the reply. to be honest I may just not know enough generally to do what you said.

Also I've never made a code sandbox. o_O

But I added that const (even though I don't really know what a domItem is, sorry) , and then put your "for" into the function I was using, and I'm clearly missing something.

I did the same thing to the default svelte template and ended up with a bunch of errors

[2020-08-19 06:08] matteobruni commented on #715
Thanks for the CodeSandbox, the error was what I’ve imagined.
I’ll fix it in 1.17.9 and release it later.

[2020-08-19 15:49] matteobruni commented on #715
I've released `svelte-particles` 1.0.10 with an event that returns you a Particles Container object where you can access `particles` property.

You can read here (https://www.npmjs.com/package/svelte-particles) how to implement it.

Referring that code you can add this at the end of the `onParticlesLoaded ` function:

[code]

The `domItem` was a function of the `tsParticles` main object but in Sve

[2020-08-19 15:57] #715 closed, assigned to nobody

[2020-08-21 15:48] 6vx commented on #715
Wow. I got it working the way I wanted using your instructions. I'm thankful and delighted by the whole experience. Much gratitude.

[2020-08-21 16:31] 6vx commented on #715
I'm using script lang="ts" in my projects script tags, svelte recently added that option.
![Screenshot 2020-08-21 102950](https://user-images.githubusercontent.com/59522072/90913258-3e1fe300-e399-11ea-9f7b-e451aa446506.png)

 I don't know if that's relevant but I mention because the error I'm getting is related to an undeclared type.

Property '$on' does not exist on type 'unknown'. ts(2339)

![Sc

[2020-08-21 17:03] 6vx commented on #715
I tried remaking the component in a regular svelte app, without the script lang ts, and it did not have the squigglies. So. It is the typescript. I assume. Just wants to know something. I don't know how to declare this particular thing that it wants to know, though. Or what it wants to know. lmao.

[2020-08-21 17:45] matteobruni commented on #715
I converted the component in TypeScript in the next minor release, probably this will fix this issue

[2020-08-23 13:42] matteobruni commented on #691
The frequency options are not enough, they have been implemented in the commit https://github.com/matteobruni/tsparticles/commit/37e1c926e647e5d450e998ff7f7bb3c45aa3d850.

The triangles using only this frequency started twinkling with a frequency between 0 and 1.

This will require some extra work for storing links and triangles with their visibility.

[2020-08-24 20:42] matteobruni opened #739 "Out Mode customizable for every edge"
OutMode actually is specified once for all edges like this:

[code]

But I think that more customizable options can bring more cool effects, gravity can benefit this setup.

The options should become something like this:

[code]

The commented options are just to show what it should be. If specified default all unset properties will be set to that value.

The new `OutMode.none` should also be impl

[2020-08-27 19:01] amerkarim opened #748 "Multiple images with different animation"
I have 2 different images, I need the first image to move up and the other one to move down, is there a way I can assign a "move" object with all of its options to each image?

[2020-08-27 20:44] matteobruni commented on #748
Hi @thegodliek,

Yes it's possible, I created a pen here

https://codepen.io/matteobruni/pen/MWymBxX

In short, you need this configuration:

[code]

[2020-08-27 20:57] amerkarim commented on #748
Thank you for the response, it's what I was looking for, but in your example, the apple.png image is set to move to top, but some of them are moving down!

Is there anyway to fix that?

[2020-08-27 20:59] matteobruni commented on #748
Yes I noticed that and I'm currently investigating

[2020-08-27 21:46] matteobruni commented on #748
tsParticles v1.17.10 is out with the bug fix

[2020-08-27 21:53] amerkarim commented on #748
Thank you very much! The issue is now fixed.

[2020-08-27 21:53] #748 closed, assigned to matteobruni

[2020-08-28 14:40] matteobruni opened #752 "New GitHub Pages website"
The current Github Page is just the readme, but creating a cool website with samples and guides would be awesome.
The documentation created by TypeDoc inside the `core\main` folder could be included too.

The website architecture could be done with everything, I don't care about it. Angular, React, Vue.js, plain HTML is all good, the only requirement is it must work fine, and obviously **tsParticl

[2020-08-31 13:09] Shuna322 opened #773 "Impossible to fully navigate Configuration Options Documentation"
The most annoying thing that I have right now with this project is bad documentation.

For some unknown reasons, export functions from the demo site, etc have different keys and undocumented features.

Example:
On page
https://github.com/matteobruni/tsparticles/wiki/tsParticles-Options-Particles
We can see `lineLinked` key but it's actually the `links`.

And when we look at `links` documentation w

[2020-08-31 13:24] matteobruni commented on #773
Hi @Shuna322,

Thanks for the report, I'm aware that the wiki is a little behind and it will be fixed as soon as possible, hopefully in a few weeks.

I'm working on a visual editor (#534) that will have all the options so it's easier to understand what each option does.

The website also needs a refresh (#753) but this can wait for now.

If you want to see all the available options you can have a

[2020-08-31 13:36] matteobruni commented on #773
Just to explain the options you mentioned:

`line_linked`, `lineLinked`, `links` are all valid

I'll detail here the properties of that section:

- `blink`: it's a boolean value and if set to `true` the link line will have a different color each frame, creating a blinking effect
- `consent`: it's a boolean value and if set to `true` all link lines will have the same random color

These two propert

[2020-08-31 14:34] matteobruni opened #774 "New Interaction Mode: Bounce"
Actually particles bounce on canvas edges and between them, a good idea is to make them bounce (if configured) on some interactive events.

It can be a DOM element (Div Events) or an invisible wall centered in the current mouse position with a configurable radius (like the `repulse` mode).

The work can be started from the actual `repulse` mode and making the particle bounce instead of move around

[2020-08-31 23:02] matteobruni commented on #752
I've updated the TypeDoc scripts to solve the #773 issue in the #775 PR, it deploys to the `gh-pages` branch the TypeDoc generated files, probably the simplest way is to customize the theme instead of a new website

[2020-09-01 18:36] matteobruni commented on #752
The TypeDoc theme used is this: https://github.com/tsparticles/typedoc-particles-theme

[2020-09-08 06:41] Waterstraal commented on #752
Just a heads up: The demo's listed in the [README](https://github.com/matteobruni/tsparticles/blob/master/README.md) are not working. For example https://particles.matteobruni.it/#polygonMask does not show a Polygon Mask example.

[2020-09-08 07:25] matteobruni commented on #752
Thanks I forgot to update them, it’s missing the Samples folder.

Those links should be https://particles.matteobruni.it/Samples/#polygonMask

[2020-09-08 08:07] Waterstraal opened #797 "Connected dots that only move slightly out of place and clickable elements"
Is it possible to create the image below using this library? Here the dots should be connected and move slightly and slowly. And the "i"s should be clickable and open an overlay with extra info if possible:

![connected-dots](https://user-images.githubusercontent.com/2691730/92449620-9c7efb00-f1ba-11ea-99e9-e93020c31d16.png)

[2020-09-10 02:28] knackstedt opened #809 "Infection mode does not apply color on image shapes"
**Describe the bug**
When infection mode is enabled, particles.shape.type = 'image', and images that have the replaceColor = true property, the infection stages do not apply color to the particles.

**To Reproduce**
Steps to reproduce the behavior:
1. Use SVG images and set 'replaceColor: true
2. Enable infections
3. Set particle type to image.
4. Observe no color change for infected particles.

*

[2020-09-10 10:55] hidarikani opened #810 "Help undestanding particles.number"
Since I can't find docs for `particles.number` I've tried experimenting with the [demo editor](https://particles.matteobruni.it/Samples#default) to figure out the settings. I've enabled the "More" > "Toggle Stats" option to see the current particle number. Unfortunately I still can't seem to understand the config options.

Why does the following config render 18 particles on the screen (according

[2020-09-10 12:02] matteobruni commented on #810
Hi @hidarikani,

Those values are used in the formula used [here](https://github.com/matteobruni/tsparticles/blob/8460dd210fe4ba69d597052684549a31644a6d6c/core/main/src/Core/Container.ts#L387)

[code]

This formula is inherited from particles.js changing a hard coded value with a customizable `factor`.

Disabling the `density` should use only the `value` for the count, if it’s not it’s a bug I nee

[2020-09-10 21:23] matteobruni commented on #809
Hi @knackstedt,

Thanks for the report, I'll investigate it deeply for the next release

[2020-09-10 21:27] matteobruni commented on #797
Hi @Waterstraal,

Particles moving around their initial position currently are not configurable, they can only vibrate but I don't think this is the feature you're requesting, and it's a nice one that will be implemented as soon as possible.

About the clickable particles there's a global click handler that returns the particles in the clicked position.

You can see more details on issue #450 abou

[2020-09-10 22:01] matteobruni commented on #809
I've checked the issue, the color is replaced only when the particles is created, color animations are not working too.

At least I know what need to be fixed, I try to fix it for the 1.18 release.

[2020-09-12 23:48] knackstedt commented on #809
@matteobruni
Thanks my friend!

[2020-09-18 22:55] microraptor opened #831 "Is there no option for dynamic opacity of the links proportional to its length?"
**Is your feature request related to a problem? Please describe.**
I would like to make the links between particles have less opacity the longer they are. Particles.js behaves this way and it looks pretty good in my opinion.

**Describe the solution you'd like**
A suboption for the opacity of links

**Additional context**
I did this net in particles.js and it would be awesome if tsparticles could

[2020-09-18 22:58] microraptor commented on #831
Maybe random opacity for links would look good as well.

[2020-09-18 23:04] matteobruni commented on #831
Links opacity uses the same particles.js formula, is calculated using distance and the value set in options is the maximum opacity

[2020-09-18 23:45] daviddesmet opened #832 "Support for Vue 3"
**Is your feature request related to a problem? Please describe.**
Would like to have Vue 3 supported now that is stable. I could create a PR if you want.
https://github.com/vuejs/vue-next/releases/tag/v3.0.0

**Describe the solution you'd like**
Support Vue 3.

**Describe alternatives you've considered**
Tweaked the original to support Vue 3:

[code]

**Additional context**
From their documentati

[2020-09-19 00:07] microraptor commented on #831
Then there might be a bug.
This is what it looks like for me on Chrome and Firefox using tsParticles:
![image](https://user-images.githubusercontent.com/15663536/93653692-4b70d180-fa1a-11ea-8f58-7288802df1be.png)
https://codepen.io/microraptor-the-sans/pen/MWyPojK

This is what it looks like for me on Chrome and Firefox using particles.js:
![image](https://user-images.githubusercontent.com/1566353

[2020-09-19 00:10] microraptor commented on #831
I run Ubuntu and also none of the tsParticles sample configs have links with different opacity for me on both machines. It is the same on all browsers on my Android, although particles.js doesn't show up there at all. Under Windows the dynamic opacity works, but the lines don't become quite as transparent as in particles.js.

[2020-09-19 05:24] matteobruni commented on #832
Feel free to open a PR, I didn’t approach Vue 3 for now.

They told me it has breaking changes for Vue 2 and I want to keep this compatibility too. This will probably require a new component if it have breaking changes

[2020-09-19 05:25] matteobruni commented on #831
Thanks, I’ll have a look on that

[2020-09-19 09:49] matteobruni commented on #831
I found a bug in particles being more opaque than set in options. Links are working fine, I double-checked them logging all values from tsParticles and particles.js.

[2020-09-19 10:16] #831 closed, assigned to matteobruni

[2020-09-19 14:58] microraptor opened #837 "detectRetina breaks dynamic link opacity on HiDPI screens"
Thank you for fixing the random particle opacity of issue #831 . That is some seriously fast support and deployment. However, the problems, that the links still don't look right for me persists.

**Describe the bug**
I have run some tests and the issue is the same on all my OSes. If detectRetina is enabled on a high DPI screen, the dynamic link opacity doesn't work as good anymore and long links l

[2020-09-19 15:29] matteobruni commented on #837
Nice catch, I need to do more tests on my Retina Display, I'll have a look at that deeply.

[2020-09-20 10:26] #837 closed, assigned to matteobruni

[2020-09-20 10:51] microraptor commented on #837
Thanks for the quick fix. Looks amazing now on HiDPI screens! :+1:

[2020-09-20 16:55] matteobruni opened #839 "Manual Particles"
tsParticles options should contain a `manual` property with an array of coordinates of initial particles added to the canvas, this could help some fixed layouts that only need node interactions and not random animations

The option should be something like this:

[code]

The coordinates should be relative, probably the best solution should be a percent value. So this configuration will work fine o

[2020-09-21 13:08] matteobruni commented on #832
I created a `vue3` branch if you want to have a look.
I tested it and it works in the demo app.
The PR opened is #850

[2020-09-21 21:28] ahayder commented on #839
Hey @matteobruni I want to do this.

[2020-09-21 21:36] matteobruni commented on #839
Hi @ahayder,

Welcome!! Thanks, feel free to fork the repository and add this feature. If you need help or want to share ideas on this feature you can freely join the Slack linked in README.

[2020-09-21 22:05] #832 closed, assigned to nobody

[2020-09-21 22:25] #752 closed, assigned to nobody

[2020-09-21 22:25] #773 closed, assigned to nobody

[2020-09-21 22:37] daviddesmet commented on #832
@matteobruni

That was pretty fast!
Only thing I see on the code is the way nextTick is called. Please take a look at [here](https://v3.vuejs.org/guide/migration/global-api-treeshaking.html#_3-x-syntax) for detailed info.

[2020-09-21 22:39] matteobruni commented on #832
Nice catch, thanks for that!! I'll update it now!

[2020-09-21 22:45] daviddesmet commented on #832
No problem, I'm glad to help! Everything that's needed to make the library even better 😊

[2020-09-22 20:44] matteobruni opened #857 "Update documentation for 1.18 release"
The 1.18 version will have new options that need documentation, also the markdown pages listing those options need an update to be aligned with all the new options.

The editor needs some documentation too, how to install and enable it.

If other docs need updates freely report here

[2020-09-25 20:58] ahayder commented on #839
Ok I will thanks.

[2020-09-28 16:47] joshhunt opened #888 "Documentation site background is extremely distracting"
**Describe the bug**
When browsing the documentation website, the background is a highly animated demo of the particle library, with no (obvious) way to disable it. It is extremley distracting and disorientating.

I first loaded the site and it was a bunch of large coloured blobs, which was irritating. When I navigating to a new page, it had lots of planes constantly moving around which was even w

[2020-09-28 17:21] matteobruni commented on #888
Hi @joshhunt, thanks for the feedback.

I'm already aware of that and it will be updated soon, I'm working to release a 1.18.0 beta and it's really close.
About the `prefers-reduced-motion` I was thinking to implement it directly in the library and not in the typedoc theme, but for now can be a nice workaround.

The theme repository is here: https://github.com/tsparticles/typedoc-particles-theme

[2020-09-29 00:40] #888 closed, assigned to nobody

[2020-09-29 02:15] baieric opened #890 "Particles get squished together when the window is shrunk but stay squished together when window is expanded"
**Is your feature request related to a problem? Please describe.**
I am using a config based heavily on the preset named [Presets](https://particles.matteobruni.it/Samples#preset). Open that link and try this for yourself: When I resize my browser to be smaller, the particles gets all squished together and then when I make my browser window bigger, they stay squished together. I do not want this b

[2020-09-29 06:48] matteobruni commented on #890
Hi @baieric,

This behavior can be hard to resolve because reposition particles after a window resize can bring unexpected side effects.
If you want particles to be always well fit inside the window you can try to `refresh` the particles like this:

[code]

This will reload the options restarting all the animations. It's a workaround to have particles always well fit, but if you have emitters or a

[2020-10-01 07:39] matteobruni opened #895 "Localized READMEs and documentation"
This project documentation can be improved localizing it in multiple languages so it can be clearer to new users or for those who can't read/speak English how to use the library and all its features.

READMEs could be localized too for the same reason.

I can only contribute to English and Italian, any other language is welcome.

[2020-10-01 07:43] matteobruni opened #896 "Adding More Tests"
The main library has some tests that were added a few months ago and they can be improved with new tests or tests that can be added to components and editor too.

I'd like to cover more code so testing would be easier.

Actually the project uses Mocha, Chai, and Instanbul together.

If you prefer using another suite for a specific component we can discuss it in Slack

[2020-10-01 09:27] lordvins226 commented on #895
I want to contribute for the French language.

[2020-10-01 09:32] matteobruni commented on #895
Hi @lordvins226,

Welcome and feel free to contribute, I don't have thought a file structure for localizations for now but if you have some good ideas I'm open to consider them.

If you need any help with the existing documentation or READMEs feel free to ask here on in Slack

[2020-10-01 09:34] sadn1ck commented on #896
Hey! I'm pretty new to testing, but I'd like to work on this!

[2020-10-01 09:42] matteobruni commented on #896
Hi @sadn1ck, welcome, and feel free to start on this issue.

If you need help you can ask here or on Slack

[2020-10-01 12:05] lordvins226 commented on #895
We can create a folder named Lang or traduction and use this style ``README.fr.md`` for files

We can create a folder named Lang or traduction and use this style ``README.fr.md`` for files

[2020-10-01 12:09] matteobruni commented on #895
Looks good to me

[2020-10-01 12:52] baptixta commented on #895
Hi @matteobruni , I can contribute for the Portuguese language.

[2020-10-01 12:54] matteobruni commented on #895
Hi @baptixta, welcome.

Yes feel free to contribute, follow the guidelines reported above by @lordvins226 so it's easier to merge all the files.

[2020-10-01 13:32] baptixta commented on #895
@lordvins226 are you going to name the folder Lang or traduction?

[2020-10-01 13:59] Prasad-Chaudhari commented on #896
Do you mind you if I take up the task???

[2020-10-01 14:02] matteobruni commented on #896
Hi @Prasad-Chaudhari welcome,

Actually @sadn1ck said he'll work on that, you can cooperate if you want. He already joined the project Slack if you want to share the issue.

It's not a problem for me if both of you work on this, it can be a huge activity

[2020-10-01 14:08] sadn1ck commented on #896
~~Yep I have no problem, just join slack, we can collab on which tests we add so as not to overlap. @Prasad-Chaudhari~~

~~@matteobruni If you're okay with this :D~~

Have been extremely busy with college, sorry might not be able to work on this! Very sorry!

[2020-10-01 14:12] matteobruni commented on #896
It's fine for me

[2020-10-01 14:27] lordvins226 commented on #895
Traduction. it's good?

[2020-10-01 14:34] baptixta commented on #895
@lordvins226 great, thank you.

[2020-10-01 15:31] baptixta commented on #895
@matteobruni just sent the pull request on the dev branch with the portuguese translation :)

[2020-10-01 15:36] matteobruni commented on #895
Thank you @baptixta,

If you want there are other READMEs located inside `components` and `core` subfolders. `presets` and `shapes` have other READMEs too but they're not much used or read.

Other documentation to be translated is located under `core/main/markdown`

[2020-10-01 20:43] Achilles1515 opened #898 "Confusing input option typings for framework components"
Many of the framework components are manually constructing the input options object type like so:

React:
[code]

Angular is defining a new `IParticlesParams` type:
[code]

[Vue](https://github.com/matteobruni/tsparticles/blob/master/components/vue/src/Particles/Particles.vue) isn't event including the absorber, emitter, and polygon mask options...?

and the `IOptions & IPolygonMaskOptions & IAbso

[2020-10-01 21:00] matteobruni commented on #898
Hi @Achilles1515, welcome!

Good report, I never thought that! `tsparticles` and `tsparticles.slim` should export all the available options in a single exported type!

This will be included in 1.18.0 release since this is a small effort task.

[2020-10-02 06:15] Winner95 commented on #895
Hi @matteobruni ,

It is a great library!

I would like to provide translation in Russian, if you don’t mind?

[2020-10-02 06:18] matteobruni commented on #895
Hi @Winner95 welcome,

Yes, a Russian translation is welcome.

Please follow the guidelines reported above

[2020-10-02 08:44] gaurang7goel commented on #895
Hey @matteobruni .
I would like to provide translation in HIndi, if you don’t mind.

[2020-10-02 08:46] matteobruni commented on #895
Hi @gaurang7goel welcome,

Yes, feel free to add it

[2020-10-02 09:51] matteobruni commented on #895
I need to clarify a thing for everyone working on translations since I got some single file PRs:

This project has many README.md files, not just the root one and in `core/main/markdown` there are more documentation pages.

It's preferred to translate all those files instead of the root README.md. Users will be grateful for that since they won't need to read any English written file.

Please be mo

[2020-10-02 10:03] ankitaugale23 commented on #895
Can I work on this? I would like to do it for Hindi translation if it's ok.

[2020-10-02 10:06] matteobruni commented on #895
Hi @ankitaugale23 welcome,

Actually @gaurang7goel created a PR (#907) for the main README, if he won't work on other files that also require localizations you could work on them

[2020-10-02 10:11] gaurang7goel commented on #895
Sure , not a problem  @ankitaugale23  can work on rest of the files .

[2020-10-02 10:12] gaurang7goel commented on #895
Sir @matteobruni  you can assign it to her, and also  pls look over my PR too.

[2020-10-02 19:04] soophoo commented on #857
it's possible to contribute in this issue ?

[2020-10-02 19:50] matteobruni commented on #857
Yes, you can find documentation to update on `dev` branch

[2020-10-03 03:39] jpyamamoto commented on #895
Hello.
Cool project.
Can I be in charge of adding the Spanish translation?
Thanks

[2020-10-03 03:44] matteobruni commented on #895
Hi @JPYamamoto welcome,

Sure, it’s missing for now so it’s yours

[2020-10-03 09:02] tligier commented on #809
Can I have a go at this?

[2020-10-03 09:27] matteobruni commented on #809
Hi @tligier,

Sure, it’s free at the moment

[2020-10-04 02:05] RVxLab commented on #895
I can contribute Dutch if you’d like.

[2020-10-04 03:21] matteobruni commented on #895
Hi @RVxLab sure, it’s all yours

[2020-10-05 07:32] JPiao opened #921 "gravity not working"
I am using this Particle component

[code]

However, the gravity option has no effect on the particles. They all simply fly off the screen at the top and dont come down. This is the effect I wanted https://codepen.io/matteobruni/pen/mdPmpxB (I copied the code from this codepen to see if I could get this effect to work but it doesn't). Is this a problem with my options or a bug?

Thank you!

[2020-10-05 07:39] matteobruni commented on #921
Hi @JPiao,

What version are you using? The gravity options are currently in `1.18.0` that is still in beta

[2020-10-05 14:53] BjoernRave opened #922 "No Typescript types for react-tsparticles"
When importing the particle component as described in the docs:
[code]

I don't get any types for the props of the component. I can however import like the following:

[code]

and then use those types for the options, but it's not ideal.

Typescript Version: 4.0.3
react-tsparticles Version: 1.17.22

[2020-10-05 14:59] matteobruni commented on #922
I don't understand what you are expecting to be exported, the default export is one and it's easier to have the `Component` exported.

The `IParticlesParams` is a type that is not always needed to be imported since an object with a valid structure is accepted by the `options` parameter.

If you can explain further the issue I can evaluate it better.

[2020-10-05 17:48] BjoernRave commented on #922
I am not expecting anything to be imported, but rather that the default exported component's props are typed, which they arent for me

![Screenshot 2020-10-05 at 19 50 38](https://user-images.githubusercontent.com/36173920/95114227-26c36c00-0733-11eb-86a0-fabb6ec62760.png)

[2020-10-05 18:06] matteobruni commented on #922
The `options` attribute is typed, also the obsolete `params` is still supported and typed.

I don’t really understand what is the problem

[code]

These are the properties exported from 1.18 (1.17 has less optional and a more complex options type).

Can you try using 1.18 (beta for now) and tell me it the issue persist?

[2020-10-06 01:00] #646 closed, assigned to matteobruni, Himanshunitrr

[2020-10-06 01:00] #691 closed, assigned to matteobruni

[2020-10-06 01:00] #692 closed, assigned to matteobruni

[2020-10-06 01:00] #739 closed, assigned to matteobruni

[2020-10-06 01:00] #774 closed, assigned to matteobruni

[2020-10-06 01:00] #797 closed, assigned to matteobruni

[2020-10-06 01:00] #839 closed, assigned to matteobruni, ahayder

[2020-10-06 01:00] #857 closed, assigned to matteobruni

[2020-10-06 01:00] #898 closed, assigned to matteobruni

[2020-10-06 04:30] yunffee commented on #895
hi @matteobruni , can i add Indonesia translation?
Thanks.

[2020-10-06 05:36] matteobruni commented on #895
Hi @yuandahanif, sure feel free to add it

[2020-10-06 05:44] JPiao commented on #921
@matteobruni Thank you for the response!

I was wondering, is there a way to hard code the number of each shape I want? (e.g. 3 squares, 5 custom images, etc).

Thanks!

[2020-10-06 07:24] matteobruni commented on #921
Yes it's possible

Check out this sample: https://codepen.io/matteobruni/pen/GRpYdGv

It adds particles programmatically, you can specify a position (or undefined for random) and all the `particles` options you want to override for that particle.

[2020-10-06 07:58] MicheleMarschner commented on #895
Hi @matteobruni. I could work on the German translation?

[2020-10-06 07:58] matteobruni commented on #895
Hi @MicheleMarschner, sure it's all yours

[2020-10-06 09:06] #810 closed, assigned to nobody

[2020-10-06 09:14] BjoernRave commented on #922
I saw you merged 1.18 so I just upgraded to that and the problem persists. I created a codesandbox so you can see it in action: https://codesandbox.io/s/nifty-tesla-06sg1?file=/pages/index.js

[2020-10-06 09:54] matteobruni commented on #922
Thanks! I've understood and found the issue. It will be solved in 1.18.1 that will be released later today.

[2020-10-06 09:58] BjoernRave commented on #922
@matteobruni Great, thanks alot for that :)

[2020-10-06 10:49] natario1 opened #930 "Triangles issues/questions"
Hi, I was playing around with the library using the following options:

[code]

The goal is to show grayscale triangles and hide particles and links. I'm seeing a few issues, which might be bugs, feature requests or just questions - not sure:

1. Links are still shown even with width=0. If I use opacity=0, triangles disappear as well. One option is to use opacity=0.0000001, but still feels like th

[2020-10-06 10:52] matteobruni commented on #930
Hi @natario1,

The color animation on triangles is currently not supported but I can plan it for a future release.

About the far away triangle, I'll have a look as soon as possible, and the width `0` link seems a bug too.

[2020-10-06 11:00] natario1 commented on #930
Thanks, and thank you for your work!

[2020-10-06 12:24] matteobruni opened #931 "IntersectionObserver to pause/play animations"
Particles animation can affect website performance and a good improvement could be detecting if particles container is visible on the screen

I've thought about [Intersection Observer API](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) to check this but some browsers can't use this feature so a check of the API availability is needed.

This could interact with the exis

[2020-10-06 21:10] matteobruni commented on #930
Except for color animation now the issues are fixed. `1.18.1` version is available with the fixes

[2020-10-06 21:11] matteobruni commented on #922
`1.18.1` is out, let me know if everything works fine now

[2020-10-07 09:55] BjoernRave commented on #922
@matteobruni the issue persists in `1.18.1` as you can see in the same codesandbox: https://codesandbox.io/s/nifty-tesla-06sg1?file=/pages/index.js

[2020-10-07 10:05] matteobruni commented on #922
I tried autocompleting on CodeSandbox but it doesn't work fine even in simple HTML tags like `h1`.

WebStorm instead had a good autocompletion in `1.18.1`.

[2020-10-07 10:29] BjoernRave commented on #922
the reason for that was because `@types/react` was not installed, installed it now and it is autocompleting stuff on the `h1` tag, but still not on the Particles Component. I also have the same experience in vscode. Do you get types on the Paricles component in Webstorm?

https://codesandbox.io/s/nifty-tesla-06sg1?file=/pages/index.tsx

[2020-10-07 12:12] matteobruni commented on #922
I've done more tests with VSCode, the demo project inside this repository was working fine, but I've found some tricks to make it work for other projects by adding some JSDoc comments.

I'll release it later today with the fix, this should be the definitive solution (at least I hope it is)

[2020-10-07 22:43] #922 closed, assigned to matteobruni

[2020-10-08 19:49] KolCrooks commented on #931
I could try and do this!

[2020-10-08 20:26] KolCrooks commented on #931
I am looking into how I would implement the changes that you are mentioning here. The biggest thing that I am trying to figure out is where to put the intersection observer. It looks like the easiest place is in the EventListeners class but it doesn't feel like it fits there. Do you have an idea of what class you would want it to be implemented in?

[2020-10-08 20:39] matteobruni commented on #931
I think EventListeners class could fit, but Container can be a valid alternative

[2020-10-08 23:01] KolCrooks commented on #931
Okay I have implemented the IntersectionObserver but I am running into a problem where Mocha doesn't think that it exists. I think the only way to fix this is with mocking but I don't really have a good understanding of how the codebase works. Do you know any potential fixes to this problem?
![image](https://user-images.githubusercontent.com/20110047/95521900-b6b61f80-0998-11eb-8d46-f42a4214da3f.p

[2020-10-08 23:45] matteobruni commented on #931
`mocha` is run by node so many front end utilities are not defined.

I made an utils to check if the request is run in a server environment and you can see a sample here:

https://github.com/matteobruni/tsparticles/blob/06f374637634c7425f9b32c8f1a7bbb370e6903a/core/main/src/Core/Retina.ts#L35

The IntersectionObserver code must be run only if `IsSsr()` returns `false`

[2020-10-09 00:18] KolCrooks commented on #931
I'm not sure if i'm not implementing it properly but the fix you mentioned isn't working.
[code]
Output:
![image](https://user-images.githubusercontent.com/20110047/95527419-3c3ecd00-09a3-11eb-9cde-90c95b11291a.png)
As you can see, the line "SSR IS FALSE" is being called.

[2020-10-09 00:45] matteobruni commented on #931
Right, mocha has a window workaround, the intersection observer object needs its own checks like for media query, it’s in retina.ts too (v1.18.3)

`if (InteractionObserver)` probably is enough

[2020-10-09 03:41] printf-ana opened #941 "Translate to Portuguese"
Hey, i'd like to add a translation for portuguese in our repo for help Brazilian people, can i?

[2020-10-09 05:18] matteobruni commented on #941
Checkout #895

[2020-10-09 05:18] #941 closed, assigned to nobody

[2020-10-09 05:24] KolCrooks commented on #931
I created a pull request that implements what we have talked about #942. Preview here:
[![Image](https://i.gyazo.com/cdb61e991bd5e840ced5ac98894fb74a.gif)](https://gyazo.com/cdb61e991bd5e840ced5ac98894fb74a)

[2020-10-09 06:52] ghost opened #946 "Particles not displaying on Safari / All Mobile Browsers"
**Describe the bug**
Particles background on my end works and looks great locally via live-server and via the publish github page url while viewing the site on Edge/Chrome/Opera/Safari/Firefox. Ive sent the github link out to the client and a few mates for feedback and thats when I learned that the particle background doesn't seem to load on safari on any other computer except mine. Also, particle

[2020-10-09 07:18] matteobruni commented on #946
Hi @jasonguro,

I checked your repo and you are using version `1.18.2`, can you try upgrading to `1.18.3`? That version should fix this bug.

About images direction yes it's possible. Check out this configuration: https://codepen.io/matteobruni/pen/MWymBxX

[2020-10-09 14:44] ghost commented on #946
Updating the version did not fix the bug. As for the images direction thank you!

[2020-10-09 14:47] ghost commented on #946
I assume by updating you meant updating the jsdeliver cdn link.

[2020-10-09 14:49] matteobruni commented on #946
Yes, it's enough updating the CDN link.

I tried now your website on Safari, Chrome, Firefox, and Edge (Chromium version on Win10) but particles were working fine.

This is the URL I tried: <https://jasonguro.github.io/midas/> (with `www` I receive a security warning)

[2020-10-09 14:52] ghost commented on #946
Super weird, im getting no particles on safari.

[2020-10-09 14:53] matteobruni commented on #946
My main browser is Safari, it's more possible to not having them in other browsers (and it happened)

[2020-10-09 14:56] ghost commented on #946
I see, i'm going to do more testing on other devices running safari and will get back to you.

[2020-10-09 15:30] ghost commented on #946
Ok so I asked few more mates who are running safari 13.1, 13.1.2, 13.1.3 and its not working then i asked someone with 14.0 like myself and i'm assuming your running 14.0 also and its working great on 14. Older versions of Safari are having this issue I believe.

[2020-10-09 16:42] hoonsubin opened #947 "TypeError: undefined is not a function error for iOS devices with Retina displays on 1.18.3"
**Describe the bug**
The same error that was described in issue https://github.com/matteobruni/tsparticles/issues/84 is still occurring on version `1.18.3`. Desktop (including macOS with Retina display) and Android browsers seem to behave correctly, but iPhone and iPad on both Chrome and Safari will show the error exactly on this line https://github.com/matteobruni/tsparticles/blob/7784898e703dc04

[2020-10-09 17:21] hoonsubin commented on #947
okay, I noticed that my iOS device was actually running on iOS 13 and not 14. For some low-level magical reasons, upgrading iOS to 14 fixed this issue for me. I'll close this issue since I think it's been addressed. Thank you for the update.

[2020-10-09 19:10] matteobruni commented on #946
Thanks for the details, does safari 13.x have some console errors?

[2020-10-10 01:36] ghost commented on #946
There are no console errors to report, i've checked on my multiple macbooks included an older mac and it wasn't working until I updated the mac osx which updated safari to 14 and from that point it started working.

[2020-10-11 00:21] #931 closed, assigned to matteobruni, KolCrooks

[2020-10-11 00:21] #946 closed, assigned to nobody

[2020-10-12 21:42] #921 closed, assigned to nobody

[2020-10-14 06:53] ivanjeremic opened #951 "Refactor React-tsparticles to take children instead of working with classNames and Wrappers"
Refactor React-tsparticles so that all we need to do is wrap it around our app or component where we need the particles, so basically let it have `children`, this way all the unnecessary stuff like biding to canvas/wrapper/class is automatically handled for us.

Also, I think it is time to move to hooks, I see that the component is unnecessary complicated because it is made with Class components.

[2020-10-14 07:04] matteobruni commented on #951
Can you tell me more about this? I don't understand what is all the work needed for binding, wrappers, etc. You just place the `<Particles />` tag where you need it, place a CSS with positioning and width (or the [`backgroundMode`](https://particles.js.org/interfaces/_options_interfaces_backgroundmode_ibackgroundmode_.ibackgroundmode.html) if it's simpler) and you're done.

About hooks I discovere

[2020-10-14 07:10] ivanjeremic commented on #951
Thanks for taking a look at hooks, it is definitely the way to go. About my issue with React-tsparticles you said to place a CSS with positioning, do you mean by this I need to create a `div` by myself make positioning so the particles are perfect behind my Website and not above? If yes then this is the reason I suggested to make it easier why not just do this.
[code]

[2020-10-14 07:30] matteobruni commented on #951
No extra `<div>` tag is needed.

You can see this sample: https://codesandbox.io/s/react-tsparticles-dw43f?file=/src/App.js

It's not using extra divs and they are placed as a background. Just use the `id` property on the `<Particles />` tag and use it in CSS to change its positioning.

This configuration can be achieved with the new and simpler `backgroundMode` that you find in my previous commen

[2020-10-14 08:15] ivanjeremic commented on #951
@matteobruni Thanks for `backgroundMode ` first time I come across this and the example, it seems this fixes all the problems I had, thanks for this.

[2020-10-14 15:46] daggy1234 opened #952 "Failed to load resource: The file "purify.js.map" could not be loaded"
**Describe the bug**
On a very small subset of devices, ts Particles raises an error `
[code]

**To Reproduce**
Website: https://dagpi.xyz
Repo: https://github.com/daggy1234/dagpi-dashboard

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
https://media.discordapp.net/attachments/715744000077725769/765959979487199243/unknown.png?width=1394&heig

[2020-10-14 17:29] matteobruni commented on #952
That error looks coming from a Safari Extension. Do you have Purify extension installed?

[2020-10-14 17:48] daggy1234 commented on #952
lemme test

[2020-10-14 18:56] mmilano opened #953 ""core" vs "full"?"
Great work on the active development of tsParticles!

Is there any option to import a reduced/smaller, more "core" tsParticles library?
Core in the sense of the fundamental behavior and options.

Something like
[code]
that would provide only the most slimmed down possible functionality, and then could allow
importing additional aspects if needed (manually)?

Theoretical example of more extensive f

[2020-10-14 19:03] matteobruni commented on #953
Hi @mmilano,

Actually, there are two builds: `tsparticles.slim` and `tsparticles`.

The `slim` version doesn't have plugins preinstalled (Absorbers, PolygonMask, Emitters), the other build has all features.

If you want a more `slimmer` version you can check out the [`Loader`](https://particles.js.org/classes/_core_loader_.loader.html) class, it's the class that creates all the container and the

[2020-10-16 03:53] rschristian opened #958 "Question: Any plans for bundle size improvements?"
I came across this lib while looking around the ol' `particles.js` stuff. Only, the current bundle size is well outside the realm of what I could reasonably consider: https://bundlephobia.com/result?p=preact-particles@1.18.4. To add a 50kb lib to Preact would be the antithesis of what it's trying to do really.

Are there any plans to remove old and bloated code/dependencies like Lodash and really

[2020-10-16 07:05] matteobruni commented on #958
Yes, the bundle size is one critical issue I'm trying to solve.
The core library doesn't use `lodash`, it's used in the Preact/React/Inferno version to update the component to every options change. It's not `lodash` fault anyway, the core `tsParticles` library is still big but I'm trying to create a more composable library so everyone can add the features they want to use.

[2020-10-16 20:57] rschristian commented on #958
That `lodash` import does make up 10% of the lib's size, so I wouldn't say it's innocent. If you're looking for a deep comparison alternative to use with `.memo` or something, `react-fast-compare` is probably the best out there. Only 1.7kb minified, 706b minzipped.

[2020-10-18 23:18] rschristian opened #962 "Docs: "Dependency free" should be removed"
The current documentation states that the package is dependency free, but that is not correct. I'm not sure if it is just outdated but so long as the [dependencies section of the package](https://github.com/matteobruni/tsparticles/blob/623f7680174d9e50f6cca4a00291f700f1899105/core/main/package.json#L135) is not empty then this is not true.

The asterisk states these aren't strictly needed but that

[2020-10-19 06:18] matteobruni commented on #962
I fixed the `dependencies` in the `package.json`, `tslib` were not required in browser since it was bundled by webpack and `pathseg` is used only with the polygon mask, that will become an external plugin in `v2.0.0`, has been moved to `optionalDependencies`.

That should be fine without changing the README.

P.S. Removing `tslib` reduced size by `5kb` of the unminified file.

[2020-10-19 06:38] #962 closed, assigned to nobody

[2020-10-19 10:32] daggy1234 commented on #952
Uhhh so purify is not a safari extension. This is not working on chrome either.

Some mobile users are also having problems

<img src="https://media.discordapp.net/attachments/715744000077725769/767415865163120691/unknown.png?width=1304&height=670" />

[2020-10-19 10:41] matteobruni commented on #952
The error is still coming from the safari-extension scheme in your screenshot, I need more info about the configuration. There's no `purify.js` in the project as you can see [here](https://github.com/matteobruni/tsparticles/search?q=purify)

[2020-10-19 15:44] matteobruni commented on #952
@Daggy1234 I got that error in InfernoJS demo project in this repository. It's not an error related to `purify.js.map` but it was an error based on the `webpack serve` command (in my case).

It's probably something caused by a misconfiguration of the output files. I'll have a look at your repository to see if I found the error

[2020-10-19 16:01] matteobruni commented on #952
Ok, I found the issue @Daggy1234, Upgrade `react-tsparticles` to the latest version, and the particles will work fine.
There was an issue with high-density particles with collisions enabled before version 1.18.0.

[2020-10-19 16:04] #952 closed, assigned to nobody

[2020-10-19 18:11] ecrookoh opened #966 "Syntax Error: Unexpected token { from Try/Catch in install script"
The addition of an unbound catch in v1.18.5 193bf0f183f235cd43358c7f3a9251ed19fc998b prevents building when using earlier versions of node.
Passing the error object to the catch may prevent this error from occurring: `catch(err){}` instead of `catch{}`

**Project Information**
Node: 8.12.0
tsparticles: 1.18.5

I've reverted to a previous version of tsparticles for now. Although I'd like to, I'm un

[2020-10-19 21:51] matteobruni commented on #966
Thanks for reporting the issue, the fix will be released soon in 1.18.6, you can keep the 1.18.4 for now

[2020-10-20 08:42] codefunlearn commented on #895
HI @matteobruni . I can do the Swedish version. Can you assign it to me?
One question: I see only the READMEs done in the _traduction_ folder . Is this the only document to translate?
thanks

[2020-10-20 08:46] matteobruni commented on #895
Hi @codefunlearn,

You are free to do it, there are many traduction folders, there are many READMEs that you can find in every subfolder. The `demo` folder can be ignored.

There are also some markdown files inside `core/main/markdown` if you want to translate them too

[2020-10-21 21:17] #966 closed, assigned to nobody

[2020-10-22 15:22] ecrookoh commented on #966
Thank you for the fix, the new version is working perfectly for me!

[2020-10-24 16:17] matteobruni opened #979 "Add particles option for "z index" to always draw particles on top of others"
Particles are now drawn in a random order, a cool option could be something like a `z index` that places particles in a different `plane` of others, drawing them before or after other `z indexes`.

Particles with lower `z indexes` will be drawn first, the others with higher `z index` will be drawn last. The last drawn particles will be on top (particles in the same `z index` will be still randomly

[2020-10-25 22:57] matteobruni opened #981 "Review options object"
This is probably one of the first big issues discussed here.

The actual options object has some non-suitable configurations like:

- Particles grouped configurations (named groups, like `Map` objects)
- Multiple particles configurations (something like `arrays`)
- Mouse/div interactions customizable only for some particles (like the groups mentioned before or overridden configurations)

If other

[2020-10-26 14:21] matteobruni opened #984 "Improve demo samples/presets"
Actually, all the demo projects have different presets/samples and they're quite messy.

They are made just for tests but I think a common folder could be created and used in all those projects.

The most used and updated tests are inside `demo/main`, this could be a good starting point moving all those files in a common folder for demos projects.

When the `demo/main` project is fixed, all the sa

[2020-10-27 03:30] lgg opened #985 "Add Config download"
I'm always frustrated when I need to manually copy and paste config on the demo.

It will be super cool if I can just click 'Download' config.

Also in Chrome if you try to CTRL+A in textarea on Export Config modal - all page will be selected, not only config's textarea content.

ps
Thank you for the great library!

[2020-10-28 09:39] matteobruni commented on #985
Added `Download` and `Copy` buttons

[2020-10-28 09:39] #985 closed, assigned to nobody

[2020-10-31 14:00] Pingviinituutti commented on #979
I could tackle this issue/enhancment! One thing though. The `contributing.md` says

However, there's no "`start`" command defined in the `package.json` files under the `core/` folder. Is testing supposed to be ran in some of the `demo/` folders? Where should I run `yarn start` as in to see the effect of all my changes? :D Would help to get started a bit faster.

[2020-10-31 15:08] matteobruni commented on #979
Hi @Pingviinituutti,

I started working on this issue some days ago, but you can improve it. I did some changes in the `dev` branch but that branch has a different configuration than `master`.

I migrated from `yarn`/`lerna` to `pnpm`/`rush`. You can read more in the `Contributing.md` of the `dev` branch.

The demo app is inside `demo/main` folder, you can `pnpm start` inside that folder after bui

[2020-11-01 12:18] matteobruni opened #994 "Particles splitting on bounce"
A nice effect to add could be particles splitting into smaller particles when bouncing (not by default, it should be an option).

Aside from enabling or disabling the effect, also the split size and number should be configurable something like:

[code]

[2020-11-02 14:27] cbossut opened #995 "onHover modes and parallax interact weirdly"
When enabling parallax, it seems to disrupt onHover modes.
Thus far, I tested repulse and trail. Repulse is utterly disabled when parallax is enabled, and trailing particles jet out in the parallax direction.

Also, onHover modes are enabled if parallax is enabled, event if onHover is disabled.

[2020-11-02 14:35] cbossut opened #996 "parallax is off centered if canvas isn’t the whole screen"
When the canvas is a portion of the window, parallax is off centered.
I think it comes from using window.innerHeight and Width in Movers.moveParallax.
Don’t know if it should rather be canvas by default, or using the interactivity.detectsOn property instead.

[2020-11-02 14:36] matteobruni commented on #995
Hi @cbossut,

Actually, all particles respond to the same interactivity events. This is a configuration that will be changed in the `2.x` version but it won't be out soon.

The `1.19.x` probably will be the latest `1.x` version and will be out earlier than the `2.x`.

[2020-11-02 14:37] matteobruni commented on #996
Hi @cbossut,

Thanks for reporting that, I never noticed that, it will be investigated and fixed soon (don't know if in version `1.18.9` or `1.19.0`)

[2020-11-02 21:16] felipefa commented on #947
This problem is still happening for iOS 12 (and lower) devices using `react-tsparticles@1.18.8`.

I was able to bypass the error by wrapping the code from line 24 to 32 of the `Core/Retina.js` file inside a try/catch block, but I'm waiting for a proper fix if possible.

![image](https://user-images.githubusercontent.com/12715851/97919003-d04b4c80-1d35-11eb-97ef-172ad28a80e6.png)

[2020-11-03 00:44] matteobruni commented on #947
Found the issue and tested, version `1.18.9` is now with the fix

[2020-11-03 00:46] #947 closed, assigned to nobody

[2020-11-03 00:46] #996 closed, assigned to nobody

[2020-11-03 13:56] cbossut opened #999 "1.18.0 tsparticles.slim.js crashes on load"
tsparticles.slim.js:8263 Uncaught ReferenceError: Cannot access 'main_slim_MainSlim' before initialization
    at Module.5 (tsparticles.slim.js:8263)

Seems the different modules from standard and slim libs are not concatenated in an acceptable order.
Tried changing slightly the concatenation, but I didn’t find a way to make it executable.

[2020-11-03 13:59] felipefa commented on #947
Thank you for such a quick reply, but after upgrading to version `1.18.9` I'm getting this error.

![image](https://user-images.githubusercontent.com/12715851/97993245-8eb4b300-1dc2-11eb-9f42-4578eaef7023.png)

And also this warnings on the console.
![image](https://user-images.githubusercontent.com/12715851/97993608-10a4dc00-1dc3-11eb-9adb-f5a7c5387916.png)

I even tried deleting the node_modules

[2020-11-03 13:59] matteobruni commented on #999
Hi @cbossut,

Are you using the version `1.18.0` or the `1.18.9`? I'm preparing a `1.18.10` for some module errors and this could be fixed too in that version

[2020-11-03 14:02] matteobruni commented on #947
I'm releasing the version `1.18.10` that could fix this issue, this version will be released very soon, let me know if that version fixes this issue

[2020-11-03 16:57] cbossut commented on #999
It happened in `1.18.0`

[2020-11-03 17:02] matteobruni commented on #999
Can you upgrade to latest version and check if the issue is still there?

[2020-11-03 17:47] matteobruni commented on #947
`1.18.10` is out, let me know if it works

[2020-11-03 18:14] felipefa commented on #947
Yes, it's all working now.

Thank you very much!

[2020-11-05 23:44] GoulartNogueira opened #1001 "Particles Keep Growing"
**Are you using `tsParticles` latest version?**

- [X] Yes
- [ ] No

**Which library are you using?**

- [X] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-particles`)
- [ ] jQuery (`jquery-pa

[2020-11-05 23:51] matteobruni commented on #1001
Thanks for reporting the issue, I'll inspect that as soon as possible.

I can't follow your website link because it asks me to register on Vercel. But I'll set a sample on CodePen to checkout.

By saying idle in the background, you have the website with particles not visible right?

[2020-11-06 11:43] Mayron opened #1003 "JSX element type 'Particles' does not have any construct or call signatures."
**Is the latest version affected?**

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [x] Preact (`preact-particles`)
- [ ] Inferno (`inferno-particles`)
- [ ] jQuery (`jquery-particles`)

*

[2020-11-06 11:45] matteobruni commented on #1003
Thanks for reporting that, I'm working on 1.18.11 for other fixes, I'll check out this too!

Anyway, that error should not break the component, I think.

[2020-11-06 11:47] Mayron commented on #1003
@matteobruni Damn, that was quick! Thank you :) I hope that the suggested change I included is helpful, but I didn't want to add it as a pull request because I'm no expert with definition files. Much appreciated.

[2020-11-06 23:33] matteobruni opened #1004 "Responsive settings"
Like themes, a `responsive` section is needed in options.

Something like:

[code]

If the width is greater than the bigger `maxWidth` the main settings will be used, `options` could be the entire options object or just the `particles` section but we can discuss.

The main reason to use the entire object is about interaction distances, affect all the plugins (first of all the polygon mask with its

[2020-11-07 17:20] mister-mst opened #1005 "Trying to create a plugin for wordpress"
Hello, I am trying to develop a plugin for wordpress, with this library that can be easily integrated:

It works in a very simple way, you simply have to add the particle configuration in the box that appears in the administration menu, and you have to add the CSS ID of the element where you want to show the TSParticles animation.

**The problem** occurs in the particle configuration. If I use the

[2020-11-07 19:37] matteobruni commented on #1005
Hi @mister-mst

You didn't fill the issue template. I need to know what version are you using, if you are using an outdated version please update and check that the issue is still there.

I downloaded the configs but I noticed a difference between the three files, the first and the third are `js` file, the second one instead is a `json`.

The `json` file is not a script file, it must contain only

[2020-11-07 21:37] mister-mst commented on #1005
Hi!

Thanks for the quick reply, I have included in the plugin the latest version of tsparticles.min.js (1.18.10), the error keeps occurring.

The 3 configuration files should all be .json, as you can see, none include scripts, all are object-like structure.

The .js extension has not affected the tests, since in the plugin I directly insert the code by copying and pasting the content of the file

[2020-11-07 22:59] matteobruni commented on #1005
The json are still invalid since they contains javascript code.

Anyway if I copy just the configuration options inside a CodePen with the version `1.18.10` it works fine.

I need more details, I don't have a WordPress to test it.

[2020-11-08 00:15] #1001 closed, assigned to nobody

[2020-11-08 00:15] #1003 closed, assigned to nobody

[2020-11-08 00:46] GoulartNogueira commented on #1001
Sorry, I've posted the wrong link. My mistake!
Here it is: https://readmystar-79ak9k97y.vercel.app/

My website has **visible** particles.

[2020-11-08 00:46] GoulartNogueira commented on #1001
**How to reproduce the issue:**
- Open the browser (Firefox)
- Go to [website](https://readmystar-79ak9k97y.vercel.app/)
- Let the tab opened for a few minutes (you can even navigate in other tabs in the meanwhile)

**Unexpected Behavior**
- The particles grows to a large size (10x bigger).

[2020-11-08 01:19] matteobruni commented on #1001
Have you tried with the version `1.18.11`? It should contain the fix

[2020-11-08 09:53] mister-mst commented on #1005
If you need, please send me your email and I will send you a wordpress site where you can test the plugin.

The plugin does not use the configuration .json files.  The plugin generates a text box where to copy the configuration, it is for this reason, why I think the file extension is not relevant in this case.

I'm not sure where the problem can come from.

[2020-11-08 10:01] matteobruni commented on #1005
You can find my email [here](https://github.com/matteobruni/tsparticles/blob/a1ace8a44bac2b6cf6562b9488d6f8c085f8c6de/core/main/package.json#L77)

[2020-11-09 08:36] #1005 closed, assigned to nobody

[2020-11-17 11:08] 484-studio opened #1024 "[help] Adding pathseg to Vue/Gridsome project"
I know what I need (to add pathseg) as a node_module to my project, however, struggling to work out what's next.
I've installed the module but when trying to import or require it in a Vue file, I get error: 'window is not defined' inside pathseg.

What is it I'm missing?

TYIA

[2020-11-17 11:25] matteobruni commented on #1024
Hi @484-studio,

`pathseg` and `tsParticles` are not SSR libraries since they are client-side only.

Try reading [here](https://gridsome.org/docs/assets-scripts/#without-ssr-support), that article explains how to add non-SSR libraries to a Gridsome project

[2020-11-17 11:54] 484-studio commented on #1024
That was much simpler than I thought - thanks so much!

[2020-11-17 11:54] #1024 closed, assigned to nobody

[2020-11-19 00:12] ghost opened #1031 "Parsing Json config file in props of particles"
/* DO NOT DELETE THE TEMPLATE BELOW, you can safely delete this line */

**Which version are you using?**
Ex. 1.18.11

**Is the latest version affected?**

- [x] Yes
- [ ] No

**Which library are you using?**

- [x] Vue.js 2.x (`particles.vue`)

Is there a way by which I can parse the json config that I got from the website and inject it into the props of the Particles component? because I does no

[2020-11-19 01:56] matteobruni commented on #1031
Hi @Yael95,

Loading it using an AJAX request actually is not supported but can be an idea for the upcoming `1.19` version.

For now, you can check out a sample made with the JSON import syntax: https://codesandbox.io/s/particlesvue-with-json-config-lgpjc

Let me know if it helps.

[2020-11-19 02:22] ghost commented on #1031
hi @matteobruni ,
I have been trying to use your examples in the codepen but couldn't I have been trying to import the polygon mask from the codepen you shared but wasn't able to include it in a component, would you have any pointers why I get just the string of the options printed out .

[2020-11-19 02:26] ghost commented on #1031
About the sandbox I do not seem to get where your component is, is it the hello world component that you are using the config file in?

[2020-11-19 02:35] ghost commented on #1031
if you can just show me with an example sandbox for instance the vue implementation of the polygon mask it would help to get the sense out of this amazing tool as I am struggling to get it to work on vue except for the demo config you have on the repo.

[2020-11-19 07:45] matteobruni commented on #1031
I've updated the CodeSandbox sample linked in the previous message. I've added some comments but I'll explain here too:

The file *App.vue* uses the `Particles` component but its initialization is made in the *main.js* file.

[code]

This is the code needed to make `particles.vue` work correctly. The `import "pathseg";` is needed only for `polygonMask` configurations since some browsers have remov

[2020-11-19 08:02] #999 closed, assigned to nobody

[2020-11-19 13:14] ghost commented on #1031
Thank you for your help I got the polygon forest to work, thank you for your help and patience.

[2020-11-19 13:14] #1031 closed, assigned to nobody

[2020-11-22 02:38] rchrdnsh opened #1042 "How to set up svelte-particles as a foreground clickthrough layer..."
**Which version are you using?**

latest

**Is the latest version affected?**

- [ ] Yes

**Which library are you using?**

- [ ] Svelte (`svelte-particles`)

Here is a REPL of the issue:

https://svelte.dev/repl/2ef0c3ffa03f46fd8887909a0793959a?version=3.23.2

The canvas? i think, is only filling up half of the viewport, and I can get any styles into the component to change it...or not sure how..

[2020-11-22 10:40] matteobruni commented on #1042
Hi @rchrdnsh,

I've opened the link but it seems to work fine, what is the broken behavior?

Anyway, I fixed the configuration to make the button clickable. You can see the new configuration here: https://svelte.dev/repl/ff70fdab5da6401584c0346f647e844f?version=3.23.2

To make the button work the particles component shouldn't have:

- a specified size (like `width: 100%` or `height: 100%`)
- a `z-

[2020-11-22 17:57] #1042 closed, assigned to nobody

[2020-11-22 18:03] rchrdnsh commented on #1042
ah yes, thank you! I originally had something funky going on in the configuration, but I fixed it by tweaking one of your codepen examples and then copying it in...thank you also for helping with the foreground click through issue as well. Works great now!!!

For got to close this one out as well, thanks :-)

[2020-11-27 07:45] mattjis opened #1069 "Avoid spawning on top of each other when collisions are enabled."
**Which version are you using?**
1.18.11

**Is the latest version affected?**

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [x] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-partic

[2020-11-27 08:00] mattjis opened #1070 "Particles to have a soft collision option (with a radius)"
**Which version are you using?**
1.18.11

**Is the latest version affected?**

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [x] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-partic

[2020-11-27 08:01] mattjis commented on #1070
Maybe some sort of soft collisions that have a large padding around the particle? I'm not sure how to achieve this.

[2020-11-27 08:20] matteobruni commented on #1070
Hi @mattjis,

Sorry but I don't understand what are you are requesting, can you tell me more?

[2020-11-27 08:27] mattjis commented on #1070
@matteobruni In the first image example, all of the particles are nicely spread out - this was made in adobe illustrator, and is how I ideally want the particles rendered (at least initially).

The second example image is my actual website using tsparticles. As you can see they're mostly on the right side, and a bunch of them are clumped up in a group. It's not very "aesthetically pleasing".

I ba

[2020-11-27 08:30] mattjis commented on #1070
At the moment maybe 1/10 initial renders are nicely spread out. Which is of course, by chance.

[2020-11-27 08:34] matteobruni commented on #1070
You can use the `manualParticles` property to give them a custom initial position.

You can see a sample config [here](https://github.com/matteobruni/tsparticles/blob/master/demo/main/public/presets/manual.json)

The initial position coordinates have percent values to adapt to all screen sizes.

[2020-11-27 08:38] mattjis commented on #1070
@matteobruni Okay yeah I thought that may have be an option.

The thing is I'd have to set many of these manual configurations depending on the screen size, as I'd like the density to stay relatively the same.

And the move animation will still end up less than ideal over time

[2020-11-27 08:44] mattjis commented on #1070
"Soft collisions" is my feature request. So they never bang in to each other, but just move away from each slowly if they're within a radius.

This would solve my issue, along with the other one I opened earlier about not spawning within the collision zone.

[2020-11-27 08:47] matteobruni commented on #1070
In the upcoming `1.19.0` release there's a repulse radius feature around particles (issue #609), maybe it's what you're requesting, isn't it?

[2020-11-27 08:50] mattjis commented on #1070
@matteobruni Yes I think so! That sounds pretty good.

[2020-11-27 08:51] matteobruni commented on #1070
Ok so I can close this since it's a duplicate of #609

[2020-11-27 08:51] #1070 closed, assigned to nobody

[2020-11-27 08:53] mattjis commented on #1070
Is there a way I can test the upcoming 1.19.0 on my react project, to see how this feature works?
Or will I have to wait until it's officially released?

[2020-11-27 08:55] matteobruni commented on #1070
You can test it using the alpha/beta releases, since they are not officially released I don't care about breaking changes so errors can occur in a newer alpha/beta

[2020-11-27 08:56] mattjis commented on #1070
@matteobruni Great, thanks for all your help! Love the project

[2020-11-27 09:54] mattjis commented on #1069
I've got a related issue, let me know what you think.

So I've set `outModes` on the `top` and the `bottom` to be `bounce`, occasionally they're initially rendered past the "bounce area" chopping half of them off, until the animation has run long enough to correct the issue.

[2020-11-27 09:56] matteobruni commented on #1069
I'll check that, I've created an option to enable/disable overlap in the `particles.collisions` section

[2020-11-27 09:58] mattjis commented on #1069
@matteobruni it seems to only be an issue when `bounce` is set via `outModes`, but works fine when using `outMode`

[2020-11-27 10:01] matteobruni commented on #1069
`outMode` is just an obsolete alias that sets the `default` property of `outModes`

[2020-11-27 10:05] mattjis commented on #1069
@matteobruni ah well in that case all I had to do was change the `default` to `bounce` and set the left and right to `out` instead. Thanks!

[2020-11-27 23:30] matteobruni commented on #1069
I released `1.19.0-alpha.3` with this feature, it's disabled by default but you can enable it in the `collision` section.

Checkout this file:

https://github.com/matteobruni/tsparticles/blob/dev/core/main/markdown/Options/Particles/Collisions.md

[2020-12-02 17:59] matteobruni opened #1087 "Character shape parameters are required but shouldn't"
**Which version are you using?**
1.18.11

**Is the latest version affected?**

- [x] Yes
- [ ] No

**Which library are you using?**

- [x] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-partic

[2020-12-03 19:24] matteobruni opened #1093 "Convert particle velocity from horizontal/vertical to speed/angle"
Particle velocity used with `horizontal`/`vertical` values results in different speeds at different angles, the speed should be the same at all angles.
Converting the values to `speed`/`angle` should make this process easier than converting the existing formulas.

[2020-12-04 17:15] werty1001 opened #1100 "Vue2x: IE11 script1010 error"
**Which version are you using?**
2.1.11

**Is the latest version affected?**

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [x] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-particl

[2020-12-04 17:32] matteobruni commented on #1100
I'm sorry but the Internet Explorer support is not on my to-do list, since the browser has been replaced by Edge.

If anyone wants to make a PR about it, is welcome to submit it.

[2020-12-04 19:18] werty1001 commented on #1100
I found how to fix the error, we can add to `vue.config.js` transpile option:
[code]
Thanks for VUE component!

[2020-12-04 19:18] #1100 closed, assigned to nobody

[2020-12-04 19:24] matteobruni commented on #1100
Thanks to you for the solution, I'll add it to the documentation!

[2020-12-05 17:42] matteobruni opened #1101 "Simplify randomizable values"
Randomizable `value` properties are a mess, there is a lot of `minimumValue` (`random` and `animation` have it) properties and a `value`.

This must be simplified in a simpler property type:

[code]

and the new `IRange` interface is made like this:

[code]

Old properties should be still supported but they must converge to this new syntax.

`Range.max` would have the numeric `value` if at least o

[2020-12-07 16:28] monteiz opened #1108 "Cannot find a way to get a reference to the Container object with React"
**Which version are you using?**
1.18.11

**Is the latest version affected?**

- [X] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [X] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-partic

[2020-12-07 16:40] matteobruni commented on #1108
Hi @monteiz

Actually, there is a `container` property in the `<Particles />` tag which is a `React` `ref` property.

You can see a sample here:

https://codesandbox.io/s/compassionate-mcnulty-ocu3r?file=/src/App.js

The `useEffect` retrieves the object after the loading and logs it in the `console` just to show that the object is the right one

[2020-12-07 16:50] monteiz commented on #1108
That did the job, thank you so much.

I needed that because using SSR, the initial canvas size is [0,0].

I have to set the correct canvas size after the first render:

[code]

[2020-12-07 19:25] #1108 closed, assigned to nobody

[2020-12-09 18:55] H3RSKO opened #1131 "CRA - when adding polygon to particles.json I get: TypeError: Cannot read property 'numberOfItems' of undefined"
**Which version are you using?**
1.18.11

**Is the latest version affected?**

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [x] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-partic

[2020-12-09 20:55] matteobruni commented on #1131
Hi @H3RSKO,

This is a common question, don't worry. The polygon mask feature requires `pathseg` to work with some browsers (Chrome for example).

You can see the same error here: https://github.com/matteobruni/tsparticles/issues/283 and many other similar issues here: https://github.com/matteobruni/tsparticles/issues?q=is%3Aissue+pathseg+is%3Aclosed

To fix the error, you need to `import "pathseg

[2020-12-09 22:32] H3RSKO commented on #1131
That did it. Thanks!

[2020-12-09 22:37] #1131 closed, assigned to nobody

[2020-12-13 09:04] carlassmann commented on #953
@matteobruni is the slim build somehow available when using a component framework like React or Preact? I'm using Gatsby and ts-particles (awesome tool) is by far the largest part in my build even though I only use the core features.

[2020-12-13 14:54] matteobruni commented on #953
Hi @ccssmnn, actually is not available but I'm working on the 2.x release that will be more customizable.

[2020-12-19 18:23] adhess opened #1171 "scroll action not working."
/* DO NOT DELETE THE TEMPLATE BELOW, you can safely delete this line */

**Which version are you using?**
Ex. 3.4.1

**Is the latest version affected?**

- [x] Yes
- [] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [x] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-pa

[2020-12-20 12:24] adhess commented on #1171
I solved the problem by adding another element to the dom with z-index: 2;
if someone else have the same issue, maybe they should just play on the z-index.

[2020-12-20 12:24] #1171 closed, assigned to nobody

[2020-12-23 00:55] #951 closed, assigned to nobody

[2020-12-23 00:55] #809 closed, assigned to nobody

[2020-12-24 10:07] ghost opened #1184 "[REACT] How to manually/dynamically play & stop particle emitters"
How can i manually play and stop the particle emitters in React.js?

Can't find anything on the docs..

**Which version are you using?**
1.18.11

**Is the latest version affected?**

- [ x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ x] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-part

[2020-12-24 10:16] matteobruni commented on #1184
Hello @lemurweb-dev,

This is a great question, I never thought about that before but I found an easy solution (until I make it simpler).

After retrieving the `container` using the `ref` object you can use this snippet to manage the emitter:

[code]

Obviously `array[0]` can be replaced with any valid index.

If you don't know how to retrieve the `container` checkout this: #1108

[2020-12-24 15:43] ghost commented on #1184
Thank you Matteo,
i managed to get the Ref of the container and i have no errors when calling the
[code]
function, but the emitter doesn't emit still.
I'm using tsParticles to have some kind of "rocket launch" smoke effect played only when user presses a button. So i set
`autoPlay: false,` in the options.
This is my button pressed function:

[code]

I managed to get it to work by calling the globa

[2020-12-29 23:27] matteobruni commented on #1184
You need to start the container before emitters if you disable the `autoPlay`. The container start will initialize it correctly. If you just want emitted particles you can set the general `particles.number` to `0` and you'll have only the emitted ones.

Hope it helps, if you can share the config I can help more.

[2021-01-06 23:20] tomswork opened #1218 "[REACT] Can we get a 'onload' event?"
Hey guys it would be great to get an onload prop on the react component (similar to the load promise on normal tsparticles) - doesnt look like there is a way to set this up otherwise.

**Which version are you using?**
react-tsparticles 1.18.11

**Is the latest version affected?**

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [x] React (`react-tsparticles

[2021-01-06 23:34] matteobruni commented on #1218
Hi @tomswork, the upcoming `2.0.0` release will have this feature.

This will also permit the loading of any preset or plugin in all components, actually, it's possible only in the core version.

[2021-01-06 23:42] tomswork commented on #1218
Ok great @matteobruni looking forward to it 👍

[2021-01-08 00:12] Henama opened #1220 "Border-radius option in the JS particles library?"
Hi,

First of all thanks for the JS particles library. It is a very cool library (using 1.18.11). I'm curious of it is possible to create a rectangle with a smooth border. Just like in CSS: border-radius: 10px (for example). I cannot find something like this on CodePen or on Google for this plugin.

Thanks.

[2021-01-08 00:28] matteobruni commented on #1220
Hi @Henama,

I don't understand what are you requesting, what should have the `border-radius`? You can set it to the `div` style like any other div or directly on the `canvas` element.

[2021-01-08 10:14] Henama commented on #1220
Hi @matteobruni,

Thanks for your message.

I try to create particles: circles and rectangles. But I want smooth borders on the rectangles. I want this kind of shapes in my particles effect: https://pasteboard.co/JIFI8cQ.jpg

Is this possible by using shapes? And how can I get this done?

Thanks.

[2021-01-08 11:03] matteobruni commented on #1220
Actually, that shape is not supported, but if you want to create your custom shape you can have a look at some external shapes I've made.

Checkout these:

- Bubble shape effect: https://github.com/matteobruni/tsparticles/tree/master/shapes/bubble
- Heart shape: https://github.com/matteobruni/tsparticles/tree/master/shapes/heart
- Multiline text shape: https://github.com/matteobruni/tsparticles/tr

[2021-01-08 11:34] Henama commented on #1220
Thanks again for your reply!

Hm, I'm not that familiar with JS to creates custom shapes like your examples. Could you give me some input, maybe a small example, so I can tweak/customize it?

I know I've to use `tsParticles.addShape` to add a Shape. But I don't know how to configure it into a rectangle with rounded borders..

Thanks!

[2021-01-08 13:11] matteobruni commented on #1220
I linked the 4 additional shapes, you can start from the `heart` sample (it's the simpler).

If you don't want to use TypeScript, you can just use a single JavaScript file, don't worry.

The first param is the shape `type` (to be used instead of `circle` or others) and the second one is a function with the canvas context, the particle, and the radius in the parameters, you don't have to return any

[2021-01-08 22:22] Henama commented on #1220
Thanks for your reply.

I tried with your advice to create a shape, but without luck. It's hard for me to draw a shape like this and implement it to de `tsParticles.addShape` function. Is there any possibility you could help me with this shape?

[2021-01-08 22:31] matteobruni commented on #1220
If you can show me what you have done for now I can give you more help

[2021-01-08 22:43] Henama commented on #1220
Thanks for your reply.

[code]
At this moment I made this, the shape is 'ok' now, but I don't know how to make the difference between filled shapes and not (it should be randomize). And it looks like it doesn't sync with the options. I can't change the size of them for example in `tsParticles.load`..

[2021-01-08 23:01] matteobruni commented on #1220
You don't need to call `stroke` or `beginPath`, tsParticles already handle them with right options.

You should not use constant values but calculate values using `radius`.

I try to add it to a codepen so I can check it

[2021-01-08 23:23] Henama commented on #1220
Thanks for your reply.

I removed the stroke. See my codepen here: https://codepen.io/Henama/pen/GRjBOVa, but no luck with the rectangles..

[2021-01-08 23:32] matteobruni commented on #1220
I've checked out the codepen, the `type` was misplaced, it's outside the `particles` section.

[2021-01-08 23:37] Henama commented on #1220
Thanks for your reply.

Oh, it looks much better now! Could you tell me why the rectangles are not bouncing well here, to other particles and why the size is not variable here?

[2021-01-08 23:44] matteobruni commented on #1220
You need to replace all the constant values with `radius` based formulas, remembering that the `0,0` coordinates must be the shape center to have good bounces and rotations

[2021-01-09 01:09] #995 closed, assigned to nobody

[2021-01-09 18:01] Henama commented on #1220
Thanks for your reply.

I can't figure how this should be done, I'm not that good in Javascript. Sorry Matteo, thanks for your help.

[2021-01-10 15:51] tonystrawberry opened #1221 "Vue 2.6.11 - Unknown custom element: <Particles>"
**Which version are you using?**
Ex. 2.1.11

**Is the latest version affected?**

- [X] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [X] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-par

[2021-01-10 15:59] matteobruni commented on #1221
Hi @tonystrawberry,

Can you share some code, please? So I can replicate the issue and identify the problem.

Thanks

[2021-01-10 18:34] mtpiercey commented on #1221
This is more of a workaround then a fix, but I thought of it the second I saw this issue's name.

I had a very similar issue with importing Ionicons in Nuxt (using Vue 2.6.x), where Vue wasn't recognizing the `ion-icon` component. I got around the unknown custom element problem with this bit in my `nuxt.config.js`. Not sure if it's relevant, but again it worked for me in a very similar scenario, s

[2021-01-12 01:12] #895 closed, assigned to nobody

[2021-01-14 02:58] lhunath opened #1225 "Combining shapes"
**Which version are you using?**
1.18.0

**Is the latest version affected?**
- [x] Yes
- [ ] No

**Which library are you using?**
- [x] Vanilla JS (`tsparticles`)

**Is your feature request related to a problem? Please describe.**
I need particles that are characters with a background. There does not appear to be a way to achieve this. This feature request proposes a solution that would allow for

[2021-01-14 07:49] matteobruni commented on #1225
Hi @lhunath,

Thanks for the suggestions!

I try to answer all of them:

- Particles already allow multiple types but they're random picked to give a single shape to any particles, maybe a new shape type like `combined` with extra options for types to combine (like an array that describes also the drawing order) is the easiest way to achieve it.
- Starting from the point above a new shape type can

[2021-01-15 14:41] lhunath opened #1228 "Adequate property documentation"
**Which version are you using?**
1.18.0

**Is the latest version affected?**

- [x] Yes

**Which library are you using?**

- [x] Vanilla JS (`tsparticles`)

**Is your feature request related to a problem? Please describe.**
Trying to determine the correct way to use the library, achieve a certain desired effect, or ascertain what is possible and what is not possible, is almost impossible today wit

[2021-01-24 16:44] matteobruni commented on #958
The `2.0.0` version will have `fast-deep-equal`. I preferred this to `react-fast-compare` since it's the parent library and is still actively supported and has itself a `react` version. Performances seem the same, so it should be fine with less size.

The main goal of `2.0.0` version is also composability, you can choose yourself what feature you want to include

[2021-01-24 16:54] matteobruni commented on #1218
The `loaded` property will accept a `(container) => void` function, and it will be called when the assigned container will be initialized. This will be introduced starting from `2.0.0-alpha.2` for `React`, `Preact` and `Inferno`

[2021-01-25 17:16] noraj opened #1251 "[Question] class instead of div for the container"
**Which version are you using?**

1.18.11

**Is the latest version affected?**

Not an issue.

**Which library are you using?**

- [x] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-particles`

[2021-01-25 17:34] matteobruni commented on #1251
Hi @noraj,

Actually, anything different from an `id` is not supported. But maybe it won't be supported in the future too. The reason is simple, I do not recommend more than `1` tsParticles instance per page since the performance would drop significantly.

Maybe a better solution is to create a transparent div on top the one you are trying to target at the moment and load there the particles insta

[2021-01-25 17:40] noraj commented on #1251
In my case there won't be performance issue as I was planning to use a static display (no animation), just a random set of particles at start. But if it won't be supported in the future I'll just export it as a picture and load the picture multiple times but i won't be random and it will have a fixed size.

[2021-01-25 17:43] matteobruni commented on #1251
@noraj maybe I understood bad what you want to achieve in the first place.

Do you want to have a random configuration loaded every time? This can be achieved with a single instance

[2021-01-25 19:11] noraj commented on #1251
Imagine a page where I have 10 images, I wanted to replace the 10 images with 10 instances of tsParticles (eg a 250x250 div) without any animation (static) but the random case checked so each image would be different but using the same config (the particles would just be placed differently for each). But you already answered me there was no solution for that and won't be in the future. As creating

[2021-01-25 19:43] matteobruni commented on #1251
Thank you @noraj, I'll create a sample with a hero section, maybe it will be clearer that the container is any HTML element with that id, it's the CSS that makes the difference in this case.

Anyway, I'm still thinking about what you want to achieve. I think I have a solution as you can see [here](https://codepen.io/matteobruni/pen/XWjLOpQ)

As I said this configuration uses more resources but wit

[2021-01-25 22:00] noraj commented on #1251
Wow nice trick, I'll try that tomorrow.

Yes, I had a hard time playing with that but failed.

[2021-01-25 22:39] matteobruni commented on #1251
@noraj [here](https://codepen.io/matteobruni/pen/QWKXPRq) you can find a sample with tsParticles in the hero you linked, a little CSS is needed but is not breaking the layout

[2021-01-25 22:51] noraj commented on #1251
@matteobruni You're amazing, thx a lot.

[2021-01-25 23:31] #1251 closed, assigned to nobody

[2021-01-26 13:21] matteobruni opened #1256 "Polygon Mask bounce back inline is not working"
PolygonMask with inline configuration is breaking with the repulse mouse event, the particles are not bouncing back to their initial position

[2021-01-26 15:20] WouterrV opened #1257 "How to debug?"
I have this message in my console: `callback - tsparticles config loaded` but I don't see particles in the div with `id` =  `particlets`. How do I debug this?

[2021-01-26 16:02] matteobruni commented on #1257
Hi @WouterrV, can you share the config?

It can help me identify the issue and explain it

[2021-01-27 12:59] WouterrV commented on #1257
Thanks for your reply. The problem turned out a typo in the `id`, a `canvas` element appeared as soon as I fixed that. Maybe it'd be nice for tsparticles to log if it can't find the specified element..

[2021-01-30 14:30] FraserHamilton opened #1269 "Polygon Mask Inside Particles Become Stuck"
**Which version are you using?**
1.18.0

**Is the latest version affected?**

- [X] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [X] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-particl

[2021-01-30 14:33] FraserHamilton commented on #1269
Here's my conifg

[code]

[2021-01-30 19:24] matteobruni commented on #1269
Thanks for reporting that, I noticed it some days ago and I'm working on it for the upcoming `2.0.0` release

[2021-01-30 22:13] FraserHamilton commented on #1269
Excellent, just wasn't sure if I was configuring it wrong. I've also noticed particles not getting stuck but vibrating in a similiar manner when using the inline mask configuration, presumably this is a releated issue.

[2021-01-30 22:15] matteobruni commented on #1269
Yes, they vibrate because they start bouncing forever.

I'm adding a flag to make the bounce happen again only when the particles will be back in place. The issue is in the polygon mask plugin because it overrides the general bounce

[2021-01-31 00:53] #896 closed, assigned to nobody

[2021-01-31 18:11] lloydjatkinson opened #1277 "How to make tsParticles full width and height of a container and not the whole page?"
I have been struggling trying to get particles.js to be the background of a given element. That library seems to position the canvas weirdly and it always makes the canvas wider and longer than the element, and hacking around with `top` and `left` doesn't really work well either. As far as I can tell it assumes you only ever want the whole page background to be it's canvas. so I decided to look in

[2021-01-31 18:55] matteobruni commented on #1277
Hi @lloydjatkinson,

Yes, this configuration is possible. You can see that working in these samples

https://codepen.io/matteobruni/pen/XWjLOpQ

https://codepen.io/matteobruni/pen/QWKXPRq

I try to explain how to achieve it.

[code]

Don't enable `backgroundMode` options or use any kind of fixed CSS on that div.

The best result will be achieved using a container for particles and your content lik

[2021-02-05 03:24] Ry0taK opened #1284 "[Security] Where can I report a security issue of this project?"
**Which version are you using?**
N/A

**Is the latest version affected?**

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-particles`

[2021-02-05 05:45] matteobruni commented on #1284
Hi @Ry0taK,

You can use [Slack](https://tsparticles.slack.com/join/shared_invite/enQtOTcxNTQxNjQ4NzkxLWE2MTZhZWExMWRmOWI5MTMxNjczOGE1Yjk0MjViYjdkYTUzODM3OTc5MGQ5MjFlODc4MzE0N2Q1OWQxZDc1YzI) or you can contact me by mail

[2021-02-05 06:19] Ry0taK commented on #1284
Hi @matteobruni,
Okay, I joined the Slack and sent a message to the DM!

[2021-02-05 06:19] #1284 closed, assigned to nobody

[2021-02-05 06:32] Ry0taK opened #1287 "Test Issue"
**Which version are you using?**
Ex. 1.18.11

**Is the latest version affected?**

- [ ] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-pa

[2021-02-05 06:32] #1287 closed, assigned to nobody

[2021-02-10 10:20] fredyfx opened #1299 "Ng-Particles generates extra div parent of Canvas. How to add a class to that div?"
**Which version are you using?**
1.18.12

**Is the latest version affected?**

- [X] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [X] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-partic

[2021-02-10 15:38] matteobruni commented on #1299
Hi @fredyfx,

In the demo app I use for testing I used a css file: https://github.com/matteobruni/tsparticles/blob/master/demo/angular/src/styles.css

But if you want to make it full screen you can use the `backgroundMode` options like this:

[code]

[2021-02-10 17:10] fredyfx commented on #1299
This is very interesting, the CSS was unused. The only thing I needed to add was the backgroundMode. Thanks Matteo!

[2021-02-10 17:10] #1299 closed, assigned to nobody

[2021-02-10 23:46] #1277 closed, assigned to nobody

[2021-02-10 23:46] #1257 closed, assigned to nobody

[2021-02-11 00:42] #984 closed, assigned to nobody

[2021-02-18 14:49] alexwybraniec opened #1323 "Enable particles to "move" in two directions (up and down)"
**Which version are you using?**
1.18.12

**Is the latest version affected?**

- [X ] Yes
- [ ] No

**Which library are you using?**

- [ X] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-part

[2021-02-18 15:52] ognjenjevremovic commented on #1256
Recently I worked on my personal portfolio website and wanted to use the _particles.js_ library for some particles effects.
However, I found out the project was _abandoned_ and not actively maintained. Reading through the issues on the that project I found out about your Typescript version of the library; _tsparticles_ an actively maintained _"fork"_ that is very much worked on with new features b

[2021-02-18 17:41] matteobruni commented on #1323
Hi @alexwybraniec,

This configuration can be achieved with the `1.18.x` version using a little trick, in the upcoming `2.0.0` it will be easier using particles groups (#1006)

You can try this configuration

[code]

Working sample: https://codepen.io/matteobruni/pen/JjbJOLz

[2021-02-18 17:53] matteobruni commented on #1256
Hi @ognjenjevremovic,

First of all thanks! This issue is a little bit tricky but I think it's easy to fix.

The `polygonMask` plugin has some issues with particles bouncing, it's not only related to mouse events with the repulse mode.

You can start from [this](https://github.com/matteobruni/tsparticles/blob/b96799f26166ab360dc75538445ee2d55a4cedd7/plugins/polygonMask/src/Utils.ts#L24) method, it

[2021-02-19 10:44] ognjenjevremovic commented on #1256
Thanks for getting back to me in such a short notice.
I'll be sure to start from the methods you have linked.

I have also joined Slack for any further questions I might have, regarding this or any other issue.
I hope I will have the fix ready in the next couple of days.

I'll able to dedicate my time to look into this issue in the greater details in the upcoming weekend.
I'll post some updates wh

[2021-02-20 15:48] lorenzofay opened #1325 "lineLinked -> opacity as an hover effect"
**Which version are you using?**
Ex. 1.18.12

**Is the latest version affected?**

- [•] Yes
- [ ] No

**Which library are you using?**

- [•] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-pa

[2021-02-22 13:29] ognjenjevremovic commented on #1256
Hey @matteobit just wanted give an update on this one.

I didn't manage to get a hold of the source.
I am not sure it is related to _PolygonMask_ plugin (after hours of debugging, though I might be completely wrong); or I am looking at the completely unrelated stuff (which is of high possibility).

I compared the code with the latest _v1_ release and couldn't track the issue on the _PolygonMask_ p

[2021-02-22 14:38] matteobruni commented on #1256
The issue I was talking here is existing in v1 as well since the bounce was incorrect. Maybe something else is broken but v2 is under development.
I’d like to discuss these dev things with Slack since they’re just dev issues, not production.

[2021-02-23 21:38] JoshuaKissel opened #1334 "Layering tsparticles on top of tsparticles"
**Which version are you using?**
Ex. 1.18.12

**Is the latest version affected?**

- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)

Migrating from particles.js on a Hugo site.

**Describe the solution you'd like**
I was wondering if it's possible to add multiple tsparticles.js to one canvas. I am looking to have the nodes change to dif

[2021-02-23 22:55] matteobruni commented on #1334
Hi @JoshuaKissel,

Every tsParticles instance uses its own canvas, you can stack them using CSS `z-index` but I never recommend this since they could lead to a low-quality result for all the resources used.
I thought about multiple `interactivity` sections but nothing has been done yet. Anyway, you can have different colored particles and using the `interactivity.bubble` changing only opacity and

[2021-02-24 06:29] PackageDotJSON opened #1337 "The target entry-point "ng-particles" has missing dependencies: - tsparticles"
I have installed ng-particles using npm and importing it in my app.module.ts file. But, angular app is not running and throwing an error:
The target entry-point "ng-particles" has missing dependencies:
 - tsparticles

 I do not know how to use the tsparticles in my angular app as their official documentation refers to ng-particles for angular framework.

[2021-02-24 07:01] matteobruni commented on #1337
Hi @kiyani1995,

You need to install `tsparticles` as well, the `ng-particles` is wrapped around the core library.

Once installed `tsparticles` you don't need to do anything else with that, it's just for being correctly included in the project correctly.

[2021-03-02 11:36] #958 closed, assigned to nobody

[2021-03-02 11:36] #1087 closed, assigned to matteobruni

[2021-03-02 11:36] #1218 closed, assigned to matteobruni

[2021-03-03 11:08] matteobruni opened #1354 "Change bundler for core library and plugins"
I noticed searching around the web that Rollup works better than webpack for libraries without many dependencies, since the core library has none maybe Rollup will result in a smaller size, this could affect plugins too since they have one or few more dependencies.
If this leads to a smaller size library Rollup will replace Webpack.

[2021-03-03 18:56] matteobruni commented on #1354
I tried setting up rollup with a `iife` and a `umd` bundle but they're way larger than the one created with webpack so this will not be implemented.

[2021-03-03 18:56] #1354 closed, assigned to nobody

[2021-03-08 08:08] #1334 closed, assigned to nobody

[2021-03-08 08:08] #1337 closed, assigned to nobody

[2021-03-08 08:09] #1323 closed, assigned to nobody

[2021-03-08 08:10] #1221 closed, assigned to nobody

[2021-03-08 22:13] #1184 closed, assigned to nobody

[2021-03-14 00:37] #890 closed, assigned to matteobruni

[2021-03-14 00:37] #1004 closed, assigned to matteobruni

[2021-03-14 00:37] #1069 closed, assigned to matteobruni

[2021-03-15 00:01] #1220 closed, assigned to nobody

[2021-03-15 00:04] matteobruni commented on #1220
Hi @Henama,

I created the shape you requested also working for `v1`.

You can see a working sample here: https://codepen.io/matteobruni/pen/RwodxpY

NB: You need to include also the script from <https://www.jsdelivr.com/package/npm/tsparticles-shape-rounded-rect>, the `rounded-rect` shape is not included in the base library.

[2021-03-15 02:30] adamalston opened #1378 "Page flashes on reload or when using forward/back buttons"
**Which version are you using?**
Switched over from [`react-particles-js`](https://github.com/Wufe/react-particles-js) to [`react-tsparticles`](https://github.com/matteobruni/tsparticles)
Version: 1.20.1

**Is the latest version affected?** Yes.

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

- [x] Yes
- [ ] No

**Which library are you using?**

- [x] React (`

[2021-03-15 07:41] matteobruni commented on #1378
Hi @adamalston,

I noticed also a different `.particles` CSS:

Original:

[code]

New Version

[code]

I tried your configuration and you don't set the background color using the `tsParticles` options `background` property so it must be a CSS related issue.

[2021-03-15 16:23] adamalston commented on #1378
I removed the `background-color: 0;` and the issue still seems to be present. I will try a few other things since, in my current config, I cannot define a static `background` property in the `tsParticles` options. Thanks.

[2021-03-15 16:23] #1378 closed, assigned to nobody

[2021-03-19 14:48] thewayur opened #1400 "stroke for images/svg particles?"
Is there anyway to give stroke to images? like stroke is working in circular particles not custom images path.

also i want to know if i can change stroke/color/shadow values on the fly without refreshing the whole particle canvas?
thanks

**Which version are you using?**
1.22.1

**Which library are you using?**

- [ ] jQuery (`jquery-particles`)

[2021-03-19 14:53] matteobruni commented on #1400
Hi @thewayur,

Probably you are trying to achieve something like this: https://github.com/matteobruni/tsparticles/blob/main/demo/main/public/presets/svgReplace.json

[code]

This is what you need, the `replaceColor` for the image shape options, this will replace every color with the particle color value. Actually is not possible to replace only a subset of colors.

[2021-03-19 17:38] thewayur commented on #1400
@matteobruni  much much thanks for the reference. now u have provided more examples for experiments :)

ok fine, i m getting that library still have limitations, its fine. I LOVE THIS LIBRARY (i m very new to canvas too)

now 2 big ques:
1. how to  add stroke to them?
2. how to change color on fly(without refreshing whole canvas). please i m new to canvas!

[2021-03-19 18:10] matteobruni commented on #1400
For stroking the particles you can see this sample: https://codepen.io/matteobruni/pen/XWbBxEm
Changing the color on the fly can be done with the animation like here: https://codepen.io/matteobruni/pen/NWRPKQW

But... If you want to replace the images color it's not supported since the image needs to be loaded for every color and I think the stroke will be a square around the image.

If you need a

[2021-03-20 05:49] thewayur commented on #1400
@matteobruni omg, beautiful examples! you are such a lovely person. thanks a lot for such an adorable library.
this is my most fav lib, you are my hero... love from India!!!!!

[2021-03-20 05:49] #1400 closed, assigned to nobody

[2021-03-21 22:32] #1093 closed, assigned to matteobruni

[2021-03-23 21:37] adamalston opened #1412 "console.log left in build"
**Which version are you using?**
1.24.1

**Is the latest version affected?**
- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [x] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-particle

[2021-03-23 21:55] matteobruni commented on #1412
Thanks for reporting that @adamalston, I didn't noticed that. The `1.24.2` is now live without the `console.dir`. The associated PR is building but the version is live. You can safely update to that 😉

[2021-03-23 22:00] adamalston commented on #1412
I had a question at the end of the issue that I was hoping someone could answer:

[2021-03-23 22:25] matteobruni commented on #1412
Ops I didn't noticed that.

I wrote an article about that: https://dev.to/matteobruni/tsparticles-1-23-0-released-4hn5

I'll explain it too:

The formula was wrong, it used random values that makes particles with a speed of `6` have a lower visual speed since it was calculated with a random number multiplied by the horizontal and vertical speed. This could lead to an horizontal speed of `4` and a

[2021-03-23 22:25] #1412 closed, assigned to nobody

[2021-03-23 23:03] matteobruni commented on #1412
The new values are:

| | new x | new y | old x | old y |
|-|-|-|-|-|
| top | 0 | -1 | 0 | -1 |
| top right | <img src="https://user-images.githubusercontent.com/176620/112229420-3aa45100-8c33-11eb-8f7e-d34708e53c6b.png" alt="sqrt(2)/2" height="50" /> | <img src="https://user-images.githubusercontent.com/176620/112229481-57d91f80-8c33-11eb-8c2e-2fdf9eeb9605.png" alt="-sqrt(2)/2" height="50" /> | 0.

[2021-03-24 00:12] adamalston commented on #1412
Thanks for the explanation, the math behind the change seems interesting. Also sounds like performance will see an improvement due to the circular emitter and speed being more linear - not that it was bad before.

[2021-03-24 01:46] notnot-nick opened #1414 "Slowing down"
**Which version are you using?**

1.24.2

**Which library are you using?**

- [ x ] React (`react-tsparticles`)

<details>
 <summary><b>tsParticles Configuration</b></summary>

[code]
</details>

**Describe the bug**

Particles end up getting REALLY SLOW, like almost not moving after a while

**To Reproduce**
Steps to reproduce the behavior:
1. Create a react project with tsparticles and use my co

[2021-03-24 07:10] matteobruni commented on #1414
Thanks for reporting that @Soldr, it seems related to `OutMode.bounce`, I'll investigate further.

[2021-03-25 21:54] leoseccia commented on #1414
I am experiencing the same - Ubuntu 20.10 / Chrome 89 (64 bit)

[2021-03-25 22:17] matteobruni commented on #1414
I found the cause, every time two particles collide they slow down.

I don't think this is an issue since it's a normal behavior. Anyway you can override the bounce values between particles.

I created a sample with CodeSandbox here: <https://codesandbox.io/s/weathered-tdd-09zhl?file=/src/App.js>

In this sample you can see how to customize particles bounces factors. They are multipliers to horizo

[2021-03-25 22:40] matteobruni commented on #1414
I'm currently digging more deeply since I'm not 100% sure about what I said. If I found a bug I'll let you know.

[2021-03-25 23:03] matteobruni commented on #1414
Ok with a  different mass calculation, using the particle area instead of radius, the effect seems nicer, but I'll do more tests before releasing an update.

[2021-03-27 14:39] Whitebowfr opened #1422 "Problem with transformed div interaction"
**Which version are you using?**
Ex. 1.24.1

**Is the latest version affected?**

- [x] Yes
- [ ] No

**Which library are you using?**

- [x] Vanilla JS (`tsparticles`)

<details>
 <summary><b>tsParticles Configuration</b></summary>

[code]
</details>

**Describe the bug**
When using translateX or translateY on a div, and then adding an interaction with it, the interaction is fired on the original

[2021-03-27 17:23] matteobruni commented on #1422
Hi @Whitebowfr,

I tried your configuration with the css transform applied and I reproduced the issue, I'll fix that soon.

Anyway I found some errors in your configuration:

- `move.outMode: "default"` -> `"default"` is not a valid value, use `"none"` instead.
- `move.direction: "default"` -> `"default"` is not a valid value, use `"none"` instead.
- `interactivity.detectsOn: "parent"` -> this is

[2021-03-27 17:38] Whitebowfr commented on #1422
Right, thanks for the help !
I'm still learning how to use the library and was trying to do an effect when you click a button, but didn't quite manage it.

[2021-03-27 17:40] matteobruni commented on #1422
I wanted to create a sample like that some days ago. Maybe it's time to create that.

[2021-03-27 17:55] matteobruni commented on #1422
@Whitebowfr I've made a simple sample with a button: <https://codepen.io/matteobruni/pen/rNjLBoY>

If you need more help feel free to ask

[2021-03-28 11:54] #1414 closed, assigned to nobody

[2021-03-28 12:02] matteobruni commented on #1414
With the new version released (`1.24.2` core, `1.24.3` react) this issue is fixed, I changed the formula using a different mass and it looks good.

[2021-03-29 20:40] leoseccia commented on #1414
Nice one! I will upgrade now :-) Thank you.

[2021-04-08 12:59] #994 closed, assigned to matteobruni

[2021-04-09 01:16] n8sabes opened #1466 "Aspect ratio does not update when tsparticles' element changes size, but the window has not changed size"
In **Vanilla JS version 1.26.0** if tsparticles' DOM element resizes, the canvas render becomes distorted. I've enabled `resize: true`, and upon manually resizing the window, tsparticles adjusts as expected. This however does not solve when a page reflows happens and all elements in a flexbox update with new widths and heights, one of which children is tsparticles.

**QUESTION:** Is there a way to

[2021-04-09 06:14] matteobruni commented on #1466
Hello @n8sabes,

Unfortunately you did the right thing since DOM elements don’t have a resize event so you need to fire it yourself when you know a change has been made.

I could do a resize every frame or something similar, but I think it’s not needed in most cases.

[2021-04-10 21:19] lensbart opened #1472 "tsc error with react-tsparticles"
**Which version are you using?**
1.26.2

**Is the latest version affected?**
Yes

**Which library are you using?**

- [x] React (`react-tsparticles`)

**Describe the bug**
- TypeScript version 4.2.4

When running `tsc` with `skipLibCheck: false` in `tsconfig.json`, I get the following error:

[code]

The error can be avoided by setting `skipLibCheck: true` in `tsconfig.json`, [as is recommended](h

[2021-04-10 21:45] matteobruni commented on #1472
Thanks for this, I never noticed that!

I think this is a high priority activity and will be inspected and fixed ASAP.

This could be an issue on Preact and Inferno packages too since they are almost the same.

[2021-04-11 00:38] matteobruni commented on #1472
I've just released a new patch version of `react-tsparticles` with this fix

[2021-04-11 00:50] #1472 closed, assigned to nobody

[2021-04-11 23:21] fabz1001 opened #1473 "Can’t get it to work with Vue 3 + Vite"
Hello, I'm trying to get particles to work in my Vue 3 + Vite project (with poor results)
Could I just ask for a codesandbox with Vue 3 and possibly Vite? Even the most basic configuration would do.

Thanks a lot in advance

**Which version are you using?**
 1.9.2

**Is the latest version affected?**

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

- [x] Yes
-

[2021-04-11 23:44] matteobruni commented on #1473
Can you give more details about how to create a Vite + Vue3 app? So I can start from that.

Have you got any error or it’s just not working?

[2021-04-12 06:06] matteobruni commented on #1473
I successfully used `particles.vue3` in a Vite project.

Steps:

`npm i particles.vue3`

Edited `main.ts` with this line

`import Particles from "particles.vue3"`

and edited the `createApp` line like this:

`createApp(App).use(Particles).mount('#app')`

Edited `shim-due.d.ts` adding this line

`declare module 'particles.vue3'`

Now the `<Particles>` component is ready to be used like in the sampl

[2021-04-12 07:23] fabz1001 commented on #1473
Thanks for the blazing fast response. It was a stupid mistake. It's now working! :)

[2021-04-12 07:23] #1473 closed, assigned to nobody

[2021-04-12 07:58] n8sabes commented on #1466
Hi @matteobit, Thank you for the response, and confirmation the workaround is currently best practice. It would be a nice if `resize` observed both the window and parent element to ensure aspect ratio is always correct in a responsive page.

**tsparticles** is amazing and I'm enjoying working with it!

[2021-04-12 07:58] #1466 closed, assigned to nobody

[2021-04-13 15:43] buligadragos opened #1477 "Resize problem using Gatsby"
**Which version are you using?**
1.26.2

**Is the latest version affected?**

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

- [x ] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [x ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte

[2021-04-13 20:45] matteobruni commented on #1477
Hi @buligadragos,
This issue is not related to React, it's a bug in the core library, thanks for reporting it. It will be inspected ASAP.

[2021-04-15 10:14] matteoums commented on #1269
This issue is similar to #1256

[2021-04-19 21:04] #1477 closed, assigned to nobody

[2021-04-20 07:37] n8sabes commented on #1466
@matteobit, I am circling back to revisit this topic. I'm finding in my reactive layout use case (adjacent flex items that can change size), I have to implement observers everywhere tsparticles is used and re-execute `tsparticles.load`.

Would your idea to test for element size-changes on every frame be a reasonable enhancement? If so, a `resizeDebounce` value might be nice to reduce proc load in

[2021-04-20 16:39] matteobruni commented on #1466
I don't know how this could impact to general performances and behaviors. I have some doubts about the `density` option that will increase/decrease particles count based on the available area and the `responsive` options are affected too.

Anyway a valid workaround, if you don't want to reload everything, you can store the particles container like this:

[code]

And you can safely call `container.

[2021-04-21 19:15] n8sabes commented on #1466
Thanks for the snippet to access the canvas resize function. You have a good point about particle density. In my use case, a slider adjusts the size of sibling containers which causes rapid-fire updates, so I think:

1. Calling `canvas.resizeWindow()` will keep aspect ratios correct, and then
2. Defer a full load on debounce to fix density (**ONLY IF** density or other significant attribute has ch

[2021-05-05 06:29] GoldenMaximo opened #1519 "replaceColor option on image particle type not working."
**Which version are you using?**
1.26.3

**Is the latest version affected?**
- [x] Yes
- [ ] No

**Which library are you using?**

- [x] React (`react-tsparticles`)

<details>
 <summary><b>tsParticles Configuration:</b></summary>

[code]
</details>

**Describe the bug**
I'm trying to dynamically render SVGs as particles, I'm able to do so, however I'm having trouble trying to change their color.
I

[2021-05-05 08:25] matteobruni commented on #1519
Hi @GoldenMaximo,

Thanks for the report. About the PR feel free to open it even if the code is not the best, it’s a good chance to improve. It helps me see the differences from the original code.
Just a note, target that to branch `v1` since it’s near release that version.

[2021-05-05 14:04] motion-work commented on #1269
Is there a possibility to try a fixed version already?

[2021-05-05 14:07] matteobruni commented on #1269
Hi @motion-work, actually is not possible, the new bounce works fine but sometimes particles will go outside. When this bug is fixed I’ll release the new version.

[2021-05-05 14:20] motion-work commented on #1269
thanks for the quick responsive. looking forward to it! Do you have an estimated release date?

[2021-05-05 14:24] matteobruni commented on #1269
I hope to release it in some days, I just need to find the formula for adjusting particles that went outside instead of bouncing and it’s done.

[2021-05-06 06:35] matteobruni commented on #1269
I created a PR with a first "working" version, some improvements can still be done but at least particles stays inside/outside correctly.
You can clone the `v1` branch to see how the new fixes appear.
To run the `main/demo` project you have to:

- Execute `yarn && npx lerna bootstrap && npx lerna run build` inside the cloned folder
- Move to folder `main/demo`
- Execute `yarn start`
- Go to http:/

[2021-05-08 11:39] OswaldTheMighty opened #1524 "Polygon feature not working in Chrome in ng-particles"
**Which version are you using?**
Ex. 1.26.3

**Is the latest version affected?**
Yes

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

- [ ] Yes

**Which library are you using?**
- [ ] Angular (`ng-particles`)

**Describe the bug**
The polygon feature in the Angular package is not working in Chrome. This seems to be due to the use of deprecated/removed SVG API `

[2021-05-08 12:12] matteobruni commented on #1524
Did you added `”pathseg”`? It’s required for Chrome compatibility for that feature

Similar issue:
https://github.com/matteobruni/tsparticles/issues/283

[2021-05-08 12:35] OswaldTheMighty commented on #1524
Amazing, I googled this for hours so I'm not sure how I didn't find this, but you're right that fixed it. Thanks for the help!

[2021-05-08 12:35] #1524 closed, assigned to nobody

[2021-05-10 10:10] motion-work commented on #1269
We really appreciate your effort on this issue. Do you think the `v1` branch can be merged into `main`  by tomorrow? We are going to release our website on Wednesday, it would be awesome to have this bug fixed until then.

[2021-05-10 10:27] matteobruni commented on #1269
I think it’s possible. I started a new feature but I splitted it from that branch so it can be released later.

[2021-05-11 10:49] #1101 closed, assigned to matteobruni

[2021-05-11 10:49] #1256 closed, assigned to nobody

[2021-05-11 10:49] #1269 closed, assigned to nobody

[2021-05-11 10:49] #1519 closed, assigned to nobody

[2021-06-02 21:11] mferrini opened #1587 "Particles reset/bunch along right side of browser upon viewport resize"
**Which version are you using?**
27.0

**Is the latest version affected?**

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`s

[2021-06-02 21:36] matteobruni commented on #1587
I reproduced the bug, thanks for the details.

I need to do some checks on the resize function, it will be fixed in the upcoming `1.28.0` version.

[2021-06-02 21:48] mferrini commented on #1587
Sure thing.

It's obviously not super crucial to usability or anything, but this client is complaining that when they resize, the particles bunch up, so I figured it was worth logging it as a bug of sorts.

Other than that your version of particles is very cool, more versatile and fixed the similar issue the original had wherein the particles would bunch weirdly upon any viewport resize, but more

[2021-06-04 16:53] selamhabibi opened #1594 "Define particle direction by an angle?"
**Which version are you using?**
1.27.0

**Is the latest version affected?**

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (

[2021-06-04 17:26] matteobruni commented on #1594
I thought it was possible but I found out that it's not. I'm going to fix this in the upcoming `1.28.0` version.

It seems the `angle` property inside the `move` section is bugged.

[2021-06-11 00:34] matteobruni commented on #1594
I just released the `1.28.0` version, you can now specify an angle in degrees in `particles.move.direction` or the old values ("top", "right", "none", etc.)

[2021-06-11 00:35] matteobruni commented on #1587
I released `1.28.0`, it should resize better now, the resize event it's debounced with a delay of 500ms

[2021-06-11 07:09] #1587 closed, assigned to nobody

[2021-06-11 07:09] #1594 closed, assigned to matteobruni

[2021-06-11 07:20] selamhabibi commented on #1594
Thank you very much! Everything works as described.

[2021-06-16 13:50] utkarshk384 opened #1636 "Add React SVGR Support"
**Which version are you using?**
Ex. 1.19.2
1.28.1

**Is the latest version affected?**
Yes

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [x] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)

[2021-06-16 13:59] matteobruni commented on #1636
tsParticles uses canvas to draw elements and not DOM, also is not a React only library so this should be a feature only for the React component that I find unfair.

Anyway, if you want to have two different configurations based on themes you can checkout this sample with tsParticles themes configuration: https://codepen.io/matteobruni/pen/rNeOaWP
This configuration uses the themes option to custom

[2021-06-16 14:07] utkarshk384 commented on #1636
Thank You @matteobruni  for an extremely quick response. Yep, I agree that it would be unfair if this feature is available in react only. But is there any way to get around this issue? I will make  sure to look into the codepen that you provided  to see if it resolves my issue.

Thank you for the help!

[2021-06-16 14:55] utkarshk384 commented on #1636
@matteobruni
Can you help me with the implementation of the theme system in react? I made a config generator that would generate config depending on the theme(will attach a code snippet below). I tried to use the `useRef` hook to reference the config file and then pass it to the `options` prop. However, the Particles' color aren't being updated as per the theme when the theme is switched.  Here is

[2021-06-16 18:11] matteobruni commented on #1636
@Utkarsh-Kumar384 sorry I found a bug in the themes options loading and I had to release the `1.28.2` version.

You can find below a sample with two buttons switching particles themes, you don't have to deal with strange settings or refs. There's a `themes` section inside the options that you can see in the sample.

https://codesandbox.io/s/wonderful-tereshkova-2n6ty?file=/src/App.js

Each theme s

[2021-06-16 22:55] utkarshk384 commented on #1636
@matteobruni
Thank you for the quick fix. Now I am able to theme the particles depending on the theme system.

[2021-06-16 22:55] #1636 closed, assigned to nobody

[2021-06-16 23:13] utkarshk384 commented on #1636
@matteobruni
Sorry for the partial responses, but I just want to confirm if the library does alter the `light` and `dark` classes in the root `<html>` tag? As when I switch to the page with the ts particles, it seems to change the class automatically without any state changes to the `isDark` state.

[code]
This only happens when I start from light mode and load the particles page. Not when I start

[2021-06-16 23:25] matteobruni commented on #1636
The library doesn’t alter any external tag, it reads the CSS preferred color scheme if default and mode are set in theme, for example if default is true and mode is dark, this theme will be loaded automatically when user has a dark theme set in its device

[2021-06-16 23:27] utkarshk384 commented on #1636
@matteobruni
Is it possible to disable this behaviour of reading from the color scheme?

[2021-06-16 23:30] matteobruni commented on #1636
Just set default property in themes to false

[2021-06-16 23:31] utkarshk384 commented on #1636
Oh worked, Thank you

[2021-06-22 02:40] n8sabes opened #1682 "Random move speed range not working"
When using `move` random speed, there does not seem to be a way to set the minimum value in the random range. I've tried the configuration below, but still get values below the min. Am I not configuring correctly, is this not supported, or a bug?

**Which version are you using?**
1.29.0
**Is the latest version affected?**
Yes
*You can checkout latest version [here](https://www.npmjs.com/package/ts

[2021-06-22 05:19] matteobruni commented on #1682
If you set `random` to `false` it should work fine, if not I’ll investigate further

Also set correct `min` and `max` values, they’re swapped

[2021-06-22 11:30] hartmutobendorf commented on #1277
Thank you, brilliant tip!

[2021-06-22 12:20] j0nm1 opened #1683 "ng-particles: Cannot find module 'tsparticles' or its corresponding type declarations."
**Which version are you using?**
[code]

**Is the latest version affected?**
- [x] Yes
- [ ] No

**Which library are you using?**

- [x] Vanilla JS (`tsparticles`)
- [x] Angular (`ng-particles`)

**Describe the bug**

The problem exists when compiling an Angular application that uses `ng-particles` and `tsparticles` without `"skipLibCheck": true` in the `tsconfig.json`.

The error is:
[code]

With

[2021-06-22 12:26] matteobruni commented on #1683
Hi @j0nm1,

The other issue was fixed, it was an error in the react component type definition.

What is your TypeScript version? I had some issues with TypeScript <=4.0 and I’m working on a fix that will be out soon (I don’t know how soon yet)

[2021-06-22 12:27] j0nm1 commented on #1683
Hi, thanks for the quick reply. I'm using `typescript: 4.0.8`

[2021-06-22 12:29] matteobruni commented on #1683
Ok that’s the issue, there are broken types definitions for TypeScript <4.1, you can try with `1.29.0`, this version should work, the `1.29.2` has some changes that didn’t work as expected

[2021-06-22 12:42] j0nm1 commented on #1683
Downgrading to version `1.29.0` did not work. But after updating `typescript` to `4.1.6` it works with `1.29.2`.
For me, the problem is resolved with this solution. Thank you!

[2021-06-22 12:46] matteobruni commented on #1683
Thank you @j0nm1 for the test, I’ll investigate more about that before releasing an update

[2021-06-22 15:10] n8sabes commented on #1682
@matteobruni; Indeed, setting `random` to `false` AND correct assignment of `min` and `max` works perfectly.

Thank you -- Closing Issue.

[2021-06-22 15:10] #1682 closed, assigned to nobody

[2021-06-23 02:07] luojiandan opened #1689 "TS1005: ';' expected.||TS1005: '=' expected."
tsparticles version:1.29.2
typescript version:4.3.4
get error:
[code]
![001](https://user-images.githubusercontent.com/5663556/123023996-f9c30080-d40a-11eb-8039-4e8314b69b72.png)

[2021-06-23 02:52] matteobruni commented on #1689
Issues here starts with a template for a reason. I need a lot of additional information here.

What package are you using? The configuration could also help.

Anyway, you are getting this error doing what? I can see a `mini-css-extract-plugin` in the error stack, maybe a misconfiguration of that plug-in where you are giving typescript or JavaScript files in input?

[2021-06-23 04:02] luojiandan commented on #1689
hi @matteobruni
the package.json is:
[code]

[2021-06-23 05:31] matteobruni commented on #1689
So you are using the vanilla package, no Vue, React or other components. Do you have some other configurations that could include `mini-css-extract-plugin`? The error you are getting starts from that, so I still thing it's a misconfiguration.

Can you share the code where you are using tsParticles?

[2021-06-23 07:06] luojiandan commented on #1689
hi,@matteobruni ,thanks a lot.
my tsParticles is very simple,and it's ok in html.
I use it in PowerBI Custom Visual Development.
code:
create a div element.
[code]
then use tsParticles
[code]

[2021-06-23 07:17] luojiandan commented on #1689
@matteobruni
I upload the project code,It's [a simple powerbi custom visual.](https://github.com/luojiandan/webParticles)
[power bi custom visual doc](https://docs.microsoft.com/zh-cn/power-bi/developer/visuals/develop-circle-card)

[2021-06-23 13:27] luojiandan commented on #1689
it's ok:
[code]
change to:
[code]

[2021-06-23 14:06] matteobruni commented on #1689
I recommend using the `tsParticles` syntax since the old `particlesJS` function is deprecated

[2021-06-27 12:33] superdiazzz opened #1708 "How to change Particles Background Image with Vuejs3 ?"
/* DO NOT DELETE THE TEMPLATE BELOW, you can safely delete this line */

**Which version are you using?**
^1.12.2

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

- [ x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [x ] Vue.js 3.x (`particles.vue3`)
- [ ]

[2021-06-27 12:51] matteobruni commented on #1708
I used your config here and it has a background: https://codesandbox.io/s/fancy-sun-5kgiw?file=/src/App.vue

Maybe the issue is somewhere else.

[2021-06-27 13:53] superdiazzz commented on #1708
@matteobruni I mean, i want to change background to image. The default background is color. I want to make something like this link [https://vue-particles.netlify.app/?ref=madewithvuejs.com](https://vue-particles.netlify.app/?ref=madewithvuejs.com) how to make it in vue 3?

[2021-06-27 14:01] matteobruni commented on #1708
You can find all `background` options here: https://particles.js.org/docs/interfaces/options_interfaces_background_ibackground.ibackground.html

As you can see `background` doesn't have only color, also `image` and other CSS shorthands. These are set directly to CSS, so if you want to use an image remember to use the `url()` CSS function

[2021-06-27 14:27] superdiazzz commented on #1708
@matteobruni  Sorry, How to use it. This not working

[code]

[2021-06-27 15:26] matteobruni commented on #1708
[code]

this should be fixed like this:

[code]

`url` is not a valid javascript function, this is why it's not working

[2021-06-27 16:04] superdiazzz commented on #1708
@matteobruni thank you, it works

[2021-06-27 16:04] #1708 closed, assigned to nobody

[2021-06-27 18:25] Kapcash opened #1709 "Configure "push" size value"
## Which version are you using?
Version 1.29.2

##Which library are you using?

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [x] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-particles`)
- [ ] jQuery (`jquery-particles`)

<details>
 <

[2021-06-27 18:36] matteobruni commented on #1709
Check out this sample: https://codepen.io/matteobruni/pen/MWmgZxO

Particles have a range size value and when you push them they have a different size.

In your config you have `random: true` and `value` with a range, it's not necessary to use `random` if you specify a range. The random property is deprecated, since the `min/max` it's easier to read and write.

[2021-06-27 19:08] Kapcash commented on #1709
Nevermind, I'm just stopped my brain for a moment I think.
Actually it's because I use the hover + bubble event, so obviously when I create a new particle from click, it reacts to the hover bubble event and grows to the max bubble size...

Thanks for your very quick anwser! I'm having real fun with your library :)

[2021-06-27 19:08] #1709 closed, assigned to nobody

[2021-06-28 13:15] matteobruni commented on #1689
Just a note, the `1.30.0` will be released in the next days (or maybe today). The `dist/` folder will be removed, so be careful with the next update.

[2021-06-28 13:15] #1689 closed, assigned to nobody

[2021-06-28 16:07] #1683 closed, assigned to nobody

[2021-07-06 05:30] ShivamS136 opened #1769 "Compilation error: "Module not found: Can't resolve 'tsparticles'" after updating from 1.27.0 to latest 1.30.4"
**Which version are you using?**
1.30.4

**Is the latest version affected?**

- [X] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [X] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-particl

[2021-07-06 05:55] matteobruni commented on #1769
Hi @ShivamS136,

you can try Installing the `tsparticles` package, it should fix the error

[2021-07-06 06:39] ShivamS136 commented on #1769
Hi @matteobruni,

Thanks, It's working fine now.

Is it a breaking change from `1.27.0` to `1.30.4`? As previously it was working fine without separately installing `tsparticles`? It's not mentioned in [the doc](https://www.npmjs.com/package/react-tsparticles) as well.

[2021-07-06 06:43] matteobruni commented on #1769
Yes, I changed some dependencies to be peer dependencies and I forgot to update the README file

[2021-07-06 06:51] ShivamS136 commented on #1769
Sorry for bothering you, but I am very new to Node, NPM, and react. So will it stay the same from now on i.e. install `tsparticles` separately OR in the future, you will make it the same as the previous one? As I think separate install may create confusion as having a package in `package.json` but not imported anywhere but required. But you are the expert, you know better.

[2021-07-06 07:21] matteobruni commented on #1769
The actual version is not gonna change, I prefer the peerDependency since the components will be more Indipendent, it’s a minor change since the main library is installed anyway, in one case automatically and in the other manually. The `”tsparticles”` import could happen sometimes since it has some additional exports that could help sometimes so it’s already there

[2021-07-06 07:27] ShivamS136 commented on #1769
OK, Thanks @matteobruni, I'm closing it here. I hope `npm i tsparticles` was the right command to fix my issue which I performed. :)

[2021-07-06 07:27] #1769 closed, assigned to nobody

[2021-07-09 16:12] upasanadeka opened #1785 "Can't resolve tsparticle in 'node_modules\react-tsparticles\cjs'"
**Which version are you using?**
^1.30.4

**Is the latest version affected?**

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [x] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte

[2021-07-09 16:35] matteobruni commented on #1785
Hi @upasanadeka,

You need to install also the package `tsparticles` since it's a peer dependency now. I'm updating all the READMEs with this additional step.

There's a similar issue #1769 and it's fixed with this extra step so you should be fine too. Let me know if it's not.

[2021-07-09 21:47] #979 closed, assigned to matteobruni

[2021-07-10 07:27] upasanadeka commented on #1785
@matteobruni  Thanks a lot! It is working fine now! 💃🏻

[2021-07-10 07:27] #1785 closed, assigned to nobody

[2021-07-10 14:57] polymer-coder opened #1788 "Cannot find module 'vue-property-decorator' - Nuxtjs"
**Which version are you using?**
[code]

**Is the latest version affected?**

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [x] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)
- [ ] Angular (`ng-particles`)
- [ ] Svelte (`svelte-particles`)
- [ ] Preact (`preact-particles`)
- [ ] Inferno (`inferno-particl

[2021-07-10 15:02] matteobruni commented on #1788
Hi @polymer-coder,

These are the peer dependencies of `particles.vue`:

[code]

You need to install all of them

[2021-07-10 15:13] polymer-coder commented on #1788
@matteobruni Thanks! Works perfectly. Would you mind adding that bit to the documentation? It currently says the below:
![image](https://user-images.githubusercontent.com/71771821/125167688-ce147a00-e16f-11eb-90aa-aa55eae3d043.png)

[2021-07-10 15:14] matteobruni commented on #1788
Yes, indeed. Thanks for reporting, I didn't notice yesterday when updating docs. I'm reviewing all packages to fix all READMEs

[2021-07-10 15:15] #1788 closed, assigned to nobody

[2021-07-19 15:19] VagrantAI-c opened #1848 "Line flicker at canvas edges"
/* DO NOT DELETE THE TEMPLATE BELOW, you can safely delete this line */

**Which version are you using?**
1.31.1

**Is the latest version affected?**

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

- [X] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vu

[2021-07-19 15:22] matteobruni commented on #1848
Hi @VagrantAI-c,

Thanks for the reporting, I already discussed about this issue in one of the discussions here and a fix is already coming. I'm preparing `1.32` version for the release (PR #1803 if you want to see)

[2021-07-19 15:23] VagrantAI-c commented on #1848
Thank you for the quick response! I will be looking for it

[2021-07-20 17:22] mmilano commented on #1848
Thanks for reporting @VagrantAI-c. Am having this issue as well - am reverting to v1.29.2 where the problem does not appear for me

I am using the core tsparticles library (vanilla, not library specific), with Vue2.

[2021-07-21 07:47] #1848 closed, assigned to nobody

[2021-07-21 13:09] noraj opened #1859 "Changelog"
**Which version are you using?**

Not related to the code.

**Is the latest version affected?**

Not a bug.

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

Not related to the code.

**Which library are you using?**

Not related to the code.

PS: why is the custom issue template is the same a the bug report one?

## Description

There is no changelog available,

[2021-07-21 13:37] matteobruni commented on #1859
Hi @noraj,

I have a change log file but I didn’t notice it’s broken since 1.18, it’s maintained by lerna but something broke that

The broken change log is here: https://github.com/matteobruni/tsparticles/blob/main/engine/CHANGELOG.md

Anyway I add all informations in PR and GH releases, the one you need is this: https://github.com/matteobruni/tsparticles/pull/1719

I’ll fix the change log ASAP,

[2021-07-21 14:18] noraj commented on #1859
So it's in the engine folder 😃  thx

[2021-07-21 18:12] matteobruni opened #1860 "Particle Reuse"
Actually Particles are created and destroyed and removed from the array.

I did some tests in a smaller environment with two arrays, one with the same behavior of these particles and one with reusability and the performances were really better.

[2021-07-21 18:12] matteobruni opened #1861 "Resize Observer"
I found the Resize Observer JS API and I think this should be used if available instead of `window` `resize` event, this will improve responsiveness

[2021-07-25 16:31] #1861 closed, assigned to nobody

[2021-07-25 18:13] matteobruni commented on #1860
The issues I was complaining about was not related to particles reuse, but maybe with text particles, closing since performances are still good

[2021-07-25 18:13] #1860 closed, assigned to nobody

[2021-07-30 07:04] matteobruni commented on #1859
Changelog is working again with lerna, closing the issue

[2021-07-30 07:04] #1859 closed, assigned to nobody

[2021-07-30 13:37] matteobruni opened #1923 "Gradient colors"
All colors used in tsParticles are simple, I think supporting gradients could be a good addition since particles can obtain another effect just with colors.

How I think gradient should be configured:

[code]

[2021-07-30 14:49] caoash opened #1924 "particles not loading and TypeError - svelte-particles"
**Which version are you using?**
"svelte": "^3.41.0",
"svelte-particles": "^1.16.1",

**Is the latest version affected?**

*You can checkout latest version [here](https://www.npmjs.com/package/tsparticles)*

- [x] Yes
- [ ] No

**Which library are you using?**

- [ ] Vanilla JS (`tsparticles`)
- [ ] React (`react-tsparticles`)
- [ ] Vue.js 2.x (`particles.vue`)
- [ ] Vue.js 3.x (`particles.vue3`)

[2021-07-30 17:58] matteobruni commented on #1924
Thanks for reporting that @caoash,

I didn't tested `1.16` since I haven't done any change there but only in the core library but something with the transpiler is broken and I'm figuring out what.

For now the workaround is not updating to `1.16` and use `1.15`. When I've an update I'll let you know.

[2021-07-31 01:02] matteobruni commented on #1924
@caoash I tried downgrading svelte in the project and everything is working as expected, an update of the `svelte` package broke the build.

I've just opened an issue to their repository to see if they can find a solution. Maybe I'm going to release an update with `svelte@~3.8.3` since with that version is working.

[2021-07-31 22:47] #1924 closed, assigned to nobody

[2021-08-04 19:30] JenniferVanderputten opened #1949 "tsParticles in Popup"
### Contact Details

jenvander@gmail.com

### What happened?

The issue: When loading the particles into a div that is set to display:none (e.g. a popup), it calculates the canvas width and height to zero. Unfortunately, when the display is changed to show the element, the canvas size is not recalculated, and the particles are  therefore not visible. My workaround isn't working on Microsoft Edge,

[2021-08-06 06:01] matteobruni commented on #1949
Hello,

I tried reproducing the issue here: https://codepen.io/matteobruni/pen/oNWawOr
But the display none/block changes are detected. There's an issue using a `0`x`0` canvas since particles can't resize correctly (`0` is not a good number to use to resize).

Anyway I recommend starting the container when the popup has been shown and destroy it when it's closed since using a 0x0 canvas is not a g

[2021-08-22 12:26] renovate[bot] opened #2020 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting end of expression or separator near "]
  "grou`

[2021-08-22 14:25] #2020 closed, assigned to nobody

[2021-08-23 21:04] #1923 closed, assigned to nobody

[2021-08-25 05:09] renovate[bot] opened #2073 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/tsparticles/tsparticles).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

## Dep

[2021-08-25 09:39] shewitt1 opened #2074 "Issue with resizing SVGs when resolution changes"
### Contact Details

kiestoaltoid@gmail.com

### What do you need?

On window resize and devtools responsive mode, changing the resolution with an SVG mask seems to break the positioning.
![particles1](https://user-images.githubusercontent.com/47036029/130766951-c8070cf4-7bff-4a68-8973-b5a96832c42a.PNG)
Seen here is my positioned particles component, where it is centered on my monitor's resolution

[2021-08-27 07:13] matteobruni commented on #2074
Hi @shewitt1,

I made some tests with a triangle used locally. I had the same issue but the SVG was responsible of the displacement because it was not centered in its canvas.
I had a 150x200 triangle not centered in a 400x210 canvas, fixing the SVG fixed the issue.

Try open the SVG in Inkscape (it's a good editor for SVG) and see if it's centered there, there's a tool to adapt the canvas size to

[2021-09-03 06:46] JulianCataldo opened #2138 "[Bug]: I think character shape is broken"
### Contact Details

_No response_

### What happened?

Hello there,

it seems like none of the options for the character shape is working.

When using the live demo or within my project I don't get other styles than default.

Can you change font-size, font-family ?

Thanks a lot.

### Version

2.12.2

### Which library are you using?

Vue.js 2.x (particles.vue)

### tsParticles Configuration

[co

[2021-09-03 07:43] matteobruni commented on #2138
Hi @JulianCataldo,

I just tried here: https://particles.js.org/samples/index.html#chars

and changing the options it works, the font size is not an option, it uses the particle size.

Let me know if you have issues there.

[2021-09-03 15:24] mchal opened #2140 "[Bug]: Fireworks broken on 1.34.0. Fine on 1.33.1"
### Contact Details

_No response_

### What happened?

I was checking the Fireworks demo on codepen made by @matteobruni
https://codepen.io/matteobruni/pen/abJQrbK

and it looks fine for tsparticle 1.33.1,
![image](https://user-images.githubusercontent.com/327465/132029703-c1714305-5a12-496e-8afa-28661a88b8f5.png)

but once I change it to 1.34.0 ( using https://cdn.jsdelivr.net/npm/tsparticles@1.

[2021-09-03 15:41] matteobruni commented on #2140
I fixed the demo to work with 1.34, the 1.33 has a size value bug fixed in 1.34 that breaks the old fireworks config

[2021-09-03 15:59] mchal commented on #2140
Thank you.
Can confirm this is resolve it now (and fireworks on my website as well :))

[2021-09-03 15:59] #2140 closed, assigned to matteobruni

[2021-09-07 08:53] renmu123 opened #2148 "How can l set init position"
### Contact Details

_No response_

### What do you need?

l want to set particle in one place, when l click play, they start to move. What can l do to complete this.

### Version

1.3.4

### Which library are you using?

Vanilla (tsparticles)

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-09-07 09:03] matteobruni commented on #2148
There are manual particles options described here: https://particles.js.org/docs/interfaces/Options_Interfaces_IOptions.IOptions.html#manualParticles

Working sample here: https://codepen.io/matteobruni/pen/YzpOZpq

[2021-09-07 09:55] renmu123 commented on #2148
l have resloved, thanks for your help

[2021-09-07 09:55] #2148 closed, assigned to matteobruni

[2021-09-16 20:55] #2074 closed, assigned to matteobruni

[2021-09-16 20:55] #2138 closed, assigned to matteobruni

[2021-09-16 20:56] #1949 closed, assigned to matteobruni

[2021-09-17 06:21] p-lau opened #2230 "[Bug]: SvelteKit - svelte-particles disappears when re-navigating after hot module reloading in dev"
### Contact Details

_No response_

### What happened?

First, I changed a portion of other component code (like changing css in a svelte component)

Normally, when navigating within the domain of the app, the canvas does not disappear as it does not need to reload. However, in `npm dev` of SvelteKit , the particles canvas component disappears completely, and does not reinstance. I believe this is

[2021-09-17 06:49] matteobruni commented on #2230
Hi @p-lau,

I’ve seen that SvelteKit uses SSR, maybe with the hot reload it uses that feature, which is not compatible with tsParticles, since it’s a client side only component. I need to do some tests with SvelteKit, this is just a thought after reading its docs.
If you have some SSR configuration you can try yourself for now.
Next.js has a similar issue, it needs another kind of import of the co

[2021-09-17 08:51] jvanoostveen opened #2231 "[Bug]: Custom typings of built-in libs are in conflict with the libs from TypeScript 4.4"
### Contact Details

j.vanoostveen@afas.nl

### What happened?

When installing tsparticles in combination with TS4.4+, the lib.dom.d.ts reports an error because of a collision with typings of `Document` within this library.

[code]

I don't understand why there are global definition of the DOM in this library, but it would be preferred they are at least compatible with the built-in definitions pr

[2021-09-17 08:55] matteobruni commented on #2231
A fix for this issue is coming with 1.35.0, TypeScript 4.4 has a lot of breaking changes in types unfortunately.

[2021-09-17 09:09] jvanoostveen commented on #2231
Great, sorry I didn't see the PR, searched the issue list for TS4.4, but couldn't find any references thus created this issue. Any idea about planning on this version?

[2021-09-17 09:11] matteobruni commented on #2231
I think it could be released in some days, I need to add the auto theme switch feature and it will be ready

[2021-09-19 22:37] matteobruni commented on #2231
1.35.0 has been released, closing this.

[2021-09-19 22:37] #2231 closed, assigned to matteobruni

[2021-09-20 13:01] Scorpovi4 opened #2241 "tsparticles v. 1.35.0 throws an error "window is not defined" with react-particles-js module v. 3.5.3"
### Contact Details

_No response_

### What happened?

It throws the error "window is not defined" while building on Gatsby.js with `react-particles-js` v. 3.5.3 package. I spent half of day to define what happened and just let you know about it...

### Version

1.35.0

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### tsParticles Configuration

[code]

### W

[2021-09-20 13:51] matteobruni commented on #2241
Can you tell me how to reproduce it so I can fix it?

[2021-09-20 13:58] Scorpovi4 commented on #2241
@matteobruni sure, here is my project ... change tsparticles version in package.json to 1.35.0 install packages and run `npm run build` then.

[2021-09-20 15:00] matteobruni commented on #2241
I'm releasing 1.35.1 with the fix (tested)

[2021-09-20 16:45] #2241 closed, assigned to matteobruni

[2021-09-22 16:01] marktiddy opened #2251 "Can't Have More Than One Particles Container on a Page"
### Contact Details

marktiddy@gmail.com

### What do you need?

I'm trying to have a page that has two instances of tsParticles on it (this worked with particlesJs fine) but I get this error in the browser console and only the first instance appears:

Uncaught (in promise) DOMException: Failed to execute 'append' on 'Document': Only one element on document allowed.

Is there a way to have more th

[2021-09-22 16:43] matteobruni commented on #2251
Hi @marktiddy

have you used different ids in the tsParticles load parameters?

checkout this sample: https://codepen.io/matteobruni/pen/XWjLOpQ

[2021-09-23 08:07] marktiddy commented on #2251
Thank you! That's sorted it. Really appreciate your quick response

[2021-09-23 08:07] #2251 closed, assigned to matteobruni

[2021-09-23 10:10] Bilge opened #2256 "Why is this limited to just backgrounds?"
### Contact Details

_No response_

### What do you need?

Is there some technical reason why the scope if this project is bounded to just backgrounds? I was hoping it would be possible to, for example, animate a particle emitter around the edge of a button to create sparks, for example.

### Version

1.34.1

### Which library are you using?

Vanilla (tsparticles)

### Code of Conduct

- [X] I agr

[2021-09-23 10:14] matteobruni commented on #2256
It’s not limited to backgrounds, this is the most common usage, but you can place a `div` or a `canvas` anywhere using CSS and use its id with tsParticles.

[2021-09-23 10:20] Bilge commented on #2256
Sure, but tracing the outline of a button (and especially one with rounded corners), or more generally, the outline of any DOM element; is not a use-case that is actively supported, right?

[2021-09-23 10:27] matteobruni commented on #2256
Actually isn't, I've recently added shapes to emitters that can be filled or not, but it's not related to HTML elements.

This could be a thing in a future release anyway.

[2021-09-23 10:30] Bilge commented on #2256
Maybe it's just me, but I feel like this library can take on a whole new life once you can attach emitters to DOM elements.

[2021-09-23 10:33] matteobruni commented on #2256
I totally agree, this could be a great plugin.

[2021-09-23 10:54] matteobruni commented on #2256
This is the closest effect you can achieve with the new emitter shapes feature: https://codepen.io/matteobruni/pen/GREBbbX

[2021-09-23 11:20] Bilge commented on #2256
Looks like a solid foundation. And I suppose there is facility already for particles to trace the edges of shapes, and for particles to emit particles, to create an animated spark effect?

[2021-09-23 11:50] matteobruni commented on #2256
I created two shapes (ellipse, rectangle) for emitters [here](https://github.com/matteobruni/tsparticles/tree/main/engine/src/Plugins/Emitters/Shapes) so it can be a good point to start for having custom shapes. Actually there's no out direction, the particle spawns in a point and can go anywhere from it, so it could go also inside, but it's a feature I want to add.

About sparks I don't understan

[2021-09-23 12:12] Bilge commented on #2256
Is there any mechanism for an emitter to trace the outline of a shape, e.g. move along the edge of a rectangle?

[2021-09-23 12:18] matteobruni commented on #2256
No this is one of the missing feature, you can just set it to a rectangle or ellipse shape, and if it's just the outline or the whole shape, and the particles will spawn everywhere randomly (in the border or in all shape).

Another one missing is setting a source to the emitters so they will be positioned above the source element.

[2021-09-23 13:30] medarob opened #2257 "[Bug]: Javascript file 167.js not found"
### Contact Details

_No response_

### What happened?

I migrated from particlesJS to tsParticles.
The animation works but I get the following error in the browser console:

[code]
I have no idea why the page tries to load 167.js or do I know what it is... the file doesn't exist.

Maybe someone knows what went wrong and can help?

Thank you.

### Version

1.35.1

### Which library are you using?

[2021-09-23 13:33] matteobruni commented on #2257
Hi @medarob,

Did you download the release from GitHub? Maybe I forgot that file.

This is the missing file: https://cdn.jsdelivr.net/npm/tsparticles@1.35.1/167.js

[2021-09-23 13:36] medarob commented on #2257
I downloaded the tsparticles.min.js file from here: https://cdnjs.com/libraries/tsparticles

https://cdnjs.cloudflare.com/ajax/libs/tsparticles/1.35.1/tsparticles.min.js

[2021-09-23 13:38] medarob commented on #2257
Adding this file into the particles folder solved the problem.
Now it works without error 👍

Thank you.

[2021-09-23 13:44] #2257 closed, assigned to matteobruni

[2021-09-26 00:31] matteobruni opened #2260 "Update Readme files"
All the README needs updates, this is a good point to start contributing this project.

Some good contributions:

- Fixing broken links
- Adding more samples
- Translate or fix translations
- Improve code samples with other useful samples

[2021-09-26 08:08] keivalya commented on #2260
I'd like to try fixing this issue. Can you assign it to me, please?

[2021-09-26 13:29] matteobruni opened #2261 "Migrate from single size value to two dimensional values"
### What is your request?

Actually particles options have a single size value that creates and uses only regular shapes, in math and in the canvas drawing methods.

It would be a great addition to have irregular shapes like rectangles or ellipses instead of squares and circles, this requires moving from single size (radius) to width/height values.

This task is not that easy, since a lot of math

[2021-09-27 10:31] knirirr opened #2264 "[Bug]: tsParticles 1.35.1 "TypeError: Cannot read property 'prototype' of undefined""
### Contact Details

milo.thurston@oerc.ox.ac.uk

### What happened?

When running tests for a Vue.js project tsparticles 1.3.5 causes them all to fail. Here's an example run:
https://github.com/FAIRsharing/fairsharing.github.io/pull/1236/checks?check_run_id=3718631748

It can be seen that version 1.3.5 is installed:

[code]

Using an earlier version (1.26.3) avoids this, but Github insists upon i

[2021-09-27 10:36] matteobruni commented on #2264
Hi @knirirr,

Thanks for reporting that, I'm going to check it since it's breaking when run when not client-side and it's unexpected.

Anyway, this library is client side only, so it's not designed to be run outside that scope (tests, ssr, node commands, other server environments).

[2021-09-27 10:43] knirirr commented on #2264
Thanks for looking into this.
We don't need to test the tsParticles code directly, just to check that the component mounts; the test for the component where it's used is simply this:
https://github.com/FAIRsharing/fairsharing.github.io/blob/broken_homepage_links/tests/unit/components/Navigation/Jumbotron.spec.js
All our tests are broken by this, though.

[2021-09-27 14:23] matteobruni commented on #2264
@knirirr I've released the .2 version, can you check if it's working now?

[2021-09-27 15:33] knirirr commented on #2264
Thanks. Testing it locally (still waiting for the Github build) I now see warnings instead of a failure:

[code]

The tests pass, though.

Edit: Passing on Github too, but with warnings: https://github.com/FAIRsharing/fairsharing.github.io/pull/1236/checks?check_run_id=3722280863

[2021-09-27 15:57] matteobruni commented on #2264
Yes I've added a try/catch with a warning on the catch block, so it's not blocking. Now I can inspect deeply the issue without worrying about time, at least is not blocking anyone server side.

[2021-09-27 16:43] #2264 closed, assigned to matteobruni

[2021-10-01 04:32] ishitaojha commented on #2260
Incase @keivalya  isn't working or needs any help , please assign this to me else no issues 👍🏻

[2021-10-01 06:05] matteobruni commented on #2260
There are a lot of files that needs updates, I think you can work both on the task

[2021-10-01 07:44] matteobruni opened #2272 "Writing New Tests"
The tests weren't updated for a long time, this could be a great opportunity to improve them. New ones can be created, in components or in the core library, others can be improved. Any addition would help finding and fixing bugs, and cover more code.

[2021-10-01 07:53] HariniJeyaraman commented on #2260
Would love to work on this issue, if its still open

[2021-10-01 08:27] vj-codes commented on #2260
Hey I would also like to be assigned for this task, thankss in advance;) @matteobruni

[2021-10-01 14:05] eshaanagarwal commented on #2272
hi @matteobruni I would like to work on this issue. Can you please assign it to me!

[2021-10-01 14:32] Eunit99 commented on #2260
I would like to work on this issue in order to translate it. If it is still open, please assign to me.

Thanks

[2021-10-01 15:07] matteobruni opened #2276 "Improving CONTRIBUTING.md"
The CONTRIBUTING.md is outdated and needs some updates, for example it's not mentioned anything about building or running the project.

---

For building the first time:

**Unix**

[code]

**Windows**

[code]

---

For building local packages it's possible to run only

[code]

in every folder with a `package.json` file

---

For running demos

[code]

or

[code]

where the `start` commands returns

[2021-10-01 15:08] DeepakKewadia commented on #2260
i would like to also work on this, can you assign it to me please ?

[2021-10-01 21:42] deepto98 commented on #2261
Hi, I'd like to try working on this, can you assign this to me?

[2021-10-02 02:13] nmathew98 commented on #2272
Hi @matteobruni, could I be assigned to this for Hacktoberfest 2021? Thanks!

[2021-10-02 07:33] depimomo commented on #2272
Hi @matteobruni , I would like to help on this issue 👍  Can you assign it to me?

[2021-10-02 09:33] roshaan005 commented on #2260
I will also contribute to this one

[2021-10-02 17:33] nayan2306 commented on #2260
I want to work here can you please assigned me?

[2021-10-02 17:42] rluvaton opened #2283 "[Bug]: Can't scroll the preset in the demo page"
**I would like to take this**

-------

### Contact Details

_No response_

### What happened?

Just opened the [Demo links](https://particles.js.org/samples/index.html) in the website and clicked Presets

Some presets are hidden

![bug](https://user-images.githubusercontent.com/16746759/135726819-7a217379-4674-4ce9-a230-ee7c8305f972.png)

### Version

I have no idea

### Which library are you usi

[2021-10-02 17:58] matteobruni commented on #2283
Thanks for reporting it, I didn't tested it in a smaller screen.

[2021-10-02 18:04] rluvaton commented on #2283
👍🏻
The website is in the `website` directory? because there is no `start` script, so I used `npx serve .` but styles are and scripts are not loaded

![bug](https://user-images.githubusercontent.com/16746759/135727350-12a809dc-d2dc-4dcb-8f2b-c20ca2465cc3.png)

[2021-10-02 18:07] matteobruni commented on #2283
Yes, the website is there, it's published in the GitHub pages, so you can use VSCode live server with `index.html`. I use the live server of WebStorm for testing it, but I think VScode will work too.

[2021-10-02 18:22] rluvaton commented on #2283
I use WebStorm

[2021-10-02 18:22] rluvaton commented on #2283
Just needed to build before, fixed...

[2021-10-02 18:47] nishihere19 commented on #2276
Can I work on this issue?

[2021-10-03 14:28] #2283 closed, assigned to matteobruni

[2021-10-03 18:50] j1gy45u commented on #2260
hey, I'd love to work on this, can you please assign me?

[2021-10-05 07:58] intragalactic-stranger commented on #2260
Hey, Would you like to assign it to me i would like to translate to my regional language Hindi.

[2021-10-05 17:56] mitalrs commented on #1325
Can I contribute in this issue?, Can u assigned this issue?

[2021-10-05 20:04] MattyMc commented on #1422
@matteobruni I'd like to take this one on for Hacktoberfest. Could it be assigned to me? Also: just wanted to confirm that this is in fact a bug, and wasn't simply a config issue as described in your comment above https://github.com/matteobruni/tsparticles/issues/1422#issuecomment-808765559.

It's my first time contributing to this repo–is it okay if I reach out with questions?

[2021-10-05 20:07] matteobruni commented on #1422
Yeah sure

[2021-10-06 06:54] mukulsinghal407 opened #2298 "Website Preset Page"
### Contact Details

mukulsinghal407@gmail.com

### What do you need?

Honestly, this is not an issue as such just some enhancement to the present page of the website it was looking way too raw and outdated.
So, I customized the button aligned it right and added some background color to make it look more neat and presentable.

I hope you like the changes made.

### Version

1.0.0

### Which librar

[2021-10-06 06:57] mukulsinghal407 commented on #2298
#2299 please refer to this PR for the same.

[2021-10-06 06:58] matteobruni commented on #2298
You need to open a Pull Request to submit changes

[2021-10-06 11:45] mukulsinghal407 commented on #2298
@matteobruni  Please add the hacktoberfest-accepted issue to the PR and this issue. I think that is required for the PR to be accepted.

[2021-10-06 11:47] mukulsinghal407 commented on #2298
![image](https://user-images.githubusercontent.com/79706982/136196429-974a4661-be05-4950-9a71-20f6f8dc75aa.png)
This is what my Hacktoberfest Profile says 😅. This is my first time with Hacktoberfest and open source, sorry for the foolish behaviour.

[2021-10-06 15:51] johny83br opened #2300 "[Bug]: Problem with loadJSON in jQuery"
### Contact Details

jonata.marcelino83@gmail.com

### What happened?

Until yesterday the plugin made to jQuery was running, but today in the Chrome crashed.

### Version

2.0.0-beta.0

### Which library are you using?

jQuery (jquery-particles)

### tsParticles Configuration

[code]

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### Code of Conduct

-

[2021-10-06 16:22] johny83br commented on #2300
I changed to the version previous, and corrected.

[2021-10-06 16:22] #2300 closed, assigned to matteobruni

[2021-10-06 16:31] matteobruni commented on #2300
Yes the current version is still 1.x, I'm working on 2.x but a migration guide will be written since there are a lot of breaking changes as you can see in the 2.x PR here: https://github.com/matteobruni/tsparticles/pull/2297

Anyway if you want to try the new 2.x version you can see the jQuery demo in the `dev` branch here: https://github.com/matteobruni/tsparticles/blob/dev/demo/jquery/views/inde

[2021-10-06 18:44] loud-mouth commented on #2272
Hi, @matteobruni, I'd like to help write some tests as part of my Hacktoberfest 2021. Can you assign? Thanks

[2021-10-06 20:29] MattyMc commented on #1422
@matteobruni very sorry but I'm not going to be able to complete this one. I'd like to open it up for someone else if you could please unassign me.

[2021-10-06 22:31] matteobruni opened #2306 "Update TypeDoc to latest version and migrate custom theme to their custom JSX"
Update TypeDoc to latest version and migrate custom theme to their custom JSX

More informations can be found here: https://github.com/matteobruni/tsparticles/pull/2178#issuecomment-922477661

The actual theme just overrides the analytics file to add google ads and clarity scripts. For now it's enough migrating that to the new JSX files.

For any help with TypeDoc you can refer to their repository

[2021-10-07 03:01] utkarshhbtu commented on #2276
can i work on this issue

[2021-10-07 06:11] imankur commented on #2306
I'm working on this. Can you assign it to me?

[2021-10-07 06:36] Enhmunh-E commented on #2260
I'm also translating and actually added a pull request can you assign me this issue? I translated all component readmes to Mongolian.

[2021-10-08 09:27] roicoroy commented on #2272
Hello @matteobruni,
I would like to help on this task for the acktoberfest 2021, if possible, could assign it to me, please? Thanks!

[2021-10-11 07:16] ainneo commented on #2276
is this being worked on? I would like to do it.

[2021-10-11 20:20] timscodebase commented on #2276
I submitted a PR https://github.com/matteobruni/tsparticles/pull/2333

[2021-10-13 03:53] MigueMartelo commented on #2260
Hi, @matteobruni can you assign me to translate in Spanish, please.

[2021-10-15 06:51] matteobruni opened #2354 "New Presets"
There's always space for new tsParticles presets: https://github.com/matteobruni/tsparticles/tree/main/presets

They are all visible here: https://particles.js.org/samples/presets/index.html

Be creative is the only requirement

[2021-10-15 16:00] sofiacarballo commented on #2260
Hi! I´d like to translate it to Catalan. Could you assign me the issue? Thanks!

[2021-10-15 17:17] matteobruni commented on #2260
@MigueMartelo and @sofiacarballo sorry there's a limit of 10 assignments, but you can work on it anyway, the PR will be accepted once requested.

[2021-10-15 17:25] MigueMartelo commented on #2260
Perfect @matteobruni I'll work on it!

[2021-10-15 20:33] htopia opened #2358 ""mode" property for Responsive breakpoints"
### Contact Details

htopia.game@gmail.com

### What is your request?

The current responsive option only accepts breakpoints that validate the maxWidth property against the canvas size. This works fine when using the fullscreen mode because the canvas size is the same as the screen size.

However, when using tsparticles in just specific containers of an application, the containers may take differ

[2021-10-16 13:38] matteomessmer commented on #2298
Hi I fixed a link and created a PR, hope it's ok to you.
I see if I can do something more to contribute!

[2021-10-17 21:24] lianplass commented on #1228
Hi there, started working on this issue (starting w/ sync) and I was wondering, where to submit a proposed definition?

[2021-10-17 21:58] matteobruni commented on #1228
What do you mean with a proposed definition?

[2021-10-17 22:25] lianplass commented on #1228
Apologies, I meant "documentation".  What I should have asked was, "where would you like me to provide the documentation for each of the properties listed?"  (e.g., on the documentation site as a new module, or within an existing module, etc.)

[2021-10-17 22:30] matteobruni commented on #1228
Ah ok, there's `typedoc` installed in the `engine` folder. You can update documentation directly in the code. There's also the `engine/markdown` folder for more detailed pages used by `typedoc`.

If you have other ideas for improving documentation, we can discuss them here, Discord or Slack

[2021-10-18 13:33] 0xtdey commented on #2276
Is this issue still open?

[2021-10-18 13:35] 0xtdey commented on #2260
I am a beginner to open source I would like to work if it is still open.

[2021-10-18 13:38] matteobruni commented on #2276
Yes

[2021-10-18 13:39] matteobruni commented on #2260
Feel free to contribute, this is still open

[2021-10-20 12:40] 0xtdey commented on #2276
I am working on the file. I hope I am able to add something valuable

[2021-10-20 13:01] 0xtdey commented on #2276
I just submitted a PR.

[2021-10-20 13:07] 0xtdey commented on #2260
I have submitted a PR on this.

[2021-10-21 03:48] 0xtdey commented on #2354
I would love to work on this issue. Does it mean I will have to create presets of tsparticles and share the link?

[2021-10-21 05:08] matteobruni commented on #2354
You have to create tsParticles templates in this project inside the `presets` folder

[2021-10-21 05:10] 0xtdey commented on #2354
Okay, thank you for the response :)

[2021-10-22 17:13] 0xtdey commented on #2260
@matteobruni Kindly check I did submit a PR on this. Thank you

[2021-10-22 17:29] matteobruni commented on #2260
I merged everything this morning.

[2021-10-22 17:55] 0xtdey commented on #2260
Thank you

[2021-10-23 06:03] Guzzler commented on #2358
I would like to pick this up @matteobruni should i submit a PR for the same?

[2021-10-23 06:07] Guzzler commented on #2256
I would like to pick this up @matteobruni any specific functionality you would like to target with the initial release as this seems like a very broad based issue

[2021-10-23 06:13] Guzzler commented on #1325
I would like to pick this up if it hasn't been done yet @matteobruni

[2021-10-23 06:37] matteobruni commented on #2358
Yes you have to submit a PR

[2021-10-23 06:39] matteobruni commented on #2256
I have no preferences, any help is appreciated.

[2021-10-23 06:40] matteobruni commented on #1325
It’s not done yet, have fun

[2021-10-28 13:43] #2358 closed, assigned to matteobruni

[2021-10-28 13:47] matteobruni commented on #2358
Fixed in `v1.37.0`, thanks to @Guzzler

[2021-10-28 15:14] nobalpha commented on #2261
Hey @matteobruni !

As I look into the code, I see that you've managed to create a width-height based particle system, am I right?

If it's not "really" done, can you guide me through a little your "new" request?

[2021-10-28 15:25] matteobruni commented on #2261
The issue is specific to the particle object and particles options, not the entire system.

The Particle object actually has only one size (`radius`), but I'd like to have it to two (`width` and `height`). This will affect all `size` options, since it should be converted in two distinct objects, one for width and one for height.

Also, all the collisions formulas should be updated to work with the

[2021-10-29 07:35] #2298 closed, assigned to matteobruni

[2021-10-29 21:35] stylessard opened #2428 "[Bug]: Particles not loading on mobile devices"
### Contact Details

_No response_

### What happened?

Everything is up and running properly on desktop, but when I switch to an iPad Min 2 or iPhone 7, the particles fail to load. I should note, I'm running the same functions as in the README - particlesInit and particlesLoaded. The particlesInit function prints to the console fine, but instead of particlesLoaded printing to the console, I get t

[2021-10-29 21:43] matteobruni commented on #2428
Hi @stylessard, two questions:

- Which iOS version are you running on the devices?
- Have you tried updating tsParticles to version `1.37.0`?

[2021-10-29 22:23] stylessard commented on #2428
Just updated to the newest version of tsParticles and still getting the same error. The iPad is running on iOS 12.5.5 and the iPhone on 13.5.1. Let me update the iOS on the iPhone and see if I'm getting the same problems.

[2021-10-29 22:26] matteobruni commented on #2428
I have to check which features are not supported in iOS 12, maybe some of them is breaking.

[2021-10-30 00:22] stylessard commented on #2428
Updated to iOS 15 and works perfectly now, so that must've been it. Thanks, Matteo!

[2021-10-30 00:22] #2428 closed, assigned to matteobruni

[2021-11-01 23:56] adastra-react opened #2439 "[Feature Request] React Native support"
### Contact Details

sunielengland22@gmail.com

### What is your request?

Can i use this in react native?

### Version

1.37.2

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-11-02 00:28] matteobruni commented on #2439
Hi @adastra-react,

Actually is not supported `react-native`. I started trying that some time ago [here](https://github.com/matteobruni/tsparticles/pull/1196) but the canvas on mobile devices is not working and I'm not that specialized about that to know how to fix that.

[2021-11-02 00:30] adastra-react commented on #2439
Thank you for your the reply

On Mon, 1 Nov 2021 at 19:28, Matteo Bruni ***@***.***> wrote:

[2021-11-06 09:01] jwandekoken commented on #1277
How to achieve that with "react-tsparticles"?

[2021-11-06 09:22] matteobruni commented on #1277
Starting from 1.37.0 the `fullScreen` option is enabled by default, you can disable it and follow the instructions described above

[2021-11-16 14:55] BarryAlvord opened #2529 "[Bug]: not working with safari 13 with reactjs"
### Contact Details

allenflash2212@gmail.com

### What happened?

Everything worked fine with chrome, firefox, opera on both desktop and mobile but not working with Safari 13 (I'm only testing on Safari 13
On Safari 13 :
![Screenshot from 2021-11-16 21-39-44](https://user-images.githubusercontent.com/36404489/142007611-4ec3f5e2-86de-4586-a401-d1d647391e80.png)

On Chrome:
![Screenshot from 2021-1

[2021-11-16 14:58] matteobruni commented on #2529
Hi @BarryAlvord,

This issue was discovered some days ago by a user on Discord, there’s an open PR with the fix that will be available soon with the `1.37.4` version

[2021-11-17 23:11] #2529 closed, assigned to matteobruni

[2021-11-19 00:26] matteobruni commented on #2306
Working with TypeDoc team to fix this, for now it's updated in `v1`

[2021-11-19 00:26] #2306 closed, assigned to matteobruni, imankur

[2021-11-23 07:17] nazrinnoorzan opened #2574 "Is the Readme file for Angular outdated? Can't run it with latest Angular"
### Contact Details

nazrinnoorzan@gmail.com

### What do you need?

I just created a new Angular project and based on this Angular readme https://github.com/matteobruni/tsparticles/blob/main/components/angular/README.md , I can't compile and run the project.

Here's my app.component.html, app.module.ts & app.component.ts files

app.component.html
`<ng-particles [id]="id" [options]="particlesOptio

[2021-11-23 22:30] matteobruni commented on #2574
Hi @nazrinnoorzan,

I tried reproducing the issue in my demo app (`demo/angular` folder in this repository) and here on CodeSandbox (<https://codesandbox.io/s/frosty-ishizaka-1nm3c?file=/src/app/app.component.ts>) but the error wasn't returned.

The error is weird because `"bounce"` is part of `type '"none" | "bounce" | "destroy" | OutMode | "bounceHorizontal" | "bounceVertical" | "out" | "split"

[2021-11-24 01:48] nazrinnoorzan commented on #2574
I see. Can you try it with this package.json below?

[code]

[2021-11-24 21:06] Dysrhythmic opened #2586 "[Bug]: Particle speed increasing over time when collisions is enabled"
### Contact Details

_No response_

### What happened?

I copied the configuration settings from [the npmjs page](https://www.npmjs.com/package/react-tsparticles) under "Options object" and noticed the particle movement speed increases more and more over time. I removed the following "collisions" configuration and it no longer has this issue.
[code]

### Version

1.37.4

### Which library are you

[2021-11-24 21:30] matteobruni commented on #2586
Duplicate of #2380

[2021-11-24 21:30] #2586 closed, assigned to matteobruni

[2021-11-24 23:35] matteobruni commented on #2574
Ok I tested with Angular 13 and I got the error, It will be inspected soon. Anyway there's an easy workaround:

[code]

[2021-12-12 10:09] pontakornth opened #2674 "[Bug]: Could not find a declaration file for module 'particles.vue3'"
### Contact Details

pontakorn61@gmail.com

### What happened?

I try to use tsParticles with official components from Vue 3. But, TypeScript cannot find type declaration file. I followed instruction from the official documentation. Did I miss something?

### Version

1.20.5

### Which library are you using?

Vue.js 3.x (particles.vue3)

### tsParticles Configuration

[code]

### What browsers are

[2021-12-12 10:11] pontakornth commented on #2674
Sorry, I forgot about `declare module` file.

[2021-12-12 10:11] #2674 closed, assigned to matteobruni

[2021-12-20 18:28] arianitu opened #2731 "[Bug]: style={} not being applied to Canvas"
### Contact Details

_No response_

### What happened?

The below style is not being applied

        <Particles
          options={particleOptions}
          style={{
            "position": "absolute",
            "zIndex": "-1"
          }}
        />

### Version

1.37.5

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### tsParticles Configuration

[code]

[2021-12-20 18:35] matteobruni commented on #2731
I need to see your `particlesOptions`. If you are not disabling the `fullScreen` options, those styles are going to be overridden.

[2021-12-20 19:23] arianitu commented on #2731
I am not disabling the fullScreen option. I was just migrating from particleJs. If I disable it, the style does get applied. Thank you!

Maybe I should use fullScreen and change the zIndex? Is there a way to also change the background color  of the canvas? In the old particleJs version I used the style property to set zIndex, backgroundColor and width height was set to 100vh and 100vw respectively

[2021-12-20 19:25] arianitu commented on #2731
I used:

[code]

  Thank you very much!

[2021-12-20 19:25] #2731 closed, assigned to matteobruni

[2021-12-25 21:52] #2574 closed, assigned to matteobruni

[2021-12-29 11:23] Kykuy opened #2768 "React docs improvement suggestions(existing CRA projects and JS examples)"
I will preface all written below by saying that I'm a newbie in everything both npm and JS ecosphere related.

1. Running the suggested installation command(`npm install react-tsparticles react`) on an existing CRA project(I'm using v5) breaks the scripts for the app(`npm start`, etc.). If you'd like to use tsparticles on an existing CRA app you should `npm install tsparticles`(the default command

[2021-12-29 11:38] matteobruni commented on #2768
Thank you, feel free to submit a PR targeting `v1` branch

[2021-12-29 13:44] matteobruni commented on #2768
I've checked again the React readme in the how to use section, and it's JavaScript code, not TypeScript.

[2021-12-29 14:05] Kykuy commented on #2768
I've re-checked as well and it was due to the fact I used a class component and used

[code]

and

[code]

in the main body of the component instead of inside the `render()` method.

My bad, sorry for this false alarm.

[2021-12-29 14:29] Kykuy commented on #2768
Looking at your last commits it seems like you updated the installation instructions for React as well as other libraries, so it seems like the remaining point of this issue is resolved and can it be closed.

Thanks!

[2021-12-29 14:30] #2768 closed, assigned to matteobruni

[2021-12-30 03:04] tenosh opened #2771 "TS issue when importing a local options JSON file or JS Object"
### Contact Details

_No response_

### What do you need?

Hi there, I'm trying to load my option from a local JSON file, something like:
`import options from "../../tsparticles/config.json";`
`<Particles options={options} />`

It is working but I'm getting a ts error in the options property of <Particles />. I tried exporting a js object and the same error occurs:
[code]

### Version

nextjs 12

[2021-12-30 03:14] tenosh commented on #2771
Actually same happens if I drop my options object in a variable and then pass the variable to the options prop. How can I type this?

[2021-12-30 08:19] matteobruni commented on #2771
I need your configuration to find the issue.

[2021-12-30 08:23] tenosh commented on #2771
I have no configuration. What do you mean? I just have:
[code]
It is working, but TS is highlighting the options property of the < Particles /> component.
What I'm trying to do is import different configurations from a local js file and then pass it to the component.
Does that make sense?

[2021-12-30 08:27] tenosh commented on #2771
![image](https://user-images.githubusercontent.com/32285955/147734559-e9cc915c-39ef-40f4-8c1d-585b45a86bf7.png)

[2021-12-30 09:15] matteobruni commented on #2771
The configuration I need is the json that you are importing

[2021-12-30 17:46] tenosh commented on #2771
Sorry, here it is. If I pass it like this, TS is not complaining, that's why I find it weird but I'm not TS experienced so...

[code]

[2021-12-30 22:55] matteobruni commented on #2771
I tested the config on a clean TS project. Try assigning it to a variable with `ISourceOptions` type (imported from `tsparticles`)

[2021-12-31 00:06] tenosh commented on #2771
It worked, thanks a lot.

[2021-12-31 00:06] #2771 closed, assigned to matteobruni

[2022-01-04 06:22] tenosh opened #2799 "Feature Request - Change object configuration dynamically"
### Contact Details

diego.cortez@tutanota.de

### What is your request?

So I was trying to change the Particles object configuration dynamically but it was not possible. Let's say I want to change the configuration when the user clicks a button, it does not reflect the change when the options object was changed.
[code]

### Version

1.38.0

### Which library are you using?

React.js (react-tspar

[2022-01-04 07:02] matteobruni commented on #2799
I think a state is required here.

I tried with `useState` and it's working, without it doesn't.

[code]

[2022-01-04 07:04] tenosh commented on #2799
Omg you're right. Sorry about this I'm very new to react dev. Thanks a alot!

[2022-01-04 07:04] #2799 closed, assigned to matteobruni

[2022-01-04 18:16] Redseb commented on #809
Hi, I notice that the issue has been marked as done, is the fix available in the latest npm package? Thanks!

[2022-01-04 18:19] matteobruni commented on #809
It’s not fixed since the infection plugin doesn’t support images, only colors

[2022-01-04 18:28] Redseb commented on #809
I see, I'm running into the same issue but not using the infection plugin (can't change the color of svgs). For reference my config looks like the following:
[code]
Is changing the colors of svgs in general not supported or am I missing something here? Thanks again

[2022-01-04 19:45] matteobruni commented on #809
The replace color is even more difficult because every color shade needs a new image to load, and this makes everything really bad in term of performance

[2022-01-05 07:44] Redseb commented on #809
So changing svg colors through `replaceColor` is not supported? In that case, I will probably switch to  the `char` type instead of image and use the Font Awesome font.

[2022-01-05 07:50] matteobruni commented on #809
Exactly, images are good for performances when they are static since there's less to draw on the canvas, but every color change is an image to load and that loading is bad at runtime.

Using the font could be good, but try to see if the performances are still good since the text is a bit slower than the image

[2022-01-06 07:28] hamed-lohi opened #2809 "[Bug]: Interruption in particle motion (defect in movement) after build in react"
### Contact Details

lohi.hamed@gmail.com

### What happened?

everything works fine when I use `npm run start`, but after build (`npm run build`) there is Interruption in particle motion.

my react version is 17.0.2 and use typescript.

### Version

1.38.0

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### tsParticles Configuration

[code]

### What browsers

[2022-01-06 11:41] matteobruni commented on #2809
Do you have some errors in the console? Did you start from a create-react-app project or a different configuration?

[2022-01-06 13:05] hamed-lohi commented on #2809
There is no error in console, yes I start from a `npm create-react-app my-app --template typescript`

[2022-01-06 17:47] matteobruni commented on #2809
I tested a new app configured with TypeScript, I built the project and served using `serve` and with your config the particles are not stopping.

I used `1.38.0` and not the upcoming `1.39.0` to see if the current version is working.

[2022-01-06 19:12] hamed-lohi commented on #2809
This problem occurs when I create a production build by execute this command `npm run build` and transfer my app in the `build/` folder to host .
note: that the particles are not stopping, But they have delays or interruptions in movement
I also tried the previous version, it still had problems

[2022-01-06 20:16] matteobruni commented on #2809
I have a published react website here: https://tsparticles.github.io/react-auth-template/#/login

Do you see the issue here?

[2022-01-06 21:16] hamed-lohi commented on #2809
How did you publish?
Please do with my options I mentioned earlier

[2022-01-06 21:51] matteobruni commented on #2809
It’s a simple GitHub pages publish, publish files are in the gh-pages branch. Can you try with different options to see if the problem persists? I can’t reproduce it on my side. Try sharing a full sample.

[2022-01-06 23:00] hamed-lohi commented on #2809
I published here: [https://t.basimdata.ir/](https://t.basimdata.ir/)

[2022-01-06 23:30] matteobruni commented on #2809
I don't see the issue in your website, sorry. I don't see any interruptions or delays.

[2022-01-07 03:07] Zehuan-Wang opened #2814 "How to reset a random position everytime the particle has been destoryed?"
### Contact Details

wangzehuan2017@sina.com

### What is your request?

I pretty love the demo 'Among Us' and try to apply it in my personal website.
But I want to reset the particle's positon at a random pos_y value everytime after it become invisible and be destoryed.
Since I use Vue3, I try to achieve this by set 'v-if' to re-render the component. It works, but I found that it would require th

[2022-01-07 04:56] hamed-lohi commented on #2809
https://user-images.githubusercontent.com/16226722/148494000-a5267adf-9453-4254-ae32-14e84f49a7b4.mp4

[2022-01-07 11:34] hamed-lohi commented on #2809
I found the reason for this issue, there is a problem with the bundle file that occurs when using the `npm run build` command.
now I am building the project with `Webpack` and there is no interruption
[https://n.basimdata.ir/](https://n.basimdata.ir/)

[2022-01-07 11:36] hamed-lohi commented on #2809
This is a really useful and complete tool. Congratulations to you.
thank you

[2022-01-07 13:56] matteobruni commented on #2814
Once a particle is destroyed it's not more usable.

But a new particle can be spawned in a different position using two different ways.

Let's start with the Among Us sample:

[code]

The crewmate particle is spawning using an emitter with a defined position and dimension. The position is `x: 55%` and `y: -30%`, the dimension has `width: 0%` and `height: 0%`, if you change the `height` to `100` fo

[2022-01-07 18:50] mutheusalmeida opened #2815 "[Bug]:"
### Contact Details

matheusalmeida016@gmail.com

### What happened?

I don't know what happened but in development mode all the effects works like a charm but in production it's way slow. What am I doing wrong?

### Version

1.38.0

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### tsParticles Configuration

[code]

### What browsers are you seeing the proble

[2022-01-07 19:10] matteobruni commented on #2815
Could be a duplicate of #2809, I've made some tests yesterday and I can't replicate the issue

[2022-01-07 19:33] mutheusalmeida commented on #2815
I've tried everything and still doesn't work as expected. It's weird because it works just fine in development. The project is deployed on Netlify, could it be a problem with the build tool?

[2022-01-07 22:06] matteobruni commented on #2815
I don't know, the other issue was solved using Webpack, but I don't know more than that.

[2022-01-08 11:18] Zehuan-Wang commented on #2814
Oh, I see! Thanks a lot!

[2022-01-08 11:18] #2814 closed, assigned to matteobruni

[2022-01-08 20:29] #2815 closed, assigned to matteobruni

[2022-01-10 13:55] SuperWoll commented on #1277
Is it possible to eloborate a little more on how to get particles only to work on a spesific seciton of the page? i am using react-tsparticles. Been stuck for 2 days now, trying to figure it out...

[2022-01-10 14:11] matteobruni commented on #1277
I've created a sample to show just the differences here: https://codepen.io/matteobruni/pen/BawqaxW

I'll explain below more in details:

**Full Screen**

It's the standard behavior, if you load a standard tsParticles config without specifying any `fullScreen` options they are going to be the website background with `fixed` position and `z-index: 0`.

*HTML*

[code]

*CSS*

[code]

*JavaScript*

[

[2022-01-12 11:16] SuperWoll commented on #1277
Thank you for the reply @matteobruni . Still trying but cant seem to work, guess i need to learn more ;)

i am using react. and currently created an

config file
[code]

and then a background file

[code]

I now want the particles to be displayed in a column , on a spesific part of the page.

now it is displaying in the middle on all pages.

Thanks for all the help anyways, i will keep trying! :)

[2022-01-12 11:22] matteobruni commented on #1277
The configuration object has an issue for `fullScreen` options.

[code]

I've fixed the `fullScreen` issues, I didn't change anything in other options.

[2022-01-14 18:44] daniel31x13 opened #2857 "Issue with adding a svg file path for polygon mask"
### Contact Details

_No response_

### What do you need?

Hello I'm trying to use a svg file on the website and can't add a relative path to the file, it works with url path but not files on the server.
The regular particles work (so the initialization was done correctly.)
Here's my config file:
[code]

And what the console logs:
[code]

### Version

1.39.0

### Which library are you using?

Reac

[2022-01-14 19:20] matteobruni commented on #2857
Hi @Daniel31x13,

Can you check your Console Network tab, is there a failed XHR request about that file?

[2022-01-15 04:49] daniel31x13 commented on #2857
Hello @matteobruni,
No there wasn't, looks like it haven't found the file and its giving me the status code of 304 in the .svq file.
Ok so I think my problem is about giving the location of the file because of the `Request URL: http://localhost:3000/Nanoplating.svg
`
when the hierarchy's like this:
![image](https://user-images.githubusercontent.com/93432314/149609182-c117f041-7c76-4d79-804d-517991

[2022-01-15 13:23] matteobruni commented on #2857
`304` is `Not Modified`, it's a cache response, so it's fine.

I was looking on my React demo and I import the `svg` first:

https://github.com/matteobruni/tsparticles/blob/9a7513337a393b3d779df9b95033d7af4712315f/demo/react/src/frames.ts#L4

Then I use that variable in the `url` property:

https://github.com/matteobruni/tsparticles/blob/9a7513337a393b3d779df9b95033d7af4712315f/demo/react/src/fram

[2022-01-16 00:22] mutheusalmeida commented on #2809
Could you share your solution?

[2022-01-16 17:39] #2857 closed, assigned to matteobruni

[2022-01-18 10:07] hamed-lohi commented on #2809
If use webpack for build, this problem almost solved .
[following in stackoverflow](https://stackoverflow.com/q/70625054/8730051)
Do you want webpack configs ?

[2022-01-18 21:01] mutheusalmeida commented on #2809
Thanks for your reply. I solved by changing the browserlist in package.json. It seems to be an issue with webgl API + the build tool, I don't know

[2022-01-20 03:46] ZhongHongLi opened #2903 "vite build 'Vue' is not exported by"
### Contact Details

www.fz948605929@qq.com

### What happened?

import { Options,Vue} from 'vue-class-component'; error

error during build:
Error: 'Vue' is not exported by node_modules\vue-class-component\dist\vue-class-component.esm-bundler.js, imported by node_modules\particles.vue3\dist\particles.vue.js

### Version

1.22.0

### Which library are you using?

Vue.js 3.x (particles.vue3)

### t

[2022-01-20 08:16] matteobruni commented on #2903
Hi, can you give me some instructions on how to reproduce the issue? I don't know how to create a Vite app. If you have a project that you can share or on GitHub is fine as well.

[2022-01-20 08:21] ZhongHongLi commented on #2903
The project of our company cannot be uploaded to GitHub ， I'll create a new project to test. If there are still the same problems, I'll upload it to my GitHub

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Matteo ***@***.***&gt;;
发送时间: 2022年1月20日(星期四) 下午4:16
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;; ***@***.***&gt;;
主题: Re: [matteobruni/tsparticles] vite build  &#39;Vue&#3