[2022-01-20 08:49] ZhongHongLi commented on #2903
Sorry, I just downloaded it from the new package and tried it. There was no error. Excuse me

[2022-01-20 08:50] ZhongHongLi commented on #2903
Turn this off  pr

[2022-01-20 08:52] #2903 closed, assigned to matteobruni

[2022-01-23 21:32] adamalston opened #2925 "Console warn thrown for unknown reason"
### Contact Details

_No response_

### What happened?

Seeing a console warning show up in [CI](https://github.com/adamalston/v2/runs/4914663081?check_suite_focus=true#step:5:8) for my website:

    An error occurred in tsParticles pathseg polyfill. If the Polygon Mask is not working, please open an issue here: https://github.com/matteobruni/tsparticles TypeError: Cannot read properties of undefi

[2022-01-23 22:27] matteobruni commented on #2925
Thank you, I’ll have a look on that line. Could be a bug in the polyfill

[2022-01-25 15:30] matteobruni commented on #2925
@adamalston which browser were you using when this error happened?

[2022-01-25 16:06] adamalston commented on #2925
Edge - although I don't think the error is browser related because it is thrown in [CI](https://github.com/adamalston/v2/runs/4914663081?check_suite_focus=true#step:5:8) or when I run my project locally and run the tests (`npm run test`).

[2022-01-25 16:12] matteobruni commented on #2925
Ah ok, the server console can have issues since it’s not a browser. The polyfill is included at the beginning when loading all the plugins

[2022-02-02 13:56] brenoprata10 commented on #2809
Being more direct, i changed my browserslist to this and i already noticed a huge difference
[code]

[2022-02-02 14:12] hamed-lohi commented on #2809
But still the problem is not completely solved

[2022-02-02 14:51] matteobruni commented on #2809
I should say good timing, I think I've replicated the issue now while testing some new features.
It looks related to the `refresh` method of the `Container` object.
There's a huge performance drop on every reload button of the demos page on the website, and also in the vanilla demo inside the project.
Changing from `refresh` to `tsParticles.load` "solves" the issue, just because it destroys the `C

[2022-02-02 15:30] matteobruni commented on #2809
`1.39.3` should fix this issue, the update is going to be available very soon

[2022-02-02 16:35] brenoprata10 commented on #2809
Good job guys, keep up with the great work 👌

[2022-02-02 16:41] #2809 closed, assigned to matteobruni

[2022-02-02 16:58] hamed-lohi commented on #2809
Thanks for your update, but the performance is still low and there is a slight interruption in particle motion in react-tsparticles .
maybe this screenshot from browser inspect performance tab is useful:
(Warning Long task took 59.73 ms.)
![inspect](https://user-images.githubusercontent.com/16226722/152200563-fe408aa9-be65-4f86-9085-cefdbdf13943.png)

[2022-02-02 20:36] matteobruni commented on #2809
It doesn’t help since it doesn’t contain anything that I can reproduce. The draw took 3 frames and it’s really strange.

Can you paste the configuration?

[2022-02-03 00:02] mutheusalmeida commented on #2809
I have faced the same issue with another library that's built upon three.js and changing the browserlist solved both.

But this problem still persists on high resolution devices only

[2022-02-03 02:29] mutheusalmeida opened #3060 "[Bug]: Grab mode opacity doesn't work on local but works on online sample"
### Contact Details

matheusalmeida016@gmail.com

### What happened?

I have an issue with `modes: { grab: { links: { opacity: 0.5 } } }`. It works on [the online sample](https://particles.js.org/samples/index.html#default) but do not on my project.

### Version

^1.39.0

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### tsParticles Configuration

[code]

###

[2022-02-03 06:33] hamed-lohi commented on #2809
[code]

[2022-02-03 06:49] hamed-lohi commented on #2809
`mutheus` is right, my monitor is 24 inches and my screen resolution is: 1920x1080

[2022-02-03 07:13] matteobruni commented on #3060
Hi @mutheus,

I created a CodeSandbox here: https://codesandbox.io/s/wonderful-fire-ihwgp?file=/src/App.js

The opacity seems fine, what do you mean is not working? Your configuration is behaving the same on the vanilla JavaScript version, I was not expecting anything different.

I've found an issue in your configuration, maybe that is the problem you were talking about. The `modes` section is out

[2022-02-03 07:54] mutheusalmeida commented on #3060
Thanks for your reply. You're right about `modes` section being outside `interactivity`. Where should I put `bounce: false` as the opposite seems to cause a bug on the particles speed?

[2022-02-03 07:56] matteobruni commented on #3060
`collisions { enable: false }` disables particles collisions, the `outMode: "bounce"` is responsible for edge bouncing

[2022-02-03 08:06] mutheusalmeida commented on #3060
Thanks for your time.

[2022-02-03 08:06] #3060 closed, assigned to matteobruni

[2022-02-03 11:59] IgorThierry opened #3073 "error TS2748: Cannot access ambient const enums when the '--isolatedModules' flag is provided."
### Contact Details

igorthierry15@gmail.com

### What do you need?

error when deploying when '--isolatedModules' flag is provided.
![Sem título](https://user-images.githubusercontent.com/16635562/152338641-44b3a8b2-8030-493c-8d1f-53f00b2f38c1.png)

### Version

1.39.3

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### Code of Conduct

- [X] I agree to follow

[2022-02-03 13:35] IgnusG opened #3074 "[Bug]: seaAnemone preset refreshes shortly after first render"
### Contact Details

_No response_

### What happened?

Using the seaAnemone preset, there is a refresh right after the particles start moving.

![particles-bug](https://user-images.githubusercontent.com/6438760/152352391-3fbda886-b3e0-407d-9df1-20afaa5f4e0e.gif)

This also happens on the official seaAnemone preset demo page: https://particles.js.org/samples/presets/seaAnemone

### Version

In my

[2022-02-03 13:41] matteobruni commented on #3074
Thank you, I'm aware of this issue but it's not on my priority list since it happens only when starting the animation. During the startup, the emitters have this issue.

[2022-02-03 13:56] matteobruni commented on #3073
The enums are declared as constants since they are stripped from the javascript output, they have a great impact on the output file size.
If you need `isolatedModules`, use the strings instead of the Enums, you should get compile errors if using something unexpected.

[2022-02-03 14:37] IgorThierry commented on #3073
The error occurred when deploying to Vercel.

My code is this simple component

[code]
thanks

[2022-02-03 21:25] IgnusG opened #3078 "[Bug]: Trails longer than 10 leave a gray mark on the canvas"
### What happened?

Trails that are set to have length 10 or higher leave a gray mark on the canvas that never disappears. This leads to the canvas eventually filling with zig-zags. Trails that have a length of 10 or lower do not have this problem.

Trails with length 11
![image](https://user-images.githubusercontent.com/6438760/152431179-10758281-9155-4838-810f-a0f5fac8b244.png)

Trails with leng

[2022-02-04 06:51] matteobruni commented on #3078
Thanks @IgnusG, this is a limitation of the canvas APIs, the fill color with small opacity is not stacking well, instead of recreating the right color it creates a trail.
Creating a trail manually without filling the canvas worsen the performance a lot

[2022-02-04 10:43] IgnusG commented on #3078
Ah I see. As it is a matter of API performance shall we close this issue then?

[2022-02-04 11:18] matteobruni commented on #3078
Yeah I think, a lot of other devs are complaining about this issue in every browser, it seems that the browsers are messing with integers and floats and this is the result of that.

[2022-02-04 11:18] #3078 closed, assigned to matteobruni

[2022-02-04 12:55] #2256 closed, assigned to matteobruni

[2022-02-04 12:55] #3074 closed, assigned to matteobruni

[2022-02-05 04:49] jansor opened #3086 "[Bug]: Automatic publicPath is not supported in this browser."
### Contact Details

_No response_

### What happened?

Hi,

I am migrating from react-particles-js, while the trying to setup the new tsprticles, i run into this issue:
Automatic publicPath is not supported in this browser

I do have to note that the old system is using requirejs and that we dont implement webpack into this system

I have both tested via Vanilla and Via React, but both times the

[2022-02-05 09:26] matteobruni commented on #3086
I have never seen this error in my demo project, can you share more details on how to reproduce the issue?
Which version of `react-particles-js` are you using at the moment?

[2022-02-05 10:20] Placeblock opened #3087 "Component constantly re-renders"
### Contact Details

_No response_

### What do you need?

I just added the ng-particles tag inside my component like this:
`<ng-particles [id]="'particles'" [options]="particlesOptions"></ng-particles>`

In my component i get some data from a service and i noticed that it calls the function in the service really really often
I commented the ng-particles tag out and then my component called the fu

[2022-02-05 10:29] matteobruni commented on #3087
Can you share an example where I can reproduce the issue?

[2022-02-05 10:31] qortex opened #3088 "[Bug]: Confetti preset does not work anymore"
### Contact Details

_No response_

### What happened?

If I use `confetti` preset, nothing shows up. But if I define my own particles config, it works ok.
I tried replicating the preset config in my own code and nothing shows up, so I suspect the actual config of the preset might be broken?

I have the following:
[code]

[code]

But putting full options directly (without the `preset` indirection

[2022-02-05 10:38] matteobruni commented on #3088
I didn't notice this until now. You can use `1.39.3` for now, I know where the issue is, but I need some time to fix it.

[2022-02-05 10:56] Placeblock commented on #3087
I tried to reproduce it on stackblitz but it gives me an error:

Error in /turbo_modules/tsparticles@1.40.0/tsparticles.min.js (2:3030)
Automatic publicPath is not supported in this browser

https://stackblitz.com/edit/angular-ivy-8e2p8d?file=src/app/app.component.ts

[2022-02-05 10:58] qortex commented on #3088
Ah thanks! Unfortunately, that doesn't fix it.

After diving a bit, I have seen that putting a non-null `rate` on the emitter makes particles pop, but the `startCount` is ignored. Does that make sense with what you have in mind?

[2022-02-05 11:05] qortex commented on #3088
adjusting `particles.number.value` to the particules count kind of imitates the right behaviour, but without the starting position being taken into account.

[2022-02-05 17:27] vmcfire commented on #3086
I have a similar problem. My stackblitz: https://stackblitz.com/edit/angular-ivy-ahxyki?file=src/app/app.component.ts

[2022-02-05 21:09] QuiteAFancyEmerald opened #3089 "tsParticles - Noticable stutter and lag on Firefox?"
### Contact Details

emerald@titaniumnetwork.org

### What do you need?

Hi! So I've been noticing a stutter that only seems to happen on Firefox. I've tried this out on multiple devices and it just seems to be an issue with `tsParticles`. I should also note that all the demos here also have that lag and stutter.

On Chrome, `tsParticles` is buttery smooth and the `fpsLimit` option works great but

[2022-02-06 01:50] matteobruni commented on #3089
Hi @QuiteAFancyEmerald,

I installed Firefow now but I didn't notice any difference in performance from Chrome or Safari

[2022-02-06 02:07] QuiteAFancyEmerald commented on #3089
Interesting. Could it perhaps be with Firefox Developer Edition only?

On Sat, Feb 5, 2022, 5:50 PM Matteo Bruni ***@***.***> wrote:

[2022-02-06 02:27] accidental-feature commented on #3089
I use Firefox developer addition as well. I would look at the performance section in the dev tools to see if there is a problem found there. I personally feel like it runs very well on Firefox compare to some other browsers.

[2022-02-06 02:30] accidental-feature commented on #2260
Howdy, I would like to help if possible! I know there is a limit to 10 assignees though if anyone is ahead of me.

[2022-02-06 02:31] matteobruni commented on #2260
Thank you, every help is welcome

[2022-02-06 13:10] #3088 closed, assigned to matteobruni

[2022-02-06 16:29] longnguyen2004 opened #3094 "[Bug]: `exports is not defined` with out-of-the-box Svelte project"
### Contact Details

nguyen.long.908132@gmail.com

### What happened?

Following the [readme for svelte-particles](https://github.com/matteobruni/tsparticles/tree/main/components/svelte#readme), loading the site results in an `exports is not defined` error, even with a fresh project skeleton. Rollup is also complaining about circular dependencies, so it might be the source of the problem. Using ht

[2022-02-06 17:22] matteobruni commented on #3094
I've tested my Svelte demo project but this error didn't show up. Can you give me more details about how to replicate this?

[2022-02-07 00:09] longnguyen2004 commented on #3094
Are you using SvelteKit? I'm currently not using SvelteKit yet.

Anyway, this is what I did:
1. `npx degit sveltejs/template`
2. `node scripts/setupTypeScript.js`
3. `npm install svelte-particles`
4. Replace the HTML inside `App.svelte` with a single Particles component:
[code]
5. `npm run dev`

This causes Rollup to complain about circular dependencies, and upon loading the site, I got an `export

[2022-02-07 01:50] longnguyen2004 commented on #3094
SvelteKit works fine, but can you make it work with old school Svelte? If not, I guess I'll migrate to SvelteKit.

[2022-02-07 02:02] matteobruni commented on #3094
I never used SvelteKit, but I'll investigate the error later, following your steps

[2022-02-07 08:04] matteobruni commented on #3094
I've tested your steps and the error showed up.
There are no big differences between the demo project (visible [here](https://github.com/matteobruni/tsparticles/tree/main/demo/svelte)) and that works.

So I tried replacing `npm` with `yarn`, and linking this new demo to the locally built versions, and it started working. That's why my local version works (the monorepo links packages).

This is a r

[2022-02-07 08:11] hschaefer123 opened #3102 "[Bug]: Using particels Hexagons preset (hexagonPath.json) does not work"
### Contact Details

holger.schaefer@gmail.com

### What happened?

Hi,
I tried to use the particles preset Hexagons (hexagonPath.json) inside particles.vue3: 1.40.0.

The results looks like the Sea Anemone demo, but should be look like a path trail following hexagon shape.

Mayber the polygonPath Generator is not supported/working, or particles.js uses a newer lib version?

Would be great to get

[2022-02-07 08:35] matteobruni commented on #3102
Please, try updating to `1.40.1`. The `1.40.0` had an issue with emitters. (Duplicate of #3088)

[2022-02-07 10:27] longnguyen2004 commented on #3094
So it's either due to `package.json` misconfiguration, or something within Rollup, since I've tested with SvelteKit, which uses Vite, and everything works fine there.

[2022-02-07 11:02] hschaefer123 commented on #3102
Hi,
just updated deps to 1.40.1

The second usage is the hexagonPath.json, which is not rendered as expected.

![tsparticles-issue](https://user-images.githubusercontent.com/2110971/152775593-675dd54b-00ca-487d-bf00-5c1311de3e95.png)

BTW: i  also seems, that it is not possible to change the background color to transparent (or here to a hardcoded color). After start, canvas background always turns

[2022-02-07 11:19] matteobruni commented on #3102
Two things:

1. The Hexagon Path requires an additional package (https://www.npmjs.com/package/tsparticles-path-polygon, sorry the README is not updated, `loadPolygonPath` this function needs to be called:
    - Before calling `tsParticles.load/loadJSON` when using only the core library, like this: `loadPolygonPath(tsParticles)`
    - In any `init/particlesInit` attribute in the components like Re

[2022-02-07 12:39] hschaefer123 commented on #3102
Hi Matteo,
thanks for the tips.

I got it runnning.

Concerning the color, i am not using transparent!

My Values:
/particles/color/value: #0e4877
/particles/move/trail/fillColor:  #22272e

But the rendered canvas background color differs from body background.

![tsparticles-issue-color](https://user-images.githubusercontent.com/2110971/152789117-4cdb88b8-440a-46e4-9fd0-330979a57939.png)

Are ther

[2022-02-07 13:13] matteobruni commented on #3102
I've tested your color, and it becomes a dark gray after a few semi-transparent fills, the trail is achieved by filling the canvas with a color with an opacity calculated with the trail length.

[2022-02-07 13:19] longnguyen2004 commented on #3094
After digging through the `rollup-plugin-node-resolve` docs, I've narrowed the problem down to the `browser` field in the `package.json`. In the Svelte template, [the `browser` setting is set to `true`](https://github.com/sveltejs/template/blob/8d350b693fb4bd8ecf340841eac22a1cb85d7986/rollup.config.js#L56), which means Rollup will use the file specified in the `browser` field. In this case, it is

[2022-02-07 13:23] matteobruni commented on #3094
The `browser` folder is used to build the Webpack file, it's really close to TypeScript because I try to don't strip too much TypeScript code so Webpack can do its magic to bundle everything. Maybe the ESM is the better solution. Thank you for the details, I'm going to read more about the `browser` field of `package.json` file, it gave me so many issues.

[2022-02-07 14:02] longnguyen2004 commented on #3094
A quick look at the [`package.json`](https://docs.npmjs.com/cli/v8/configuring-npm/package-json) docs gives me the following:
- `main`: CommonJS (`index.js`)
- `module`: ESM (`esm/index.js`)
- `browser`: Pre-bundled package for browsers (`tsparticles.min.js`)

Apparently webpack incorrectly uses the `browser` field as the entry point by default, which is not what it's intended for. There was [an i

[2022-02-07 14:11] longnguyen2004 commented on #3094
Also, for Rollup, outputting to IIFE or UMD will fail due to a dynamic import, unless `inlineDynamicImports` is set to `true`. I think we should document this in the README.

[2022-02-07 14:20] matteobruni commented on #3094
This absolutely.

About the `"browser"` field in the `package.json` the issue is with Parcel, the React demo breaks with a different value, and looking online it seems a common issue (for example: https://github.com/parcel-bundler/parcel/issues/4914)

[2022-02-07 14:22] matteobruni commented on #3094
I think I'm going to rewrite the React, Inferno.js and Preact modules since they have an `index.js` file exporting things, but I think a better solution can be found.

[2022-02-07 16:07] longnguyen2004 commented on #3094
I think the components are fine as is, but we should remove the `browser` field from `package.json`. There have been problems with it (https://github.com/webpack/webpack/issues/7646, https://github.com/gatsbyjs/gatsby/issues/3192), and other libraries have removed it from their `package.json` (https://github.com/hirosystems/stacks.js/pull/621, https://github.com/adenvt/webauthn-lib/commit/7923129e

[2022-02-07 16:14] matteobruni commented on #3094
I'm trying a build without it, let's see if everything work without it

[2022-02-07 16:26] matteobruni commented on #3094
It's working, also when using the package without `yarn link`, I've created the package and installed using the file path to the zipped file, and the svelte demo created with these instructions is working.
I'm going to release an update soon so we can see if this issue is solved.

[2022-02-07 16:50] #3094 closed, assigned to matteobruni

[2022-02-08 05:44] calvo-jp commented on #3073
Hi, @IgorThierry. Have you found a temporary fix? I can't deploy my app atm due to this error.

[2022-02-08 07:53] matteobruni commented on #3073
Actually the only workaround is to disable the `isolatedModules` flag, even if I set `preserveConstenums` the error is still there (https://github.com/microsoft/TypeScript/issues/37774).

I need to find another alternative to strip down enums from the Webpack build since they are only increasing the output size.

[2022-02-08 08:45] matteobruni commented on #3073
I was testing the `create-react-app` using the TypeScript template.

These are the steps made:

- `create-react-app cra-test-isolated --template typescript`
- `yarn add react-tsparticles`
- Added the `<Particles />` component specified few messages above
- `yarn build` and `yarn start`

I didn't receive any error about `isolatedModules`, can you tell me how to replicate the issue? Are you still us

[2022-02-08 09:17] #2925 closed, assigned to matteobruni

[2022-02-08 09:39] calvo-jp commented on #3073
Hi, @matteobruni. I am currently using `vite`. Here are my deps

[code]

Tried setting `isolatedModules` to `false` and the error disappeared. The problem now is that it no longer includes my assets (images and videos). I don't know. I'll just see if I can work something out. Thanks for the reply

[2022-02-08 09:48] matteobruni commented on #3087
I've tried creating a new angular test project, external from the monorepo.
These are the steps I've made:

- `ng new ng-test-updated`
- `cd ng-test-updated`
- `npm i ng-particles tsparticles`
- implemented `AfterViewChecked` interface in the `AppComponent` with a `console.log("checked")`
- Added `ng-particles`

But the console.log appears only twice.

[2022-02-08 11:41] IgorThierry commented on #3073
Hi, @matteobruni Sorry for missing this information, I'm using Vite, just like @calvo-jp .

changing flag to false solved the problem.

[2022-02-09 09:40] QuiteAFancyEmerald commented on #3089
Yeah super weird. I can't seem to pin this down since I have tested this on multiple devices now (all Windows however, latest version of Firefox Developer Edition).

I looked into this more and the issue seems to exist when syncing a Firefox account which has been in use for awhile. When you install a fresh copy no issues seem to exist. Not sure if this is related to extensions, etc. but I'm mostl

[2022-02-09 09:40] #3089 closed, assigned to matteobruni

[2022-02-09 11:17] #3073 closed, assigned to matteobruni

[2022-02-09 17:52] alg-qontrol opened #3130 "[Bug]: Jest 27+ / Jest encountered an unexpected token"
### Contact Details

_No response_

### What happened?

Hello,

Versions:
- Angular 13
-  tsparticles-preset-confetti ^1.40.1
- Jest 27.5.0

I run my tests with Jest 27+ and I have a runtime error about Jest and tsparticles-preset-confetti lib.
It's an Angular and nx project.

I tried several Jest configurations but it does not work.

have you ever had this error ?
![152966285-a81ada14-7105-4fb0-8

[2022-02-09 17:56] matteobruni commented on #3130
I've never heard of Jest, please share the steps to reproduce the issue.

[2022-02-11 02:55] p-lau opened #3178 "Deprecation warning with folder mapping"
### Contact Details

_No response_

### What do you need?
Would be nice to not see this, but it's nothing to worry.
I am getting this warning whenever I do `npm run dev` or `npm run build` for svelte-kit.
It showed up once I switched from Node 14 to Node 16.
[code]

A small issue for sure.

### Version

1.41.0

### Which library are you using?

Svelte (svelte-particles)

### Code of Conduct

- [X]

[2022-02-18 00:58] #3102 closed, assigned to matteobruni

[2022-02-18 00:59] #3087 closed, assigned to matteobruni

[2022-02-18 00:59] #3086 closed, assigned to matteobruni

[2022-02-18 00:59] #3130 closed, assigned to matteobruni

[2022-02-18 04:34] jansor commented on #3086
As you close this does this mean that in the next release the issue can be fixed?

[2022-02-18 10:19] matteobruni commented on #3086
I can't replicate the issue, I got no informations about that in days.

[2022-02-19 19:15] adamalston commented on #2771
Hi, I just ran into this issue with the config I'm using:

<details>
  <summary>config</summary>
  <p>

[code]

  </p>
</details>

[code]

Here's the error that I got.

[code]

I imported `ISourceOptions` from `tsparticles` and added it as a type for the options:

[code]

Now I'm getting a new error:

[code]

Do you have any suggestions for how to fix this error?

[2022-02-19 19:51] matteobruni commented on #2771
I pasted your config here: https://codesandbox.io/s/exciting-mahavira-8s2ylh?file=/src/App.tsx

And I got no TS errors, are you using the latest version? I removed the `key` from the `json` file since it doesn't make any sense there.

[2022-02-19 20:58] adamalston commented on #2771
Yes: `"react-tsparticles": "^1.41.2"`

[2022-03-05 20:11] beelzick opened #3452 "[Bug]: No possiblity to change styles in canvas element through style prop"
### Contact Details

_No response_

### What happened?

I am using next.js with react-tsparticles 1.41.6 and I am not able to change styles of canvas. I tried to change position `fixed` to `asbsolute`

### Version

1.41.6

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### tsParticles Configuration

[code]

### What browsers are you seeing the problem on?

_No

[2022-03-05 22:22] matteobruni commented on #3452
You have two options:

1. Disable full screen and set your custom CSS
2. Use `style` property in the options object

[2022-03-06 09:13] beelzick commented on #3452
It works, thanks !

[2022-03-06 09:13] #3452 closed, assigned to matteobruni

[2022-03-08 08:34] #2230 closed, assigned to matteobruni

[2022-03-08 22:02] bagratinho opened #3475 "[Bug]: Confetti style particles configuration outcome crushed after 1.41 - 1.42 version update"
### Contact Details

bagratinho@gmail.com

### What happened?

I had a confetti thrower canvas, configured to trow various particles from middle top position , direction up.
After last version update (41 -> 42), the outcome totally screwed.
It started throwing from two different spots (not top middle).

### Version

1.42

### Which library are you using?

React.js (react-tsparticles, react-particl

[2022-03-08 22:31] bagratinho commented on #3475
After digging little deeper seems that tsparticles repo update is the root of the issue.

[2022-03-09 06:20] matteobruni commented on #3475
Thanks for reporting, I’ve seen the issue, I need to find where it breaks and I’ll release an update soon.

Sorry about that

[2022-03-09 20:41] #3475 closed, assigned to matteobruni

[2022-03-11 19:41] brakop opened #3495 "[Bug]: Fireworks Background Color does not persist"
### Contact Details

brakop@gmail.com

### What happened?

I duplicated your fireworks codePen (https://codepen.io/matteobruni/pen/yLbYWbO?editors=1111)
To one I could show the issue with:
https://codepen.io/steelon169/pen/wvpwQzy

And simply put, I really love the fireworks effect, but I wanted to use a white background. In the demo I tried full green #0F0, and you'll see the background sort of f

[2022-03-11 19:48] matteobruni commented on #3495
Hello,

The fireworks trail uses a different fill color that can be found in `particles.move.trail.fillColor` options. Try setting that to a non-transparent value and you're done.

One thing is really important to know about the fillColor, it's used to create the trail effect so it's filled gradually using a formula for the alpha value, some colors could result in a different background color, but

[2022-03-12 11:12] lensbart opened #3502 "Please consider removing custom `install` script"
### Contact Details

_No response_

### What do you need?

Hello,

First of all, thank you maintaining this package. It’s great!

`tsparticles` and `react-tsparticles` use a custom `install` script to display some console messages and check for the presence of a deprecated `react-particles-js`. Having a custom install script is inconvenient:

* The default behaviour of [Yarn PnP](https://next.yarn

[2022-03-12 18:35] brakop commented on #3495
No worries! That settting did what I needed for now, thanks so much for the fast reply!

[2022-03-12 18:35] #3495 closed, assigned to matteobruni

[2022-03-13 17:58] andreock opened #3508 "[Bug]: Error when build with static sites adapter sveltekit"
### Contact Details

andrecanale05@libero.it

### What happened?

Hi, I was trying to build with the Static sites adapter for my site with sveltekit but it gives an error during the build:
[vite-plugin-svelte] C: /Users/Andrea/Desktop/sitename/node_modules/svelte-particles/src/Particles.svelte: 3: 16 Unexpected token
file: C: /Users/Andrea/Desktop/sitename/node_modules/svelte-particles/src/Particl

[2022-03-13 18:04] matteobruni commented on #3508
What TypeScript version are you using @Andrea055?

[2022-03-13 22:03] andreock commented on #3508
Thanks for answer, Version 4.6.2

[2022-03-13 22:29] matteobruni commented on #3508
So it's not a TypeScript issue, the `import type` requires TypeScript 3.8 or newer.  Maybe it's an issue with Svelte TypeScript parser or something like that. You can remove it, you can just use the standard `import` if you prefer.

[2022-03-14 02:36] alexey-dc opened #3514 "[Bug]: Mask image flickers after page load"
### Contact Details

iwizem@gmail.com

### What happened?

In Chrome,

1. Load this example: https://codesandbox.io/s/dw43f
2. Closely watch the particle area, refresh the page
3. The mask image briefly flickers into full opacity and then disappears

I tested in Chrome, Firefox, Brave - and it reproduces there as well. Also tried it with my own setup outside of CodeSandbox with NextJS.

Details on

[2022-03-14 09:48] joshodea95 commented on #1277
Hi @SuperWoll
Did you end up getting this working? I am experiencing the same problem and can't seem to find anything to fix it.

[2022-03-14 13:02] #3514 closed, assigned to matteobruni

[2022-03-14 14:32] IgnusG commented on #3074
Seems like this regression has returned since 41 I believe

[2022-03-14 14:40] matteobruni commented on #3074
Yes, it's a known issue. The fix was more breaking than expected, I'm still inspecting this. I'm trying to understand why the *resize* event is raised twice on startup

[2022-03-14 18:33] andreock commented on #3508
I removed import type but now i get this error:
7:32:57 PM [vite] Internal server error: C:/Users/Andrea/Desktop/cracknas/node_modules/svelte-particles/src/Particles.svelte:6:22 Unexpected token
  Plugin: vite-plugin-svelte
  File: C:/Users/Andrea/Desktop/cracknas/node_modules/svelte-particles/src/Particles.svelte
   4 |      import { tsParticles } from "tsparticles";
   5 |
   6 |      export let

[2022-03-14 18:34] andreock commented on #3508
I fix with this:
export let options= {};

[2022-03-14 18:34] #3508 closed, assigned to matteobruni

[2022-03-15 01:39] alexey-dc opened #3523 "[Bug]: 1.42.2 still seems to have image flickering for masks"
### Contact Details

iwizem@gmail.com

### What happened?

The original bug was filed here: https://github.com/matteobruni/tsparticles/issues/3514

Thanks so much for the prompt reaction, very impressed!

However I have not been able to get the fix to work; the CodeSandbox I originally linked still produces the flicker after being updated to 1.42.2: https://codesandbox.io/s/upbeat-haze-hfhsue

I a

[2022-03-18 01:38] JustSxm opened #3551 "A console.log has been forgotten"
### Contact Details

reply to this thread

### What do you need?

A console.log was left in the Canvas, spamming the console when creating the particles at Canvas.js:236

### Version

1.42.2

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-03-18 07:05] alexey-dc commented on #3523
I tested on a few other computers, and it does not reproduce.

The laptop it's happening on is a latest generation M1. I also have the previous generation M1, and it does not happen there.

Here are my specs:
[code]

And Chrome 99.0.4844.51 (Official Build) (arm64). Note my old M1 has Mac 11.1 - perhaps it's the OS, not the hardware.

I'll proceed with using tsParticles for my website though, sinc

[2022-03-18 07:11] matteobruni commented on #3523
I think is something related to #3074, there's a double canvas resize event fired when starting the first time that I'm investigating, and it could be the flicker cause too.
I'll let you know when I've found a solution

[2022-03-18 07:15] matteobruni commented on #3551
It's already fixed in #3528, it's not a spamming console.log since it's called once per instance.
I'm investigating #3523 and #3074 (the second is closed, but the issue is still present), then I'll release an update.

[2022-03-18 07:16] #3551 closed, assigned to matteobruni

[2022-03-18 16:10] #3523 closed, assigned to matteobruni

[2022-03-19 22:31] alexey-dc commented on #3523
Awesome, @matteobruni, very impressed! Thanks so much - it looks like it's fixed! Love this library!

[2022-03-22 14:19] Prasundas99 opened #3596 "Generic Issue"
### Contact Details

prasundas115@gmail.com

### What do you need?

There is a `console.log()` in the node modules

The Log is in Canvas.js line number 236

**Issue**
![image](https://user-images.githubusercontent.com/58937669/159502829-29000b93-84b3-4ede-baf6-a9db69e91d1b.png)

### Version

2.0.3

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### Code of Cond

[2022-03-22 14:34] matteobruni commented on #3596
That console.log was already removed also in 2.x branch (1.42.4 fixed it in v1), but v2 has longer release times since it's still in beta.

Since that console.log is not a major issue, it's called only in one init method once, so it's not worth rushing a release.

This is the PR for 2.0.4: #3597

[2022-03-22 14:34] #3596 closed, assigned to matteobruni

[2022-03-29 09:10] Idas86 opened #3691 "tsParticles Error in log "adding particle""
### Contact Details

@Idas86

### What do you need?

Using tsParticles.js I run into this error in the logs with Chrome: "error adding particle: Error: Particle is overlapping and can't be placed".
The canvas is generated correctly, as well as the animation of the particles. If it weren't for the logs, everything would seem fine.

This is my code added in Drupal site:

[code]

### Version

1.42.3

[2022-03-29 16:35] matteobruni commented on #3691
Your configuration has collisions enabled, and you can choose if particles can overlap when placing. If there's no space found the particle won't be added and an error in the console is written.

The `retries` value tries `n` times to place the particle before throwing the error, but in your config `n = 0` so, if the random position is not available the error is thrown immediately.

[2022-04-06 16:01] #953 closed, assigned to matteobruni

[2022-04-06 22:39] pawKer commented on #1277
I've managed to set the particles as the background of a container div using react-tsparticles like in the example below.

In my React component:
[code]
In the CSS:
[code]

Also in particlesConfig:
[code]

[2022-04-07 10:20] Anku5hk commented on #1184
I found a workaround, so if you want to emit for 3 seconds, you start with `start()` and `play()`, then pause the emitter at 3 second with `containerRef.current.plugins.get("emitters").array[0].pause();` and then wait for particles to settle down for say 9 seconds, then finally call `containerRef.current.stop();` here's the code

    containerRef.current.start();
    containerRef.current.play();

[2022-04-08 11:29] jack-sparroow opened #3853 "Cannot find name 'GlobalCompositeOperation'"
### Contact Details

_No response_

### What happened?

While using `ng-particles` with angular 13 I am getting

[code]

### Version

^1.43.1

### Which library are you using?

Angular (ng-particles)

### tsParticles Configuration

[code]

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Co

[2022-04-08 14:24] matteobruni commented on #3853
This change depends on TypeScript 4.6, Microsoft introduced this new type in the latest release and I think is only supported by that version.

[2022-04-10 10:16] #3853 closed, assigned to matteobruni

[2022-04-10 10:28] #3691 closed, assigned to matteobruni

[2022-04-10 10:28] matteobruni commented on #3178
Fixed in 1.43.x

[2022-04-10 10:28] #3178 closed, assigned to matteobruni

[2022-04-11 18:45] scohe001 opened #3877 "[Bug]: export 'mergeMap' (imported as 'mergeMap') was not found in 'rxjs'"
### Contact Details

_No response_

### What happened?

Just trying to get this setup here. Here are the steps I've followed...

- Run `npm install ng-particles tsparticles-engine`
- Add  `NgParticlesModule` to my app.module.ts imports
- Attempt to `ng serve`

I'm seeing the following two errors:

[code]

I have installed the following particles packages:
[code]

All installed packages:

[code]

#

[2022-04-11 19:20] scohe001 commented on #3877
Bumping rxjs to the latest (7.5.5) resolved this.

[2022-04-11 19:20] #3877 closed, assigned to matteobruni

[2022-04-15 02:11] ItsKodas opened #3909 "[Bug]: NextJs Support Broken?"
### Contact Details

koda@horizons.gg

### What happened?

I've been trying to add this package to my NextJs project for half the day following the NextJs Demo in this repository.
After deciding to download the NextJs demo to see if it was me or the package, its the package, I've tried every way I could think of like dynamically importing presets, etc.

For some reason any time you try adding a pr

[2022-04-15 05:40] n8sabes opened #3910 "tsParticles stopped working after upgrading from 1.x to 2.x"
### Contact Details

_No response_

### What happened?

Upgrading from `tsparticles 1.43.1` to `tsparticles-engine 2.0.5` isn't working. Are there any migration notes? Also, links to examples in the documentation are broken.

Thanks for the amazing work on this project and for any help get it back up and running.

### Version

2.0.5

### Which library are you using?

Vanilla (tsparticles)

### tsP

[2022-04-15 05:50] matteobruni commented on #3910
Have you read this article? https://dev.to/matteobruni/tsparticles-205-is-out-breaking-changes-ahead-keeping-the-1x-support-2n63

I’m updating all the documentation for this migration, these notes will be available in the upcoming GH release

[2022-04-15 05:56] matteobruni commented on #3909
I need to do more tests, I’ve no errors on build in the repository, maybe it’s the monorepo that has no errors because all packages are linked

[2022-04-15 06:58] matteobruni commented on #3909
I tested now a new Next.js project, with `1.43.1`, and I got no errors and worked as expected, like the demo project in the repository. Do you have a reproducible example where I can see the issue?

[2022-04-15 07:12] ItsKodas commented on #3909
I'll get a rep up when I get home for you to test with, I just downloaded the demo, ran npm install, then ran npm run dev.

[2022-04-15 11:00] netcore-jroger opened #3911 "[Bug]: Failed to resolve entry for package "tsparticles""
### Contact Details

sjr_vip@126.com

### What happened?

### Describe the bug

After I use comand `yarn add tsparticles tsparticles-engine react-tsparticles` add these packages, I run `yarn run dev` command. than I got some exceptions.
[code]

other issue: https://github.com/vitejs/vite/issues/7754

### Reproduction

https://stackblitz.com/edit/vitejs-vite-iyeunl?file=package.json&terminal=dev

#

[2022-04-15 15:02] n8sabes commented on #3910
@matteobruni Thank you so much for the migration articles: [tsParticles2 Releases Series' Articles](https://dev.to/matteobruni/series/16974)

I was able to quickly get my `1.x` code up and running under `2.x` following the [**Migration Steps**](https://dev.to/matteobruni/tsparticles-202-is-out-breaking-changes-ahead-but-keeping-the-1x-support-for-now-f72) steps in Part-1. I will work on optimizing

[2022-04-15 16:59] matteobruni commented on #3911
Thanks @netcore-jroger, I've found the problem, there's a `"module": "esm/index.js"` that points to a non existing file, this will be fixed soon!

I need to check all build scripts (around 80 packages 😅) to see if there are similar cases

[2022-04-15 17:01] matteobruni commented on #3910
I'll pin this issue, and I'll close it once the documentation is completed.

[2022-04-16 19:06] Kadajett commented on #3909
I am experiencing this as well, at line10 of tsparticles/index.js

[2022-04-17 01:38] #3909 closed, assigned to matteobruni

[2022-04-17 01:38] #3911 closed, assigned to matteobruni

[2022-04-17 14:13] matteobruni commented on #3910
I've created the `2.0.6` release here (https://github.com/matteobruni/tsparticles/releases/tag/tsparticles-engine%402.0.6) where I copied the full [dev.to](https://dev.to/matteobruni/tsparticles-205-is-out-breaking-changes-ahead-keeping-the-1x-support-2n63) article

[2022-04-25 10:04] JuliaBonita opened #3963 ""Unexpected token" - Svelte TypeScript issue"
### Contact Details

_No response_

### What happened?

I've been trying to get this to work all day. I think this is related to the fact that I'm using SvelteKit, which has SSR on by default. I already tried installing `svelte-particles` using the suggested dynamic import method, but I still get the error below.

Has anybody actually made this work with SvelteKit? If so, please help.

### Version

[2022-04-25 10:11] matteobruni commented on #3963
That error depends on your TypeScript configuration, it's not transpiling TypeScript correctly.

`import type` is a TypeScript 3.7 (or 3.8, I don't remember) syntax.

If you are not using TypeScript, you can remove that line and `lang="ts"` from the script tag

[2022-04-25 10:56] JuliaBonita commented on #3963
Thank you for your quick reply. I removed those items, but I still get the same error:

[code]

To confirm I did exactly what you suggested, here is what the `Particles.svelte` file looks like after I made the modification:

[code]

Can you think of any other potential causes?

[2022-04-25 11:14] matteobruni commented on #3963
Same issue, `: ISourceOptions` is TypeScript syntax

[2022-04-25 11:35] JuliaBonita commented on #3963
Ok, thank you. That resolved the loading issue. I can see the particles now, but they don't move. I saw a similar problem earlier and the only way I could resolve it was to use the CDN version and downgrade to the 1.4x version. But then I can't control the placement of the particles within the component tree.

This is probably something simple, but is there something more that needs to be configur

[2022-04-25 11:41] matteobruni commented on #3963
Can you share a sample project with the same issue? I don't know why particles are not moving

[2022-04-25 12:13] JuliaBonita commented on #3963
Sure, you can download the "temp" project I created for you at the link below.
https://drive.google.com/file/d/18yVhg5CwuTfij7bviuJMj1Z4N2ugGiJy/view?usp=sharing

In that project, I stripped out all the irrelevant files and deleted all the Node modules except the `svelte-particles` module. That way you shouldn't need to re-edit the files I edited above. I tested it just before zipping it up for yo

[2022-04-25 16:55] matteobruni commented on #3963
Ok I found the issue, but I tought the first issue was in your code, instead it was in `svelte-particles` that requires `TypeScript` first, and I've taken note about that, I need to document that better.

This is the working project: https://we.tl/t-HLX3thvCnS

These are the steps made:

- I removed `node_modules` since I wanted a fresh install, and I got your first error and there I noticed the d

[2022-04-25 23:50] JuliaBonita commented on #3963
Thank you. Your updated files have resolved this issue. I really appreciate your help.

[2022-04-25 23:50] #3963 closed, assigned to matteobruni

[2022-04-26 00:10] JuliaBonita commented on #1277
I'm using SvelteKit. I tried to adapt these suggestions to SvelteKit, but none of these solutions work to display the particles only within a smaller `div`. No matter what I do in my project files, something overrides all my styles and the canvas gets auto-populated with these fullscreen properties:

[code]

I've already looked at the old demos . . .
https://codepen.io/matteobruni/pen/BawqaxW
http

[2022-04-26 05:24] matteobruni commented on #1277
Change the `particles.json` options like this:

[code]

This will make particles container be a normal div, without any forced style to be full page size

[2022-04-26 06:21] JuliaBonita commented on #1277
Aah, yes, that works. Thank you!

[2022-04-27 14:36] jodusan opened #3976 "[Bug]: Tsparticles glitchy and laggy on firefox"
### Contact Details

_No response_

### What happened?

None of the examples (eg https://particles.js.org/samples/index.html#chars) work as smooth as on chrome. I use firefox 99.0 on Ubuntu and its all glitchy and laggy. Also the same happens for my react app

### Version

2.0.6

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### What browsers are you seeing th

[2022-04-27 14:40] matteobruni commented on #3976
Hi @jodusan,
I don't have any Ubuntu installed, what are the PC specs or screen resolution? I tested it on Firefox on my Mac and it works fine (and it's not the only app running).

[2022-04-27 14:49] matteobruni opened #3977 "New package naming"
Version 2.x introduced a lot of new packages, almost every feature has a plugin package now but the component packages have some different versions and names.

Since I'd like to have the same version for the whole project, and a better naming, all packages, except `"tsparticles"` will be moved to the `@tsparticles\` npm group.

This is what is going to be with version 3:

`tsparticles-engine` -> `

[2022-04-27 14:51] jodusan commented on #3976
I7-8700, 1080ti nvidia, 4k screen its also laggy on firefox ubuntu 22.04 dell 9570 laptop

[2022-04-28 04:48] Itzadetunji commented on #1277
`Please can someone help me my particles is not going to the background`
`<Particles
      id="tsparticles"
      init={particlesInit}
      loaded={particlesLoaded}
      options={{
        fullScreen: { enable: true, zIndex: 0 },
        fpsLimit: 120,
        interactivity: {
          events: {
            onClick: {
              enable: true,
              mode: "grab",
            },

[2022-04-28 06:03] matteobruni commented on #1277
Could be the `zIndex` at 0, try with -1

[2022-04-28 08:40] matteobruni opened #3986 "Migrate away from Lerna, that project is officially abandoned"
Lerna is officially deprecated, a new monorepo tool is needed. NX looks good, but I need to look if it suits this project perfectly or if other tools are needed. Also, RushJS seems a good alternative, I tried it once but with all these projects it may take forever to configure since there were no globs when I tried it.

Any external help is welcome, I've only used Lerna with this project.

[2022-04-28 10:22] Itzadetunji commented on #1277
It does not

It does not still work
I need it to go to the background of my page without covering other pages

[2022-04-28 10:29] matteobruni commented on #1277
Open a new issue, giving me more details about your issue. I don't understand what do you mean with other pages.

[2022-04-29 14:42] rhythmbhiwani opened #3993 "Not able to use multiple particles canvas on single screen"
### Contact Details

rhythmbhiwani@gmail.com

### What happened?

I wanted to show user option to select between different particles background with a preview. But then I noticed that when rendering only one container for particles, it renders correctly, but when I try to render multiple containers only one is rendered which also not 100% accurate everytime.

After inspecting, I noticed that it ad

[2022-04-29 14:46] matteobruni commented on #3993
I've seen there's a missing property in the documentation, the `id` property, which overrides the default `"tsparticles"` value.

Anyway, I do not recommend using more than one container since it could worsen the performance. You can achieve multiple effects using particle groups. The only thing that is not particle customizable is mouse interaction (for now).

[2022-04-29 17:31] rhythmbhiwani commented on #3993
Seems working, thanks a lot. Should add it in the documentation

[2022-04-29 17:31] #3993 closed, assigned to matteobruni

[2022-05-04 08:14] olsonperrensen commented on #3853
Temp fix: Replace GlobalCompositeOperation with 'any'.

[2022-05-05 13:48] salek3 opened #4019 "[Bug]: tsparticles lagging when navigating through components in reactjs"
### Contact Details

sashe.angelovski@aucta.dev

### What happened?

At first init/load the particles are working smooth, but when navigating through components they are getting laggy more and more as I navigate trough components.

### Version

17.0.0

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### tsParticles Configuration

[code]

### What browsers are yo

[2022-05-05 14:52] matteobruni commented on #4019
Please, fill the `Version` field with the `tsParticles` version.

Do you have a reproducible sample? You can create one in CodeSandbox or StackBlitz if you don't want to send files.

[2022-05-10 12:34] alejosky opened #4042 ""particles.vue": "^3.0.6" empty canvas in Nuxt"
### Contact Details

_No response_

### What happened?

Ciao!

I saw [your post on dev.to](https://dev.to/matteobruni/how-to-create-beautiful-particles-effect-in-vue-js-2-x-and-3-x-27d8), then decided to adapt your [Codepen example](https://codesandbox.io/s/particlesvue-20-kwsl6) into Nuxt.

So I ran...

[code]

(the last bit installs particles.vue v3.0.6)

then I created the plugins folder, creat

[2022-05-10 12:48] matteobruni commented on #4042
Read this: https://dev.to/matteobruni/tsparticles-205-is-out-breaking-changes-ahead-keeping-the-1x-support-2n63

tsParticles 2.x has changes (particles.vue 3.x is using that)

[2022-05-10 12:51] #4019 closed, assigned to matteobruni

[2022-05-10 12:55] alejosky commented on #4042
Ah, OK. I get it.

I think it would be a good idea to mention that in their correspondent NPM and Github pages.

Grazie mille!

[2022-05-10 12:55] #4042 closed, assigned to matteobruni

[2022-05-10 13:01] matteobruni commented on #4042
The Vue readme was updated some days ago with all the needed code, on NPM is still old but I'm working on an update https://github.com/matteobruni/tsparticles/tree/main/components/vue

[2022-05-11 16:37] matteobruni opened #4048 "Update preset readmes for v2"
All preset readme files needs updates for v2

[2022-05-16 06:53] zyonglove opened #4073 "Generic Issue"
### Contact Details

1747069516@qq.com

### What do you need?

I need help!
From vue/cli4.5 to vite2.0, the particle effect is gone and there is no error.

"particles.vue3": "^2.0.6",

### tsParticles Version

2.0.6

### Which library are you using?

Vue.js 3.x (particles.vue3)

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-05-16 07:58] matteobruni commented on #4073
Hi @zyonglove,

I need a reproducible sample or some code to replicate the issue.

Have you seen the readme? https://github.com/matteobruni/tsparticles/tree/main/components/vue3#readme

[2022-05-16 08:47] matteobruni commented on #3910
The website is being updated soon with some video tutorials, and the documentation is fine for 2.0, closing this reminder

[2022-05-16 08:47] #3910 closed, assigned to matteobruni

[2022-05-16 21:15] favourwright commented on #4073
I have exact same issue,
using Nuxt3 and installed the tsparticles.vue3 package...

no errors after defining plugin, but no particles

[2022-05-16 21:28] matteobruni commented on #4073
Hi @favourwright, as I said to @favourwright I need some code to reproduce the issue. The code in the Readme is working as expected

There's another issue here https://github.com/matteobruni/tsparticles/issues/4042 that could be the same as yours

[2022-05-16 21:50] favourwright commented on #4073
@matteobruni for my case, you can reproduce from https://github.com/favourwright/portfolio-nuxt3

[2022-05-16 22:05] matteobruni commented on #4073
https://github.com/matteobruni/tsparticles/tree/main/components/vue3#readme

Read this readme please, you are missing some code. It's the same answer given to #4042 linked in my previous message.

[2022-05-17 06:06] #4073 closed, assigned to matteobruni

[2022-05-17 06:21] zyonglove commented on #4073
In the same code, the project created with vuecli is normal, but in the project created by vite, there are exceptions, no errors and no particles

[2022-05-17 12:25] matteobruni commented on #4073
Share the other project, if it uses the same particles.vue3 version it shouldn’t work since in the sample you sent it’s missing some code

[2022-05-19 09:56] matteobruni commented on #4073
Nuxt2 example: <https://github.com/tsparticles/nuxt2-particles-demo>
Nuxt3 example: <https://github.com/tsparticles/nuxt3-particles-demo>

[2022-05-20 11:39] #4048 closed, assigned to matteobruni

[2022-05-22 08:22] matteobruni opened #4120 "Particles interactivity override options"
The particles options section needs the interactivity options, so each particle can override the default options. The general options are going to be removed, but they will be kept for compatibility probably until v4

[2022-05-23 15:57] longnguyen2004 opened #4131 "[svelte-particles] Update typings"
### Contact Details

nguyen.long.908132@gmail.com

### What do you need?

Leaving this here for future me to work with.

The Svelte component switched from emitting events to using props, so the typings need to be updated accordingly.

### tsParticles Version

2.0.6

### Which library are you using?

Svelte (svelte-particles)

### Code of Conduct

- [X] I agree to follow this project's Code of Con

[2022-05-24 09:50] longnguyen2004 opened #4135 "`tsparticles-move-base` README is for `tsparticles-light-interaction`"
### Contact Details

nguyen.long.908132@gmail.com

### What do you need?

The README for `tsparticles-move-base` is wrong, and is referring to `tsparticles-interaction-light` instead.

### tsParticles Version

2.0.6

### Which library are you using?

Vanilla (tsparticles), Svelte (svelte-particles)

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-05-24 09:55] matteobruni commented on #4135
Already fixed in dev branch

[2022-05-24 14:24] longnguyen2004 commented on #3986
Lerna is now under stewardship of Nrwl, so it's not abandoned anymore?

[2022-05-24 14:31] matteobruni commented on #3986
I've read that news, but I don't know if they're going to maintain that as well or port it inside NX

[2022-05-24 15:51] longnguyen2004 opened #4136 "A guide to select packages according to the use case"
### Contact Details

nguyen.long.908132@gmail.com

### What is your request?

I'm trying to get used to the new micro-package system of v2, but I couldn't get it working for several hours. I ended up importing the slim package instead, which works, but it comes with a few features that I didn't use. It'd be very helpful to have a guide on how to select the correct packages for a particular config.

[2022-05-24 19:09] matteobruni commented on #4136
This is already in my todo list, if you need help using only some features let me know

[2022-05-25 02:56] longnguyen2004 commented on #4136
So with this config
[code]

What packages do I need?

[2022-05-25 21:55] matteobruni commented on #4136
I updated the config a bit, just removed some standard values and moved `move.direction` inside particles properties, instead of emitters value, and of course images, since I didn't have yours.

[code]

I think the required color updater is a bug, since images could work without colors.

<https://cdn.jsdelivr.net/npm/tsparticles-engine@2.0.6/tsparticles.engine.min.js>
<https://cdn.jsdelivr.net/npm

[2022-05-29 02:20] TheDelta opened #4151 "[Bug]: ng-tsparticles load engine with [particlesInit] gets called everytime"
### Contact Details

a.diller@dolphbit.de

### What happened?

Just started today with this awesome library and after some struggling and digging through the documentation I eventually found an issue or I misunderstood something.

The following use case: I have two `<ng-particles [particlesInit]="init">` components placed on a page.

The init function is the following and does partial loading of w

[2022-05-29 09:59] matteobruni commented on #4151
It's definitely a bug, thanks for reporting that

[2022-05-29 12:08] TheDelta commented on #4151
Yeah probably, I went a bit through the source code and also created as promised a tiny example:

https://stackblitz.com/edit/ng-particles-load-engine-bug?file=src/app/app.component.ts

If you click the visible button, you notice that there appears a dolphin (but it shouldn't) and it also freezes / stutters a bit (I assume due to loading the engine multiple times)

If you enable the flag `PREVENT_

[2022-06-05 14:03] rudevdr opened #4184 "Add Border radius to images in shape options"
### Contact Details

gudayschief@gmail.com

### What is your request?

Currently the object in `particles.shape.options.images` uses `src`, `width` and `height`

I wanted to know what if we can have more css attributes like `border-radius`.

Is there any workaround to add `border-radius` in images for now?

### tsParticles Version

2.0.6

### Which library are you using?

React.js (react-tsparticl

[2022-06-05 22:28] matteobruni commented on #4184
It's not actually possible to apply styles to images drawn inside a canvas, you can try it yourself here: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_canvas_drawimage

If you find a way, you can create a custom shape yourself like this rounded rectangle: https://github.com/matteobruni/tsparticles/tree/main/shapes/rounded-rect

[2022-06-06 16:33] rudevdr commented on #4184
Thanks, that is informative!

Is there any way to make background gradient? I can't find options for it. @matteobruni

[2022-06-06 16:33] #4184 closed, assigned to matteobruni

[2022-06-06 16:49] matteobruni commented on #4184
You can set it using the `image` property of the `background` section using CSS, like this tutorial is explaining: https://www.tutorialkart.com/css/css-background-image-linear-gradient/#:~:text=To%20display%20a%20linear%20gradient%20of%20colors%20as,is%20background-image%3A%20linear-gradient%20%28direction%2C%20color1%20stop1%2C%20color2%20stop2%2C...%29%3B

[2022-06-07 13:41] steve-taylor commented on #3977
Would you mind not rushing to deprecate npm packages this time? I still can't figure out how to get `react-tsparticles` v2 working. (I was using v1 without any issues.)

[2022-06-07 14:29] steve-taylor commented on #3910
If anyone came here from Google trying to upgrade `react-tsparticles` from v1 to v2, here's what worked for me:

1. `npm i react-tsparticles@latest tsparticles@latest`
2. In the module that uses the `Particles` component:
[code]
3. Change
[code]
   to
[code]

Coming from `1.36.0`, I also had to add the following to my config:
[code]

[2022-06-09 03:20] qmzzmzmn opened #4203 "[Bug]: particles.vue3 does not work in the new version of Vue3"
### Contact Details

_No response_

### What happened?

particles.vue3@1.11.0 work

### tsParticles Version

particles.vue3@2.0.6

### Which library are you using?

Vue.js 3.x (particles.vue3)

### tsParticles Configuration

[code]

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of C

[2022-06-09 06:37] matteobruni commented on #4203
Please read the README here: https://github.com/matteobruni/tsparticles/tree/main/components/vue3

You are missing the `particlesInit` method

[2022-06-09 07:16] qmzzmzmn commented on #4203
Now it works, thks

[2022-06-09 07:17] #4203 closed, assigned to matteobruni

[2022-06-13 11:09] matteobruni commented on #3986
I'm adding the new NX integration in Lerna, closing this.

[2022-06-13 11:09] #3986 closed, assigned to matteobruni

[2022-06-15 16:31] omaSpencer opened #4228 "[Bug]: Crash if fullscreen mode not enabled"
### Contact Details

oma.spencer@gmail.com

### What happened?

I tried disable fullscreen mode, but if I set to false, then works with fully lagged and crashed out. Particles disappear and showing a sad emoji. Memory leak + chrome tab crash the response.

Component

[code]

### tsParticles Version

2.0.6

### Which library are you using?

Solid (solid-particles)

### tsParticles Configuration

[c

[2022-06-15 16:56] matteobruni commented on #4228
Thank you for the report, I never noticed this issue. A fix will be released in the 2.1.0 version, that can't be released without it. #4031 for reference

https://codesandbox.io/s/amazing-christian-epc49y?file=/src/particles.jsx reproducible sample

[2022-06-16 00:09] matteobruni commented on #4228
I've seen that this issue is replicable also in the vanilla library, if a canvas is placed inside the containing div (like the one used by `solid-particles`, the issue is the same.

The canvas starts resizing infinitely only with a pixel ratio != 1 (like retina displays)

[2022-06-16 22:36] olsonperrensen commented on #3853
Long term fix: See https://stackoverflow.com/a/40980411

[2022-06-19 10:09] #4228 closed, assigned to matteobruni

[2022-06-19 10:09] #4120 closed, assigned to matteobruni

[2022-06-19 10:09] #4131 closed, assigned to matteobruni

[2022-06-19 10:09] #4135 closed, assigned to matteobruni

[2022-06-19 10:09] #4151 closed, assigned to matteobruni

[2022-06-21 13:54] brainsaysno opened #4245 "Fix typo in npm readme for react-tsparticles"
### Contact Details

nicolas.russo.ortiz@gmail.com

### What do you need?

There is a typo in [react-tsparticles npm readme](https://www.npmjs.com/package/react-tsparticles).
[code]

### tsParticles Version

2.1/0

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-06-21 13:57] matteobruni commented on #4245
Yeah, you're definitely right. Can you submit a PR for this?

[2022-06-22 12:44] matteobruni opened #4250 "Mouse repulse and OutMode bounce bugged when used together"
Particles when are repulsed from the mouse and has the OutMode bounce don't bounce, but they leave the canvas, maybe forever.

The expected result is to see them bouncing on the edges AND repulsed by the mouse.

Thanks to @hhuiminc for the report

### Discussed in https://github.com/matteobruni/tsparticles/discussions/4247

<div type='discussions-op-text'>

<sup>Originally posted by **hhuiminc** J

[2022-06-25 14:41] tekofx opened #4269 "[Bug]: React component plays only on page reload"
### Contact Details

tekofxx@gmail.com

### What happened?

When using the React component it only plays when reloading the page. Without reloading the page the component remains still with the particles created but with not movement.

Here is the code of the component:
[code]

### tsParticles Version

2.1.0

### Which library are you using?

React.js (react-tsparticles, react-particles-js)

### t

[2022-06-25 15:17] matteobruni commented on #4269
I created an empty CRA project, using your code and configuration, but everything worked as expected. Do you have more steps I can follow? I've tested both on Safari (my main browser) and Chrome but nothing has changed.

[2022-06-26 16:26] tekofx commented on #4269
Thanks for the help I solved it. I created a new CRA project with my settings and it works. It also works on my project after comparing it to the CRA project

[2022-06-26 16:26] #4269 closed, assigned to matteobruni

[2022-06-27 07:53] #2260 closed, assigned to Eunit99, DeepakKewadia, HariniJeyaraman, ishitaojha, keivalya, Enhmunh-E, intragalactic-stranger, accidental-feature, j1gy45u

[2022-06-28 19:49] 321ckatz123 opened #4291 "[Bug]: fullScreen as a boolean doesn't appear to work"
### Contact Details

_No response_

### What happened?

I was in the process of converting from tsParticles 1.x to 2.x and everything worked except being I wasn't on a full screen canvas (it's only displayed on the left side of our app as more of an "accent" design), I noticed that entering text into an input not over the canvas would cause the particles to "reset" (basically as if I completely re

[2022-06-28 20:42] matteobruni commented on #4291
https://codepen.io/matteobruni/pen/qBoBVxw you can see it working here, please attach or link a reproducible sample

[2022-06-28 21:53] 321ckatz123 commented on #4291
I could not reproduce even adding all my complexity, BUT it was going through teh React Particles component, not directly calling tsParticles. You wouldn't happen to have a codepen wired up that wires up the React stuff would you, I tried but quickly failed...

[2022-06-29 07:29] matteobruni commented on #4291
Ok found the issue, it can be seen here: https://codesandbox.io/s/beautiful-dream-yjh5b1?file=/src/App.js

Once set to fullScreen is not unsettling anymore. I will have a look at that after I've fixed all errors that I have in the project right now 😄

[2022-06-29 12:43] matteobruni commented on #4291
Ok, I found the issue, in React the canvas is not autogenerated, is an existing child of the containing div. Since I don't want to break the existing UI, if the canvas is preexisting I'm trying to restore it to the previous state. That check was failing, it will be released in `2.1.1` (pr #4251)

[2022-06-29 14:36] 321ckatz123 commented on #4291
@matteobruni Yep, that is exactly the behavior I saw.

I assumed it was a handler incorrectly getting set on fullscren, but React causing the particles to "re-render" in a controlled Textbox also seems quite logical and is what you showed. Thanks for sticking it out with me 👍

[2022-07-01 12:17] #4245 closed, assigned to matteobruni

[2022-07-01 12:17] #4291 closed, assigned to matteobruni

[2022-07-03 19:41] finnie2006 opened #4320 "Problems after V2"
### Contact Details

_No response_

### What do you need?

Hello guys,
i made a addon for a gaming panel to add a particle background to the login page, but since V2 off tsparticles it broke, its not really clear to me how to update it, is there someone that can make a pull request or can guide me how to do it? thanks in advance

https://github.com/finnie2006/PteroFreeStuffinstaller/tree/V2/resour

[2022-07-03 20:09] matteobruni commented on #4320
Try reading here: https://github.com/matteobruni/tsparticles/issues/3910

[2022-07-05 22:02] #4250 closed, assigned to nobody

[2022-07-08 14:57] #4320 closed, assigned to matteobruni

[2022-07-14 04:58] bkawakami opened #4385 "[Bug]: particles.vue3 slow down with vue-router"
### Contact Details

bru.kawakami@gmail.com

### What happened?

I just start a default project with Vue 3 + Router and then add a `Particle` on my default `HomeView.vue`

[code]

But when I peform a simple action, such as change page in top menu on Vue default router, when I come back to home de particles are slow and lagged.

Someone experienced this?

### tsParticles Version

2.1.3

### Which l

[2022-07-14 07:51] matteobruni commented on #4385
Thanks for the report, I thought this kind of issue was already solved in 2.1.0, but I didn't notice there was still a bug about it. The first report was #4031, but it'll be fixed in v2.2.0 (PR #4341).

[2022-07-19 11:32] kalenmike opened #4413 "[Bug]: particles.vue3 Breaks Vite HMR"
### Contact Details

_No response_

### What happened?

If I use Particles on the app instance the HMR for Vite breaks. Vite continues to work correctly I can see the hot updates in the command line and the console, but the webpage no longer updates. I have traced it down directly to commenting out `app.use(Particles);`.

[code]

"tsparticles": "^2.1.3",
"particles.vue3": "^2.1.3",
"vite": "^2.9.1

[2022-07-19 11:36] matteobruni commented on #4413
Could be related to #4385

[2022-07-21 04:45] AlphaByte-RedTeam commented on #2771
Hey I know it is closed. But I've just ran into this issue right now. But I could handle the problem. So, to summarize, if you are using Next.js TypeScript and want to pass options config using a variable, take a look at this code below:

[code]

Thank you all.

[2022-07-21 05:13] AlphaByte-RedTeam opened #4468 "Feature Request: Consider updating the docs to support TypeScript"
### Contact Details

andrew.avv03@gmail.com

### What is your request?

On this [documentation](https://github.com/matteobruni/tsparticles/blob/main/components/react/README.md), the docs is still in JavaScript instead of TypeScript. Please consider to update the documentation using full TypeScript support. Thank you.

### tsParticles Version

v2.1.3

### Which library are you using?

React.js (rea

[2022-07-21 06:37] matteobruni commented on #4468
If you want, you can open a Pull Request with the missing documentation

[2022-07-21 13:26] AlphaByte-RedTeam commented on #4468
Ok. I've already opened a PR in PR number #4479

[2022-07-21 13:26] #4468 closed, assigned to matteobruni

[2022-07-22 19:49] Squitch1 opened #4492 "Feature Request - Image Mask Plugin"
### Contact Details

_No response_

### What is your request?

Add an option to display an image with particle and interactivity like this [https://codesandbox.io/s/react-particle-image-complex-pbzo9](https://codesandbox.io/s/react-particle-image-complex-pbzo9)

### tsParticles Version

nothing

### Which library are you using?

Vanilla (tsparticles)

### Code of Conduct

- [X] I agree to follow t

[2022-07-22 22:15] matteobruni commented on #4492
This feature is cool, but it's not something that I'm going to add soon since the polygon mask plugin have a similar effect.

[2022-07-23 22:27] #2272 closed, assigned to matteobruni, roicoroy, depimomo, loud-mouth, nmathew98, eshaanagarwal

[2022-07-27 15:22] Jaessun opened #4532 "[Bug]: Random colors/opacity applies only one value to all particles when using SVG shape"
### Contact Details

jason@octopix.be

### What happened?

Hi,

I've provided an array of hex codes for my particles colors. When using a built-in shape type (e.g. `circle`), each particle picks a random color from the provided array of colors, which is the expected behaviour.

However when using an SVG image shape with `"replaceColor": true`, a single random color is picked and then used for ever

[2022-07-27 15:34] matteobruni commented on #4532
Hi @Jaessun,

This was discussed on Discord a few days ago. It's not a bug, it's intended to work this way since every color replace is a new image to load. To avoid loading more images (this could involve `"random"` value as well), it will be used only one color.

You can still force it copying the image multiple times and assigning to each image a different color. You can see a sample config bel

[2022-07-27 15:58] Jaessun commented on #4532
Thanks for the quick response and for the example, I think that should solve the problem for the colors.

But what about the opacity, is that also intended? There are too many possible values between min and max to copy the image for each value. Is there a solution for that?

[2022-07-27 16:01] matteobruni commented on #4532
Opacity shouldn't be affected, I didn't notice the issue about opacity. I'll do some checks and I'll let you know

[2022-07-27 16:38] matteobruni commented on #4532
Yes, opacity were ignored only for svg replaced images, it will be released in the upcoming 2.2.0 (PR #4341)

[2022-07-27 17:31] JeremyMoeglich opened #4534 "[Bug]: svelte-particles, component doesn't get destroyed properly"
### Contact Details

jeremy.moeglich@gmail.com or just ask in this issue

### What happened?

Destroying the Particles Component (svelte), results in a page slowdown if reinitialized often enough and has even caused the Website to stop because it's out of memory
![image](https://user-images.githubusercontent.com/60170474/181310629-9c19e4eb-ae03-4fa2-8b8a-783302c9016c.png)

What could cause this is

[2022-07-27 17:33] matteobruni commented on #4534
It's the same bug of #4385, it will be fixed in `2.2.0` (PR #4341)

[2022-07-28 09:49] #4385 closed, assigned to matteobruni

[2022-07-28 09:49] #4413 closed, assigned to matteobruni

[2022-07-28 09:49] #4534 closed, assigned to matteobruni

[2022-07-28 09:49] #4532 closed, assigned to matteobruni

[2022-08-01 13:47] kalenmike commented on #4413
This is still broken on particles.vue3@2.1.4

[2022-08-01 14:09] matteobruni commented on #4413
I need a full project with the issue, I've never used Vite HMR.

[2022-08-01 14:45] kalenmike commented on #4413
@matteobruni Ok I will try put something together.

[2022-08-08 10:35] hschaefer123 opened #4576 "Not able to replace particles.vue3 1.41.6 through vue3-particles 2.1.4 using hexagons"
### Contact Details

holger.schaefer@gmail.com

### What happened?

Hi,
i am not able to replace my particles.vue3 1.41.6 through vue3-particles 2.1.4.

Also a litle bit irritated by package names (renamed?).

Using it this way

[code]
It is working fine with 1.x but i am not able to upgrade.

Any Ideas?

I just see, that BackgroundColor is fading a little bit, but hex pathes are not drawn.
There

[2022-08-08 10:55] matteobruni commented on #4576
Have you read the updated readme file of the component? <https://github.com/matteobruni/tsparticles/tree/main/components/vue3#demo-config>

It works both for `particles.vue3` and `vue3-particles`, they're still both supported.

This is the article on the upgrade from v1 to v2: <https://dev.to/matteobruni/tsparticles-205-is-out-breaking-changes-ahead-keeping-the-1x-support-2n63>

Basically, you nee

[2022-08-08 11:39] hschaefer123 commented on #4576
Hi Matteo,
sorry, have not catched the upgrade docs.

It is now working adding separated packages:

"tsparticles": "^2.1.4",
"tsparticles-engine": "^2.1.4",
"tsparticles-path-polygon": "^2.1.4",
"vue3-particles": "^2.1.4",

There is still one vue3 issus:

Trying to use
`import Particles from "vue3-particles";`
and
`components: { Particles },`

is throwing an error:
`
vue3-particles.es.js?87b9:5690

[2022-08-08 12:08] matteobruni commented on #4576
I've tried launching the demo project now (https://github.com/matteobruni/tsparticles/tree/main/demo/vue3) but I got no errors and it's working as expected. Can you create a reproducible sample on CodeSandbox or StackBlitz? Or share a zip file with the issue.

[2022-08-08 18:48] Vija02 opened #4577 "[Bug]: react-tsparticles npm package not using correct engine dependency"
### Contact Details

hi@michaelsalim.co.uk

### What happened?

In `react-tsparticles` v2.1.4, its `package.json` has a dependency of `tsparticles-engine` for v2.0.6.
Looking at the repo, the version looks to be matching: https://github.com/matteobruni/tsparticles/blob/main/components/react/package.json

However, if I pull the package from npm, it says otherwise.

Steps to reproduce:
[code]

Here'

[2022-08-08 18:51] matteobruni commented on #4577
I've already noticed that, thanks for reporting that. It will be fixed in 2.2.0, it should install the latest version since the `^` semver is used.

[2022-08-08 18:55] Vija02 commented on #4577
Awesome. It works fine for new installs but if you're upgrading (like me), `yarn.lock` likes to keep the older version so you have to update it manually.

[2022-08-10 16:46] kalenmike commented on #4413
@matteobruni I put together a small project but the issue is not occuring, so it seems to be related to my specific repo. Thanks for the time, I will look into my repo.

[2022-08-11 09:35] #4577 closed, assigned to matteobruni

[2022-08-12 05:02] jewel109 commented on #4492
@matteobruni can i work on this ?

[2022-08-12 06:02] matteobruni commented on #4492
Yeah sure

[2022-08-12 16:06] RandomTrickster commented on #3976
It works perfectly fine for me on Arch Linux Firefox.

[2022-08-12 17:51] Jozaguts opened #4606 "Destroyed hook doesn't work perfectly [Bug]:"
### Contact Details

contact@jozaguts.dev

### What happened?

When enter the app it fires a console error, if navigates by vue-rotuer everything works fine!

` TypeError: Cannot read properties of undefined (reading 'destroyed')`

### tsParticles Version

2.2.1

### Which library are you using?

Vanilla (tsparticles), Vue.js 3.x (vue3-particles, particles.vue3)

### tsParticles Configuration

[co

[2022-08-12 21:29] matteobruni commented on #4606
@Jozaguts do you have a sample project where I can replicate the issue?

[2022-08-13 14:09] tryraisins opened #4610 "Wrong Installation Command for ReactJS"
### Contact Details

tryraisins@gmail.com

### What do you need?

the installation code in the readme (`npm install react-particles`)is incorrect/incomplete. To successfully install all dependencies I had to run: `npm install react-particles tsparticles react-tsparticles`

### tsParticles Version

 react-tsparticles:  2.2.1,   tsparticles: 2.2.1, react-particles: 2.2.1

### Which library are you u

[2022-08-13 16:32] matteobruni commented on #4610
I know that `tsparticles` is not in the README.md but that's because you could use `tsparticles-slim` or any other preset, and those packages don't require `tsparticles` installed.

Install both `react-particles` and `react-tsparticles` is redundant. Only one of them is necessary, since they're the same library with a different name.

[2022-08-13 16:32] #4610 closed, assigned to matteobruni

[2022-08-16 02:45] ReadyPlayerEmma opened #4622 "[Bug]: Touch events cause onClick interaction to fire twice"
### Contact Details

_No response_

### What happened?

When touching the screen on a mobile device (Android and iOS confirmed) while having onClick specified, the onClick event fires twice. This appears to be a common bug with handling touch events across several libraries. Both the touch event and click events fire and it is necessary to handle them together and detect if touch event has already

[2022-08-16 06:48] matteobruni commented on #4622
Thanks, I've never noticed that. I've seen that the "new" pointer events are recommended instead of the old mouse events. The unsupported browsers have a small market share percent and can be ignored IMO.

I think a 2.2.2 will be released today with this fix.

[2022-08-16 12:44] #4622 closed, assigned to matteobruni

[2022-08-16 13:32] #4576 closed, assigned to matteobruni

[2022-08-16 13:32] #3976 closed, assigned to matteobruni

[2022-08-16 13:33] #3502 closed, assigned to matteobruni

[2022-08-16 13:33] #2354 closed, assigned to matteobruni

[2022-08-16 13:33] #2276 closed, assigned to matteobruni, ainneo, nishihere19, utkarshhbtu

[2022-08-19 11:22] meneman opened #4638 "Customizing background color of fireworks preset results in flashing color before fading to black"
### Contact Details

ja.steege@gmail.com

### What do you need?

Hello,
i tried to costomize the background of the tsparticles-preset-fireworks preset. I wen`t about it as following:

[code]

This results into the background being white for a moment and than fading to black. From my understanding of the following text from the presets github page, changing the background color should be possible:

[2022-08-19 11:53] matteobruni commented on #4638
Duplicate of #3495

[2022-08-19 11:53] #4638 closed, assigned to matteobruni

[2022-08-20 07:03] rajatsonibkn2002 opened #4642 "Buttons and inputs getting transparent"
### Contact Details

_No response_

### What do you need?

Whenever I am using particles in my react component, then it is overlapping my input and button elements. How can I avoid the same?

### tsParticles Version

2.2.2

### Which library are you using?

React.js (react-particles, react-tsparticles, react-particles-js)

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-08-20 07:10] #4642 closed, assigned to matteobruni

[2022-08-20 11:01] kien-dang commented on #4606
I've got the same issue. However, I found that `detectsOn` is not an option in tsparticles 2.x. Just remove `detectsOn` from your configuration

https://codesandbox.io/s/beautiful-wind-2u0btv?file=/src/App.js

[2022-08-20 15:17] matteobruni commented on #4606
`detectsOn` is a part of the `interactivity` options as you can see here: https://github.com/matteobruni/tsparticles/blob/da8deec63e830c07a7409731b96e0ab8c336bd70/engine/src/Options/Classes/Interactivity/Interactivity.ts#L19 and is set here: https://github.com/matteobruni/tsparticles/blob/da8deec63e830c07a7409731b96e0ab8c336bd70/engine/src/Options/Classes/Interactivity/Interactivity.ts#L60

About

[2022-08-20 15:58] Jozaguts commented on #4606
My problem was with nuxtjs3, I use Vue-particles as a plugin so I remove my file plugins/vue-particles.client.ts from nuxt and I use it like a regular component and everything works well

## component
[code]

## package. json

[code]

[2022-08-20 16:10] matteobruni commented on #4606
You can find a working sample with Nuxt3 here: https://github.com/tsparticles/nuxt3-particles-demo

[2022-08-21 10:50] kien-dang commented on #4606
I updated the code with `detectsOn` option and it is error now.

https://codesandbox.io/s/beautiful-wind-2u0btv?file=/src/App.js

If you remove `detectsOn` from `interactivity`, the code will run.

[2022-08-21 17:56] matteobruni commented on #4606
That helped thanks, I've found the issue!

[2022-08-21 22:21] #4606 closed, assigned to matteobruni

[2022-08-23 13:58] Wollivan opened #4654 "How to make particles interact with an external div?"
### Contact Details

@Wollivan on GitHub

### What is your request?

An option to have the particles interact with another element in the same way they do the mouse.

For example, if the particles are set to move out of the way of the cursor, have them ALSO move out of the way of a div that is moving across the because of a css animation.

### tsParticles Version

2.2.3

### Which library are you

[2022-08-23 14:14] matteobruni commented on #4654
It's something that already exists, you can see a sample here: https://codepen.io/matteobruni/pen/mdVdPKj

[2022-08-23 14:21] Wollivan commented on #4654
Oh incredible thanks! I will have a go at implementing this at some point then!

[2022-08-23 14:21] #4654 closed, assigned to matteobruni

[2022-08-26 07:05] talhabw opened #4679 "[Bug]: Error when using Vue 3 component in Nuxt 3"
### Contact Details

talha@karasu.xyz

### What happened?

I am trying to use your Vue 3 component in Nuxt 3. It works as expected, but there is an error on the console. ParticlesComponent is inside the `<ClientOnly>` tag, but that doesn't fix it.

Error on console:
[code]

### tsParticles Version

2.2.3

### Which library are you using?

Vue.js 3.x (vue3-particles, particles.vue3)

### tsParticle

[2022-08-26 07:32] matteobruni commented on #4679
Hi @talhabw, I need a reproducible sample to see more error details. I don't have that error in the Nuxt 3 demo here: https://github.com/tsparticles/nuxt3-particles-demo

[2022-08-26 07:49] matteobruni commented on #4679
Ok, it's not necessary providing a sample. I've seen that the #4606 is still a thing, the `guardCheck` function has a bug. It happens only in `detectsOn: "canvas"`.

[2022-08-26 07:52] talhabw commented on #4679
Hi, sorry for not providing an example from the start. You are indeed right, I experimented with my config a little and realized it only happens when `detectsOn: "canvas"`.

[2022-08-26 13:41] #4679 closed, assigned to matteobruni

[2022-08-31 15:18] titusdecali opened #4697 "How to start, pause, stop animation in particles.Vue3"
### Contact Details

titusdecali@gmail.com

### What do you need?

I have looked everything to figure out how to simply `start` and `pause` the animation in `particle.vue3` and haven't figured out where to fire the methods on.

I am also using the `shape-confetti` plugin.

I've added a ref to the `<Particles>` element, but using that specific ref like: `refName.start()`, `refName.pause` or even `r

[2022-08-31 16:20] matteobruni commented on #1184
Or you can just use the options like in this sample: https://codepen.io/matteobruni/pen/xxjKgPg

Setting the `emitters.life` options like this:

[code]

and the `duration` field in the main options with a milliseconds value (it's a bug that will be fixed in #4605, that value should be seconds)

[code]

And you'll have the same without having breaking changes in future releases.

[2022-08-31 16:22] matteobruni commented on #4697
Please update to the latest version, `shape-confetti` was deprecated to have a more realistic and configurable effect few months ago.

The object inside the `particlesLoaded` function is the container which can be stored and has `play`/`pause`/`start`/`stop`/`refresh` methods.

[2022-08-31 23:37] titusdecali commented on #4697
@matteobruni thank you for the quick reply.

I'm able to access the methods directly inside of `particlesLoaded`, but not when returning the inner container.

This makes it extremely hard to use dynamically. Can you please explain the following two issues for me?

I also tried to bind the container to a data() variable and reference the actions from there, but it says `cannot access a class outsid

[2022-09-01 00:38] matteobruni commented on #4697
Checkout this demo, it shows how to access the `start` method, but it's the same for `play`/`pause`/`stop`/`refresh`: https://codesandbox.io/s/eager-shadow-9bkmsr?file=/src/App.vue

Anyway, the npm link you sent has the import for the `loadFull` (not `fullLoad`) and the functions that need to be exposed from Vue. There are a few different modes of exposing properties, from composition APIs to the

[2022-09-01 00:57] titusdecali commented on #4697
@matteobruni I've updated my previous comment (was hoping to edit it before you looked, but you're too fast! 😂

I've been using Vue for 5 years, and I am VERY familiar with how it works. How this library works... is a different matter entirely. I've never had such difficulty.

My point with `loadFull` above (my bad, didn't see it due to my dark screen reader), was that new devs coming in to use th

[2022-09-01 05:19] matteobruni commented on #4697
@titusdecali in your updated code you are using a `function` as an `object`.

[code]

[code]

Here you are using `particlesLoaded` without parameters and trying to call a method out of a function. At least you should have used brackets before the dot, but that function is used by the library and it's called every time the `container` object is updated. You must store that object in another variabl

[2022-09-01 06:57] titusdecali commented on #4697
@matteobruni Thanks for helping me understand the flow of logic and answering my dumb questions.

**As a meaningful thankyou, I just sent you a sponsor donation 🤑.**
For a library of this size, I'm surprised you don't have more sponsors!

I've got it triggering now using a Vuex getter, but I still have the issue I mentioned above about the particles disappearing when I used `pause()`. How can I pa

[2022-09-01 16:30] matteobruni commented on #4697
You can see the answers given here: https://github.com/matteobruni/tsparticles/issues/1184#issuecomment-1233153193

You can achieve this with only emitters options as explained there. You can skip the `duration` option if you want to `start`/`stop` the particles programmatically.

[2022-09-02 01:02] #4697 closed, assigned to matteobruni

[2022-09-10 01:18] danielrs95 commented on #3977
@matteobruni I'm a new comer and I would like to start helping with this library! (I already im using it on my portfolio page)

[2022-09-10 05:06] matteobruni commented on #3977
This issue is something that will be worked when 3.0 will be planned.

There's a new website project still in progress if you want to help, I don't have time to work on that actually. You can work on that, this is the PR started, you can continue from here https://github.com/matteobruni/tsparticles/pull/4360

If you have discord or slack or telegram you can join there so we can talk easily.

[2022-09-11 20:48] #4492 closed, assigned to matteobruni

[2022-09-11 20:53] matteobruni commented on #4492
@SquitchYT here you can find demo configs:
- Image input: https://github.com/matteobruni/tsparticles/blob/main/demo/vanilla/public/presets/imageMask.json
- Text input: https://github.com/matteobruni/tsparticles/blob/main/demo/vanilla/public/presets/textMask.json

[2022-09-23 07:22] matteobruni opened #4725 "New Website Design"
The website needs some improvements, there's already a PR (#1262) that I started working on. Any help is welcome. I don't have guidelines about that, be creative and we'll review ideas together.

You can find a forum post on the Discord here: https://discord.com/channels/872061157379301416/1022815383209660447

**This is an open-source library with almost no revenues, all the work here is done for

[2022-09-24 11:59] krupalitrivedi opened #4731 "Improve Readme files and documentation"
### Contact Details

krupalitrivedi2002@gmail.com

### What do you need?

Greetings,

During Hacktoberfest, I would love to work on making changes in the ReadMe/documentation files present in the repository. These changes can help make the repository look better! I would like if you can assign this issue to me!

### tsParticles Version

v2

### Which library are you using?

Vanilla (tsparticles)

[2022-09-24 12:06] matteobruni commented on #4731
This could be linked to #1228

[2022-09-24 12:09] krupalitrivedi commented on #4731
Which one shall I comment on to get it assigned to me? This one or 1228

[2022-09-24 13:57] matteobruni commented on #4731
This one, just keep in mind #1228 when you work on that

[2022-09-24 22:47] matteobruni opened #4732 "Improve WordPress Plugin"
The WordPress plugin actually is just a Gutenberg block, but I think it could fit also as a shortcode, and an Elementor plugin as well.

[2022-09-25 10:53] SaarthakMaini commented on #4732
Hello @matteobruni ,👋

I would like to contribute to the repository under Hacktoberfest

I have researched what a WordPress plugin, Gutenberg block, shortcode, etc is.

If possible, could you please give some more context on the issue?

I'll do my research and create a Pull Request in October

Thank You!😁

[2022-09-25 11:29] matteobruni commented on #4732
Hi @SaarthakMaini, since not everyone uses Gutenberg for editing their pages, I'd like to add a shortcode (for examples [tsparticles-block]) that can be used by advanced users who prefers using the texteditor instead of the graphical one.

Creating a more complex plugin gives also the possibility to edit default values or to preload plugins instead of the standard `loadFull` function from `tsparti

[2022-09-26 05:12] Anurag607 commented on #4725
I would like to work on this issue

[2022-09-26 05:41] matteobruni commented on #4725
You’re free to work on it

[2022-09-29 05:04] samster44 opened #4743 "typescript support instructions for react-particles needs updating to include required import libraries"
### Contact Details

samster44@gmail.com

### What do you need?

create-react-app has these imports already included, but these are not included in the 'readme.md' code snippets for the typescript implementation:

import type { Engine } from "tsparticles-engine";
import { ISourceOptions } from "tsparticles-engine";

should also note that the only relevant hook is:

    const particlesInit = useCal

[2022-09-30 16:55] #4743 closed, assigned to matteobruni

[2022-10-01 03:13] Mohamed-Ayaan358 commented on #4725
Could I potentially work on this?

And if you get any information on how you wish to improve the website?

![image](https://user-images.githubusercontent.com/72858215/193384327-1879f914-f0e3-4230-b561-1b466d8e0939.png)

[2022-10-01 06:20] matteobruni commented on #4725
Yes you can, there is a PR with a new website that needs to be filled with text and samples here #4360 , you can start from that

[2022-10-01 09:50] princefishthrower commented on #2439
@matteobruni - this could potentially be done, but as you said, `canvas` can't be used in React Native. Instead, we'd have to port the existing logic to something like React Native's `Animated` module. Not sure how much in the code is coupled to canvas directly. However, I'm a daily developer in React Native and having this library work there would be very cool indeed :) I will take a look

[2022-10-01 09:57] princefishthrower opened #4745 "[Bug]: Trying to contribute, `lerna bootstrap` fails"
### Contact Details

_No response_

### What happened?

As mentioned in https://github.com/matteobruni/tsparticles/blob/main/CONTRIBUTING.md, a `lerna bootstrap` is required, but I get this:

[code]

EDIT: Looking, here: https://github.com/lerna/lerna/blob/main/commands/bootstrap/README.md#--use-workspaces it seems we also need a

[code]

in the root `package.json` ? Not sure, I'm not proficient w

[2022-10-01 11:00] matteobruni commented on #4745
I need to update the CONTRIBUTING.md, instead of `lerna bootstrap` you should run `pnpm install`

[2022-10-01 11:08] princefishthrower commented on #4745
Ah perfect. Yes, `pnpm install` works fine! But is the build command then different? Or is it still `npx lerna run build`?

[2022-10-01 11:13] matteobruni commented on #4745
The build is the same, `npx lerna run build` or `lerna run build` are the same. For running without `npx` I think `lerna` should be installed globally.

[2022-10-01 11:14] princefishthrower commented on #4745
Ok, I still get the workspace issue:

[code]

[2022-10-01 11:22] matteobruni commented on #4745
Did you do any changes to the project files? The CI is working with those steps.

You can see steps here: https://github.com/matteobruni/tsparticles/blob/82f6c1bad70dc2dc514ef94d34f92e52d4e95182/.github/workflows/nodejs.yml#L59 (don't worry about the `--no-frozen-lockfile` flag, it's just for the CI, also the `build:ci` command is only for the CI, the standard `build` command fixes some of the lin

[2022-10-01 11:28] princefishthrower commented on #4745
Haven't changed anything yet:

[code]

[2022-10-01 12:06] matteobruni commented on #4745
I don't know why it says `Yarn` workspaces, I'm using `pnpm`. I cloned the repository in another PC some days ago and with `pnpm install` and `npx lerna run build` it worked.

Can you try `pnpx lerna run build`, it uses `pnpm` for `npx` commands, maybe it will work.

[2022-10-01 13:03] matteobruni commented on #4745
@princefishthrower I completely forgot, there's a bug in `pnpm` `7.12`, use the version `7.11.0` instead

[2022-10-04 22:03] OjashKush commented on #4731
Issue is still open. Can you tell what need to be added or modified.

[2022-10-08 22:29] Yash-RajSingh commented on #4725
Hey can you please guide me on how I can contribute to this? I'm a bit new to open source but I have a decent knowledge of Js and web dev.

[2022-10-11 14:19] matteobruni opened #4763 "Update Dependency Charts"
Many packages have a dependency chart, but they are not updated to their `package.json` files.

To update that, follow the existing format and check every `package.json` file (`dependencies` only)

[2022-10-11 16:12] ztjhz commented on #4763
I can do this, please assign it to me.

[2022-10-12 01:39] ghost opened #4766 "Feature Request: "delay for animation to start" or "delay for first emitter to start""
### What is your request?

Good morning.

I use the firework preset.
Currently I need to set in JavaScript a command to await 8 seconds before the first firework explosion ever starts to be emitted.
After the first explosion, subsequent explosions follow shortly after, less than a second later.

Is it possible to set just with tsParticles, this initial delay for the first emitter/firework explosio

[2022-10-12 02:03] ztjhz commented on #4763
Can you elaborate on what you mean by packages having a dependency chart but they are not updated to their package.json?

[2022-10-12 05:09] matteobruni commented on #4763
For example check this readme file: https://github.com/matteobruni/tsparticles/tree/main/presets/stars

At the end of the file, there’s a chart that displays the dependencies. Some charts are outdated or missing. They need to be displayed only in presets, bundles or any other package with multiple tsparticles dependencies

[2022-10-12 05:20] matteobruni commented on #4766
It's something I never thought about, a different initial delay. It will be implemented in the upcoming 2.4.0

[2022-10-14 17:39] Cor4zon commented on #4766
I can take it. Please assign it to me

[2022-10-19 13:46] darkvortex0 opened #4777 "[Bug]: Please Help with "Aw, Snap!" page crashes after leaving Particles running for too long"
### Contact Details

hello@socialectric.com

### What happened?

I needed a code that would allow interactive logos, repulse on hover with random movement, so I found TSParticles. I have used Particle JS before, but it seems TSParticles is more practical for this use case. For some reason, after awhile, the screen would go blank and says "Aw, Snap." The browser crashes and I wasn't able to find ou

[2022-10-19 14:56] matteobruni commented on #4777
You are using 2.1.4 which is not the latest, is the bug still a thing in the latest version?

[2022-10-19 14:59] matteobruni commented on #4777
I can't find particles in your website from my phone, can you share the exact link for seeing them in action?

[2022-10-20 08:11] tomandjerry36 commented on #4766
I can help you to solve this issue. Please assign me. @marceloaof

[2022-10-20 09:00] tomandjerry36 commented on #4766
I think adding a delay will sort out this issue.
Have you tried..?

[2022-10-20 09:23] matteobruni commented on #4766
The resolution for this issue is to create two options: delay for the root options, and delay for the emitter options. Both must delay the animation for the given number of seconds.

[2022-10-20 09:40] tomandjerry36 commented on #4766
Yes exactly

[2022-10-20 09:43] tomandjerry36 commented on #4766
https://www.freecodecamp.org/news/javascript-settimeout-js-timer-to-delay-n-seconds/

https://www.npmjs.com/package/event-emitter-es6

These Links might help

[2022-10-20 10:15] matteobruni commented on #4766
There's no need for additional packages, The engine must be kept dependency free. Also, the `setTimeout` for these features is useless, there's already an internal timer using the `requestAnimationFrame` which is more performant.

It's a feature request, this issue requires some code to be implemented in the engine and in the emitters plugin.

I know that it can be achieved using other functions o

[2022-10-20 11:00] 0xtdey commented on #4731
Is this issue still open? If yes can you kindly assign it to me?

[2022-10-23 18:03] leobartowski opened #4784 "Cannot find "tsparticles" to import loadFull"
### Contact Details

_No response_

### What do you need?

I cannot find:

### tsParticles Version

2.3.3

### Which library are you using?

Angular (ng-particles)

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-23 18:11] matteobruni commented on #4784
Have you installed the package `"tsparticles"`?

[2022-10-23 18:13] leobartowski commented on #4784
Hi, I've installed `:ng-particles tsparticles-engine` as reported here: https://www.npmjs.com/package/ng-particles

[2022-10-23 18:32] matteobruni commented on #4784
If you want to use `loadFull` you must install `tsparticles`, it's not mandatory since you can use `loadSlim` from `tsparticles-slim` or any other preset, or custom configuration including manually the plugins you prefer

[2022-10-23 18:55] muckee opened #4785 "Canvas does not have accessible name. Does not accomodate keyboard navigation."
### Contact Details

_No response_

### What do you need?

The react-particles package fails accessibility tests because the canvas has no accessible name by default and because it does not support keyboard navigation.

In order to reproduce, simply render any react-particles element and then lint with andi.js or similar.

The name could perhaps be derived from the ID, although this solution may b

[2022-10-23 19:58] #4784 closed, assigned to matteobruni

[2022-10-23 21:14] jbarone96 opened #4786 "[Bug]: Can't deploy with tsParticles..."
### Contact Details

j.barone024@gmail.com

### What happened?

I am trying to deploy my React app through Vercel and I keep getting an error when install dependencies and it gets to tsparticles and can't complete the build. Everything works properly if I just 'npm start' the application but it doesn't deploy properly.. I would love to have particles on my portfolio but it seems like I am getting

[2022-10-23 21:26] redgianttechnologies commented on #4786
Particles is spelled wrong in your npm error.
react-tspartciles@*

[2022-10-23 23:54] jbarone96 commented on #4786
Fixed that and reinstalled. Still getting the error in the screenshot when deploying.

[2022-10-24 00:19] matteobruni commented on #4786
Same error with same package name? The error you posted was 404 not found but there are two packages available.

- https://www.npmjs.com/package/react-particles
- https://www.npmjs.com/package/react-tsparticles

Re-check your config files and search for the typo. A 404 error is a typo you made.

[2022-10-24 00:41] jbarone96 commented on #4786
No more 404 error. I still get the deployment error.

[2022-10-24 00:59] matteobruni commented on #4786
It’s nothing related to tsParticles that error, it says also `react-scripts` not found. You should try asking that to Vercel support.

[2022-10-24 00:59] #4786 closed, assigned to matteobruni

[2022-10-30 13:52] lensbart opened #4794 "Please consider removing custom `install` script"
### Contact Details

_No response_

### What do you need?

I previously filed [issue ](https://github.com/matteobruni/tsparticles/issues/3502) which is closed as “completed”, but the custom `install` script only seems to be removed from `tsparticles`, not `react-tsparticles` or `tsparticles-engine`.

(I would have commented on that issue, but it’s locked now.)

More information can be found in the

[2022-10-30 21:29] matteobruni commented on #4766
I'm working on this, and emitters already have this feature, but I forgot about that.

This is a sample config:

[code]

@marceloaof this should help you achieving this. The delay option in the root object will be available starting from `2.4.0` (PR: #4753)

[2022-10-30 23:51] #4766 closed, assigned to matteobruni, Cor4zon, tomandjerry36

[2022-10-30 23:51] #4785 closed, assigned to matteobruni

[2022-10-30 23:51] #4745 closed, assigned to matteobruni

[2022-10-31 00:20] matteobruni commented on #4794
This is not a planned change in the near future. There are still many tutorials using `react-particles-js` for showing particles in a React environment.
Maybe in the future, these scripts will be removed, keeping this open is not necessary.

[2022-10-31 00:20] #4794 closed, assigned to matteobruni

[2022-10-31 00:21] matteobruni commented on #4777
Closed for inactivity

[2022-10-31 00:21] #4777 closed, assigned to matteobruni

[2022-10-31 00:21] #1325 closed, assigned to matteobruni, mitalrs

[2022-10-31 00:22] #1422 closed, assigned to matteobruni

[2022-10-31 00:23] #930 closed, assigned to nobody

[2022-10-31 23:23] ghost commented on #4766
To the people who got involved in this issue and especially @matteobruni

Thank you

[2022-10-31 23:36] matteobruni commented on #4766
Let's make it clear:

## Life

Contains options for the creation of the emitter

## Rate

Contains options for the particles emitting rate/speed

---

You can see sample here: https://codepen.io/matteobruni/pen/zYarqVX

It waits 8 seconds to spawn the emitter, but every particle spawns after 0.1 seconds. Is that what you meant @marceloaof?

[2022-11-01 00:02] matteobruni commented on #4766
Ok, I've understood the problem now, you'd like to replicate the fireworks preset with custom options.

I'll break it down into 3 parts:

- Initial delay: achievable with `life` options of the emitters, `duration` and `count` are not needed
- Lines emission: achievable with `rate`, `quantity` determines how many particles spawn every `delay` seconds
- Explosion: achievable with `particles.life` op

[2022-11-01 07:11] dndeveloper-saurabh opened #4799 "[Bug]: Missing class properties transform"
### Contact Details

saurabh@pustack.com

### What happened?

I am not able to build since the last update.
<img width="1577" alt="Screenshot 2022-11-01 at 12 35 56 PM" src="https://user-images.githubusercontent.com/97387703/199178713-f76f7cc0-fdfe-471f-83ec-ff62843caf2e.png">

### tsParticles Version

2.1.3

### Which library are you using?

React.js (react-particles, react-tsparticles, react-par

[2022-11-01 09:12] matteobruni commented on #4799
You typed version `2.1.3`, but the latest version is `2.4.0`. Do you get the error even with the latest version? How do I reproduce the error? `transform` is not even something coming from tsParticles classes

[2022-11-01 09:35] dndeveloper-saurabh commented on #4799
<img width="1338" alt="Screenshot 2022-11-01 at 3 02 28 PM" src="https://user-images.githubusercontent.com/97387703/199203807-2e8d3538-5deb-4fc1-904c-886fb691dbae.png">

We are using 2.1.3 version of react-tsparticles in our project since last year and it was working like a charm till yesterday. But since last evening, it is showing me this error. Can you help me with which kind of babel-loader I

[2022-11-01 19:35] matteobruni commented on #4799
@dndeveloper-saurabh I need a way to reproduce this issue. My demo project is building like always.

[2022-11-02 01:02] dndeveloper-saurabh commented on #4799
@matteobruni This is the sample repository, the project code and related configs are removed but the package.json is the same.

As soon as I comment out the import statement of react-tsparticles in App.js, the app works.

https://github.com/dndeveloper-saurabh/tsparticles-bug-demo

[2022-11-02 19:04] matteobruni commented on #4799
@dndeveloper-saurabh I think this should help: https://stackoverflow.com/questions/35517245/error-missing-class-properties-transform

I'm going to fix this on my side in `2.5.0`. I try to release a fix later, since it's breaking builds. I'm going to change the `ESM` output to `ES2017`, I thought that `ESNext` would be fine, but it seems it wasn't a good idea.

[2022-11-03 00:59] #4799 closed, assigned to matteobruni

[2022-11-05 15:24] maniS001 opened #4803 "[Bug]: Particles skewed when changing device orientation"
### Contact Details

_No response_

### What happened?

I  tried to make butterfly   animation  in my game using tsparticles. when I change the device's orientation the butterfly particle was skewed for a second and normalized then. This was fine in  versions lower than 1.15. This is happening in the  above versions 2.How can I fix this issue?

### tsParticles Version

v2.5.1

### Which library ar

[2022-11-06 21:00] artrayd opened #4804 "[Bug]: Vuejs Version is not working"
### Contact Details

_No response_

### What happened?

Getting this error:
"Uncaught SyntaxError: Cannot use import statement outside a module"

### tsParticles Version

2.5.1

### Which library are you using?

Vue.js 2.x (vue2-particles, particles.vue)

### tsParticles Configuration

[code]

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

### Cod

[2022-11-06 22:44] matteobruni commented on #4804
This is the demo project for Vue 2.x version: https://github.com/matteobruni/tsparticles/tree/main/demo/vue

It works as expected, can you please share a way to reproduce the bug?

[2022-11-06 23:10] matteobruni commented on #4803
I recommend using `responsive` properties, since the window resize event tries to keep particles in the same place when resizing the window. It will refresh the particles when switching to the right configuration depending on screen width, but at least they will be showed correctly. You can also try to disable the `resize` event, but I don't recommend it.

Before `1.15` there was a bug in the wind

[2022-11-07 07:39] artrayd commented on #4804
Thank you for answering @matteobruni I checked at provided example and found that it requires to install more packages

tsparticles-engine
tsparticles

So vue2-particles is just tip of the iceberg  =)  Also everything is written at TS. Maybe you should mention it in docs? Seems like this package is too advanced for me..

I couldn't even run demo example, it throws following error:
`Cannot find mod

[2022-11-07 08:07] matteobruni commented on #4804
TS is the language used for building, the output is standard JavaScript. `tsparticles-engine` is required only for TypeScript projects or for advanced uses.

You can see a CodeSandbox project using JavaScript: https://codesandbox.io/s/quizzical-chandrasekhar-pxy59o?file=/src/App.vue

You need at least two packages: `vue2-particles` and one of these (`tsparticles`, `tsparticles-slim`, or any `tspar

[2022-11-07 13:20] richi1993 opened #4805 "reduceDuplicates doesn't work[Bug]:"
### What happened?

Hi,
I want to show each image of the image array exactly one time. So i use the property "reduceDuplicates", which in my opinion should effect exact this use case. But it does not work. The particles are created randomly, so some images are shown three times  and some images are not shown.

I found a codepen from you (https://codepen.io/matteobruni/pen/wvrWaXb), but there the v

[2022-11-07 14:30] matteobruni commented on #4805
Fixed in `tsparticles-engine` `2.5.2`, PR: #4806

[2022-11-07 14:45] #4805 closed, assigned to matteobruni

[2022-11-07 20:05] alexclassroom opened #4807 "[WordPress] Localize plugin editor"
### Contact Details

_No response_

### What do you need?

Please make the meta box of plugin settings in the block editor localizable, this is much more friendly for users.

### tsParticles Version

2.5.3

### Which library are you using?

WordPress

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-11-07 20:07] matteobruni commented on #4807
Sorry, but I didn't understand the request

[2022-11-07 22:09] alexclassroom commented on #4807
The following screenshots are captured from this plugin. All UI strings of this plugin are not translatable. If they can be translatable like Automattic official plugins, it will be much more friendly for users.
![tsparticles-block-001](https://user-images.githubusercontent.com/11472643/200425900-955373f0-5c94-451c-bc96-863086e60286.png)
![tsparticles-block-002](https://user-images.githubuserconte

[2022-11-08 02:39] maniS001 commented on #4803
I have not used any resize  property on particles , even if  I not used any  resize property on entire project this causes the same thing.  I feel that there is a settimeout problem in the source code at below mentioned function:

  handleWindowResize() {
    if (this.resizeTimeout) {
      clearTimeout(this.resizeTimeout);
      delete this.resizeTimeout;
    }
    this.resizeTimeout = setTimeout

[2022-11-08 02:56] maniS001 commented on #4803
And I have some more questions :
1. can we create particles animation using sprite sheets (example :  making the butterflies as fly ).Because  now the butterflies looks do nothing (in my case) but moving on sky.

2. Another important one is , how to destroy the particles after it crossed the screen (outside the screen). If I use destroy property , there after no more particles created. so please l

[2022-11-08 08:49] matteobruni commented on #4803
The `setTimeout` used there is just a debounce to avoid multiple consequent calls, for example when resizing the browser window on desktop environments, since there will be a lot of avoidable flickers and refreshes. I could make that timeout value configurable, it could help in similar situations.

The `resize` event in the `interactivity` section is active by default, you must disable it manually

[2022-11-08 08:51] matteobruni commented on #4803
1. I didn't understand the request, do you need animated images as shapes?
2. `particles.move.outModes: "destroy"

[2022-11-08 08:52] matteobruni commented on #4807
The fix for this will be available soon

[2022-11-08 13:31] nalonso404 opened #4809 "Origin of the particles"
### Contact Details

_No response_

### What do you need?

Hello!

I would like to ask if there's any way to set an origin position for the particles, it's okay for me to use the fullScreen: true, but the starting point its always the middle of the page.

What i'm actually trying to achieve is:
Once you click a button, that its almost in the footer, then the particles appear, as I said, the partic

[2022-11-08 14:13] matteobruni commented on #4809
Can you show me a sample with the appearing issue? I've tried your configuration but the particles are spread all over the canvas.

[2022-11-09 03:42] madmacc opened #4811 "Cannot find module 'tsparticles' or its corresponding type declarations."
### Contact Details

wekasolutions@gmail.com

### What happened?

I get the following errors:
Error: Module not found: Error: Can't resolve 'tsparticles' in 'apppath'
error TS2307: Cannot find module 'tsparticles' or its corresponding type declarations.

Same issue as https://github.com/matteobruni/tsparticles/issues/1683

import { MoveDirection, ClickMode, HoverMode, OutMode, Engine, Container }

[2022-11-09 06:02] matteobruni commented on #4811
Duplicate of #4784

[2022-11-09 06:02] #4811 closed, assigned to matteobruni

[2022-11-09 14:15] maniS001 commented on #4803
Ok my friend, I understood.

[2022-11-09 16:36] maniS001 commented on #4803
1. yes. that's what I need. can you do anything for that ?

2. Ok. I am at the situation to keep the particles moving left only inside a div element, But unfortunately some particles getting cut when I tried to move inside div. So I have used verticleBounce for outmode property. But I am also in the situation to destroy the particle after they crossed the viewport. So how can I achieve the both in

[2022-11-09 17:37] matteobruni commented on #4803
1. Is not something you can achieve with standard tsParticles, you can create a custom shape that changes shape for every frame. It's not something that will be implemented in the library for now.
2. Instead of `verticalBounce` you can customize every bound in the `outModes` value like this:

[code]

[2022-11-10 10:12] #4804 closed, assigned to matteobruni

[2022-11-10 10:42] artrayd commented on #4804
Thank you a lot @matteobruni

[2022-11-11 21:35] xNala opened #4813 "[Bug]: Export Config and Export to Codepen no longer work"
### Contact Details

_No response_

### What happened?

A bug happened!

While trying to export ANY of your configs off of
https://particles.js.org/samples/

Nothing happens, and the code doesn't even show up in the code viewer anymore.

### tsParticles Version

I don't know the version you're using on your webpage. I assume latest.

### Which library are you using?

jQuery (jquery-particles)

###

[2022-11-21 08:53] Mohsen-Khakbiz opened #4829 "how to avoid moving dom element"
### Contact Details

_No response_

### What do you need?

hey there
currently when initiating tsparticles, it's duplicating/moving the dom element and appending to `document`
how I can prevent this behavior?
I need the dom element to stay on its place

### tsParticles Version

2.5.3

### Which library are you using?

Vanilla (tsparticles)

### Code of Conduct

- [X] I agree to follow this project

[2022-11-21 08:58] matteobruni commented on #4829
Please share your code

[2022-11-21 09:28] Mohsen-Khakbiz commented on #4829
nothing special with the code. just using the initiator `tsParticles.load("tsparticles");` using a preset config to test.
but I couldn't find any option that avoids moving the dom element

[2022-11-21 09:36] matteobruni commented on #4829
I don't understand what do you mean with `moving the dom element` but I need your code to replicate the issue in my local environment

[2022-11-21 10:04] Mohsen-Khakbiz commented on #4829
sorry my bad.
I entered a wrong element id, and tsparticles automatically creating a dom element in the doc.

but now I have another question. how I can preserve the canvas size? let's say I don't want it to be fullscreen
`fullscreen.enable` didn't work here https://codepen.io/Mohsen-Khakbiz/pen/gOKoqVN

[2022-11-21 10:49] munkacsimark commented on #4829
Hey, I checked your code. Don't add `<canvas>` manually, the package will create it for you. Just define the `div` element like: `<div id="particles-container"></div>`. Related to your question, `fullscreen` should be `fullScreen` with camelCase.

[2022-11-21 11:04] Mohsen-Khakbiz commented on #4829
silly me. that's working as expected now.
thanks for helping guys!

[2022-11-21 11:04] #4829 closed, assigned to matteobruni

[2022-11-22 10:59] Blankeos opened #4830 "[Bug]: Type 'Engine' is missing the following properties from type 'Engine': _domArray, _eventDispatcher, _initialized, _loader"
### Contact Details

_No response_

### What happened?

This exact line of code from the documentation is causing an error message:
[code]

Error Message:
[code]

### tsParticles Version

^2.5.3

### Which library are you using?

React.js (react-particles, react-tsparticles, react-particles-js)

### tsParticles Configuration

[code]

### What browsers are you seeing the problem on?

_No response_

[2022-11-23 08:11] YQisme opened #4831 "[Bug]: RangeError: Maximum call stack size exceeded."
### Contact Details

eanyang7@gmail.com

### What happened?

A bug happened!
In dev mode, I successfully added particle effects to the blog using vitepress, but an error occurred during building.
RangeError: Maximum call stack size exceeded.

### tsParticles Version

"vue3-particles": "^2.5.3"

### Which library are you using?

Vue.js 3.x (vue3-particles, particles.vue3)

### tsParticles Configura

[2022-11-23 08:15] YQisme commented on #4831
The error statement is

`const hasOwn = (val, key) => hasOwnProperty.call(val, key);`

[2022-11-23 08:22] matteobruni commented on #4831
And it’s not part of the `tsparticles` repository. Please share a sample project so I can see the code to replicate the issue

[2022-11-23 08:57] YQisme commented on #4831
I created a [demo project repository](https://github.com/YQisme/tsparticles_test) for this bug,you can clone it and debug it. Thanks a lot!
https://github.com/YQisme/tsparticles_test.git

[2022-11-23 10:41] matteobruni commented on #4831
Wrap `<CustomParticles />` in a `<ClientOnly>` tag, tsParticles cannot run server side

[2022-11-23 10:43] matteobruni commented on #4830
@Blankeos can you share the full code of your imports and particles usage?

[2022-11-23 11:08] YQisme commented on #4831
Great! It worked. Thank you again!

[2022-11-23 11:08] #4831 closed, assigned to matteobruni

[2022-11-23 18:22] Blankeos commented on #4830
### Screenshot: The code:
![image](https://user-images.githubusercontent.com/38070918/203620039-9d90e285-1ebf-4226-95a1-68f01ce5a7c2.png)

### Screenshot: The error message:
![image](https://user-images.githubusercontent.com/38070918/203620432-3643676b-fd36-40b8-907f-156b9aac78a5.png)

### The code:
[code]

[2022-11-23 19:45] matteobruni commented on #4830
https://codesandbox.io/s/staging-flower-72is51?file=/src/ParticlesBackground.tsx

I've created this CodeSandbox but it works as expected, can you replicate the issue there?

[2022-11-24 14:52] Blankeos commented on #4830
Hi @matteobruni! Thanks for the code sandbox, that helped me figure it out. I think the error was caused by the fact that `tsparticles-engine` was inside my `node_modules` folder but not in my `package.json`? It's a huge facepalm moment 🤦‍♂️ I know...

Possible Cause:
- I migrated from using `yarn` to `pnpm` months ago. It wasn't causing issues before... only until now. Or maybe I just haven't ope

[2022-11-24 14:52] #4830 closed, assigned to matteobruni

[2022-11-24 15:42] matteobruni commented on #4830
`tsparticles-engine` is a dependency of both `react-tsparticles` and `tsparticles`, I had some issues with PNPM in the past and they were solved by their team in newer versions 😅

`tsparticles-engine` for both packages are required only when using TypeScript

[2022-11-26 13:02] patbsh opened #4833 "Vue3 can't get particles working"
### Contact Details

patryk@gustomania.pl

### What do you need?

Hi, I can't get past the initial setup. I installed both vue3-particles and tsparticles libraries using npm. I imported vue3-particles in the app.js and added app.use(Particles).

I copied the example code exactly like in the github's readme and only got the background colour from the configuration to the website.

Having looked int

[2022-11-26 13:39] matteobruni commented on #4833
I need the code for helping you about that. You can checkout the working demo here: https://github.com/matteobruni/tsparticles/tree/main/demo/vue3/src

[2022-11-26 15:50] patbsh commented on #4833
I used the working demo <script> and it worked. Seems like it does not work without typescript?

[2022-11-26 19:07] matteobruni commented on #4833
https://codesandbox.io/s/muddy-water-0lqn46?file=/src/main.js It works also in JavaScript as you can see here

[2022-11-27 15:27] patbsh commented on #4833
Thank you very much! I appreciate your prompt responses and help.

[2022-11-27 15:27] #4833 closed, assigned to matteobruni

[2022-11-29 08:38] magikarp28 opened #4839 "Multitouch support"
### Contact Details

filip@omnivor.hr

### What is your request?

Currently only a single touch event works at one time for events, it would be nice if all available touch events would be handled.

### tsParticles Version

2.5.1

### Which library are you using?

React.js (react-particles, react-tsparticles, react-particles-js)

### Code of Conduct

- [X] I agree to follow this project's Code of C